{% if event.participant_users %}
<div id="participants-hot"></div>

<div class="controls m-2">
  <button id="export-file" class="mdl-button mdl-js-button mdl-button--colored  mdl-js-ripple-effect">
    Download CSV
  </button>
</div>

<div id="participant_update" data-url="{% url 'participant_update' event.pk %}"></div>
{% csrf_token %}

{{event.hot_data|json_script:'hot_data'}}

<script>
const hot_data  = JSON.parse(document.getElementById('hot_data').textContent)
const container = document.querySelector('#participants-hot');

//go through the columns
var dynamicColumns = [];
var headers = []
var n = 1
for (head of Object.keys(hot_data[0])) {
  if(n==1){
    n++
    continue
  } else {
    var col = new Object();
    col.data = head;
    // define read-only
    if( n<=8 || n >= 11 ){
      col.readOnly = true
    }
    // define cell-types
    if(['Bezahlt'].includes(head)){
      col.type = 'checkbox'
    }
    col.title = head
    headers.push(col.title)
    dynamicColumns.push(col);
    n++
  }
}

// initialize the tables
const hot = new Handsontable(container, {
  data: hot_data,
  rowHeaders: true,
  colHeaders: true,
  columnSorting: true,
  minSpareRows: 1,
  height: 'auto',
  stretchH: 'all',
  nestedHeaders: [
    [
      { label: 'Teilnehmer*in', colspan: 7 },
      { label: 'Orga', colspan: 2 },
      { label: 'Antworten', colspan: Object.keys(hot_data[0]).length - 8 },
    ],
    headers
  ],
  licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
  columns: dynamicColumns,
  afterChange: function (change, source) {
    if(source=='loadData'){
      return
    }
    var formdata = new FormData();
    formdata.append('csrfmiddlewaretoken',$('[name=csrfmiddlewaretoken]').val())
    formdata.append('data',change);
    $.ajax({
        type: "POST",
        url: $('#participant_update').attr('data-url'),
        processData: false,
        contentType: false,
        data: formdata
    })
  }
});

// for the download of the data
const exportPlugin = hot.getPlugin('exportFile');
const button = $('#export-file');

button.on('click', function(){
  exportPlugin.downloadFile('csv', {
    bom: false,
    columnDelimiter: ',',
    columnHeaders: true,
    fileExtension: 'csv',
    filename: 'TeilnehmerInnen_liste_[YYYY]-[MM]-[DD]',
    mimeType: 'text/csv',
    rowDelimiter: '\r\n',
    rowHeaders: true
  });
});
</script>
{% else %}

<p class="primary center">Noch keine Anmeldungen</p>
{% endif %}

