<section id="events">
    <div id="container">
        <h1>EVENTKALENDER</h1>
        <div class="trainer_ui">
            {% if perms.members.add_event %}
                <a href="{% url 'event_create' %}#nav" title="Veranstaltung hinzufügen"><i class="far fa-calendar-plus" style="font-size:27px;"></i></a>
            {% endif %}
            {% if perms.members.add_message %}
                <a href="{% url 'message_eve_create' %}#nav" title="Hinweis hinzufügen"><i class="far fa-sticky-note" style="font-size:27px;"></i></a>
            {% endif %}
        </div>
    </div>
    {% if event_messags %}
    <section>
        <div class="secondary padding_all_med"><h4 class="strong">Wichtige Hinweise</h4></div>
        <div class="tertiary_bg padding_tb_small">
        {% for msg in event_messags %}
             <div class="padding_all_med" >
                <div id="container">
                    <span style="color:grey; font-size:0.9rem;padding:0px;">Von {{msg.author.first_name}} ({{msg.date |date:'d.m.Y'}})</span>
                    <h5>{{msg.title}}</h5>
                    <p>{{msg.message}}</p>
                    <div class="trainer_ui">
                        {% if perms.members.delete_message %}
                        <a href="{% url 'message_delete' msg.id %}#nav" title="Löschen"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                        {% endif %}
                        {% if perms.members.change_message %}
                        <a href="{% url 'message_update' msg.id %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}

    {% if events %}
    <section style="display:flex; flex-wrap:wrap; justify-content:left;">
        {% for event in events %}
        {# show events that are not over, with the deadline not reached unless you are participant! #}
            {% if not event.is_past_due %}
                <div class="padding_all_small col-4" id="container">
                    <div>
                        {% if event.hinweis %}
                                <div id="info_position">
                                    <p class="session_alert"> {{event.hinweis}} </p>
                                </div>
                        {% endif %}
                        <div style="display:flex;" class="tertiary_bg">
                            <div class="padding_all_big polygon primary">
                                    <p class="strong">{{event.start_date|date:'M' }}</p>
                            </div>
                            <div class="second_section padding_all_big" id="container">
                                <p> {% if event.multiple_days %}
                                    {{event.start_date|date:'d.m' }} -
                                    {% endif %}
                                    {{event.end_date|date:'d.m.Y' }}
                                    </p>
                                <h4>{{event.title}}</h4>
                                <p style="color:grey;"> {{event.place}}</p>
                                {% if user in event.participant_users %}
                                    <p style="color:green" >angemeldet</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="third_session tertiary_bg padding_all_med">
                            {% if not event.deadline_reached or event.deadline_reached and user in event.participant_users or user.profile.privileged %}
                            <a class="more_info_button" href="{% url 'event_detail' event.id %}#nav">weitere Informationen</a>
                            {% else %}
                            <span style="color:grey; font-size: 0.9rem;">Anmeldung vorbei</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p> Leider gibt es im Moment keine Events für dich </p>
        {% endfor %}
    </section>
    {% else %}
        <p> Leider sind im Moment keine Events geplant </p>
    {% endif %}
</section>