{% if posts %}
<section>
    <h1 id="news">Neuigkeiten</h1>
    <div style="display:flex; flex-wrap: wrap">
    <!-- Unsere Telegramm gruppen -->
    <a href="https://t.me/+_GJPj0CjC8lhODA6" target="_blank" class="padding_all_big primary col-20" style="display: flex; flex-direction: column;">
        <i class="fab fa-telegram-plane" style="color: white; font-size: 24pt; margin: auto;"></i>
        <span style="color: white;">Komm in unseren Telegramm-Kanal! <br>
            <p style="font-size:9pt;">Nutzung ist freiwillig! Wir kommunizieren weiterhin per Email</p>
        </span>
    </a>

    {% for post in posts %}
    <div class="padding_all_small col-4">
        <div class="padding_all_small tertiary_bg" style="height:100%;" id="container">
            <div style="display:flex; flex-direction:column; height:100%;">
                <h4>{{post.title}}</h4>
                <div class="padding_all_small"><p style="padding-bottom:15px;">{{post.capture}}</p></div>
                <div style="position: absolute; right:0px; bottom:-3px; width:50%;" class="secondary_bg polygon2">
                    <a href="{% url 'news_detail' post.id %}" style="padding:0px; text-align:right;">
                         <p class="more_info_button">Weiterlesen</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
{% endif %}
