/* line 3, members/static/style.scss */
html {
  font-size: 15px; }

/* line 6, members/static/style.scss */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

/* For mobile phones: */
/* line 12, members/static/style.scss */
[class*="col-"] {
  width: 100%; }

/* line 15, members/static/style.scss */
.frame {
  margin-right: 10%;
  margin-left: 10%; }

/* line 19, members/static/style.scss */
.content_wrapper {
  background-color: #262626;
  padding-bottom: 5%;
  overflow: hidden; }

/* line 24, members/static/style.scss */
#container {
  position: relative; }

/* line 27, members/static/style.scss */
#info_position {
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 2; }

/* line 33, members/static/style.scss */
#info_position2 {
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2; }

/* line 39, members/static/style.scss */
#info_position3 {
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 2; }

/* line 45, members/static/style.scss */
body {
  background-color: #191919;
  color: #d1d1d1;
  font-family: Catamaran Noto sans-serif;
  line-height: 1.2; }

/* line 51, members/static/style.scss */
section {
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  overflow: hidden; }

/* line 57, members/static/style.scss */
.first_div {
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 61, members/static/style.scss */
ul {
  list-style: none;
  overflow: hidden; }

/* line 65, members/static/style.scss */
ol {
  list-style: none;
  overflow: hidden; }

/* line 69, members/static/style.scss */
a {
  text-decoration: none; }

/* line 72, members/static/style.scss */
header {
  padding: 20px;
  text-align: center;
  background: #191919; }

/* line 77, members/static/style.scss */
header img {
  min-height: 15%;
  min-width: 15%; }

/*Navigationsleiste */
/* line 82, members/static/style.scss */
nav {
  z-index: 5; }

/* line 85, members/static/style.scss */
.three_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  font-size: .9rem;
  background-color: #191919;
  overflow: hidden;
  font-family: Roboto Noto SansSerif;
  font-weight: 500; }

/* line 95, members/static/style.scss */
.three_grid a {
  display: block;
  text-align: center;
  color: #d1d1d1;
  padding-top: 12px;
  padding-bottom: 12px; }

/* line 102, members/static/style.scss */
.three_grid a:hover {
  color: white; }

/* line 106, members/static/style.scss */
.float_left {
  float: left; }

/* line 109, members/static/style.scss */
.float_right {
  float: right; }

/* Dropdown Menu */
/* line 114, members/static/style.scss */
.navbar {
  clear: both;
  overflow: hidden;
  background-color: #191919;
  padding-right: 10%;
  padding-left: 10%; }
  /* line 121, members/static/style.scss */
  .navbar a {
    font-size: 14px;
    color: #088eaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }

/* line 129, members/static/style.scss */
.navbar_blue {
  padding-left: 10%;
  clear: both;
  overflow: hidden;
  background-color: red; }
  /* line 135, members/static/style.scss */
  .navbar_blue a {
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none; }

/* line 144, members/static/style.scss */
.dropdown {
  overflow: hidden; }

/* line 147, members/static/style.scss */
.dropdown .dropbtn {
  font-size: 13px;
  background-color: #191919;
  border: none;
  outline: none;
  color: #088eaa;
  font-size: 12px;
  padding: 14px 16px; }

/* line 156, members/static/style.scss */
.navbar a:hover, .dropdown:hover .dropbtn:hover {
  color: white; }

/* line 159, members/static/style.scss */
.dropdown:hover .dropbtn {
  color: #088eaa; }

/* line 162, members/static/style.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  z-index: 1; }

/* line 168, members/static/style.scss */
.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left; }

/* line 175, members/static/style.scss */
.dropdown-content a:hover {
  background-color: black; }

/* line 178, members/static/style.scss */
.dropdown:hover .dropdown-content {
  display: block; }

/* line 182, members/static/style.scss */
.sticky {
  position: sticky;
  top: 0; }

/* line 186, members/static/style.scss */
.equal_3 {
  float: left;
  width: 33.33%; }

/*Main Picture*/
/* line 192, members/static/style.scss */
.member_img_fixed {
  background-image: url("/static/media/home.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
  height: 450px; }

/*Content*/
/* line 200, members/static/style.scss */
h1 {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  padding-bottom: 15px; }

/* line 206, members/static/style.scss */
h2 {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 300;
  padding-bottom: 10px; }

/* line 212, members/static/style.scss */
h3 {
  font-weight: 300;
  font-size: 1.2rem; }

/*Trainingssessions*/
/*Wichtige Hinweise*/
/* line 218, members/static/style.scss */
.message_header {
  align-items: center;
  color: #fff;
  width: 100%;
  height: 42px;
  background-color: #7b1b42;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 10px;
  font-size: 16px; }

/* line 229, members/static/style.scss */
.message_body {
  color: #fff;
  width: 100%;
  background-color: #333333;
  padding: 20px; }

/* line 235, members/static/style.scss */
.message_body h1 {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 5px; }

/* line 241, members/static/style.scss */
.session_divs {
  padding-right: 0px;
  padding-bottom: 20px; }

@media only screen and (min-width: 768px) {
  /* For desktop and tablet: */
  /* line 247, members/static/style.scss */
  .session_divs {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px; } }

/* line 253, members/static/style.scss */
.first_row {
  display: flex;
  background: #333; }

/* line 257, members/static/style.scss */
.session_weekday {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 64px;
  height: 100%;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
  background-color: #088eaa; }

/* line 269, members/static/style.scss */
.blue_bg {
  background-color: #088eaa; }

/* line 272, members/static/style.scss */
.blue_font {
  color: #088eaa; }

/* line 275, members/static/style.scss */
.red_bg {
  background-color: #7b1b42; }

/* line 278, members/static/style.scss */
.red_font {
  color: #7b1b42; }

/* line 281, members/static/style.scss */
.second_section {
  display: table-cell;
  width: 75%;
  text-align: center;
  background-color: #333333;
  padding: 15px; }

/* line 288, members/static/style.scss */
.second_section h3 {
  font-size: 1.3rem;
  color: #fff; }

/* line 292, members/static/style.scss */
.second_section p {
  font-size: 0.9rem; }

/* line 295, members/static/style.scss */
.third_session {
  margin-top: 1px;
  float: left;
  width: 100%;
  padding: 5%;
  background-color: #333333; }

/* line 302, members/static/style.scss */
.third_session p {
  padding-left: 10%;
  font-size: 1rem; }

/* line 306, members/static/style.scss */
.session_alert {
  text-align: center;
  background-color: #7b1b42;
  padding: 3px; }

/* Google Maps enbedded */
/* line 312, members/static/style.scss */
#map {
  height: 400px;
  /* The height is 400 pixels */ }

/*Eventcalender*/
/* line 317, members/static/style.scss */
.more_info_button {
  color: #088eaa; }

/* line 320, members/static/style.scss */
.more_info_button:hover {
  color: #69CCE1; }

/* line 323, members/static/style.scss */
.dot_participate {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%; }

/* line 329, members/static/style.scss */
.dot_nonparticipate {
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%; }

/*Event Detail */
/* line 337, members/static/style.scss */
.sign_up {
  display: block;
  background-color: #088eaa;
  color: white;
  padding: 10px; }

/* line 343, members/static/style.scss */
.sign_up:hover {
  display: block;
  background-color: #69CCE1;
  color: white; }

/* line 348, members/static/style.scss */
.sign_down {
  display: block;
  background-color: #7b1b42;
  color: white;
  padding: 10px; }

/* line 354, members/static/style.scss */
.sign_down:hover {
  display: block;
  background-color: #a0305d;
  color: white; }

/* line 359, members/static/style.scss */
.button_padding {
  padding-right: 5px;
  padding-left: 5px; }

/* line 363, members/static/style.scss */
.time_info {
  color: grey;
  text-align: center;
  padding-top: 3px;
  font-size: 0.7rem; }

/*TrainerOverview*/
/* line 370, members/static/style.scss */
.round_profile_pic {
  border-radius: 50%;
  max-height: 150px; }

/* line 374, members/static/style.scss */
.round_profile_pic_chairman {
  border-radius: 50%;
  max-height: 120px; }

/* line 378, members/static/style.scss */
.trainer_info {
  display: table-cell;
  width: 75%;
  padding-left: 20px; }

/* line 383, members/static/style.scss */
.trainer_info h3 {
  font-size: 1.3rem;
  margin-bottom: 5px; }

/* line 387, members/static/style.scss */
.trainer_info p {
  font-size: 1rem; }

/*Trainer UI for events and sessions*/
/* line 392, members/static/style.scss */
.ui_div ul {
  background: #333333; }

/* line 395, members/static/style.scss */
.ui_div a {
  display: block;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  padding: 14px 16px; }

/* line 402, members/static/style.scss */
.ui_div li a:hover {
  background-color: #088eaa; }

/*MESSAGES */
/* line 406, members/static/style.scss */
.message_success {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border: 3px solid green;
  color: green; }

/* line 413, members/static/style.scss */
.message_error {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid #7b1b42;
  color: #7b1b42; }

/* line 420, members/static/style.scss */
.message_info {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border: 3px solid yellow;
  color: yellow; }

/* line 427, members/static/style.scss */
.message_warning {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border: 3px solid orange;
  color: orange; }

/* line 434, members/static/style.scss */
.message_debug {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  border: 3px solid white;
  color: white; }

/*footer*/
/* line 442, members/static/style.scss */
footer {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 3%;
  padding-top: 15px;
  display: block;
  background-color: #191919;
  clear: both; }

/* line 451, members/static/style.scss */
.competences {
  list-style-type: circle;
  padding: 15px;
  text-align: left; }

/* line 456, members/static/style.scss */
.first_row_chairman {
  text-align: center; }

/* line 459, members/static/style.scss */
.blue_header {
  color: white;
  text-align: center;
  background-color: #088eaa;
  padding: 10px; }

/* line 465, members/static/style.scss */
.grid-container {
  padding-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around; }

/* line 472, members/static/style.scss */
.element {
  text-align: center; }

/* line 476, members/static/style.scss */
.element:hover {
  transform: scale(1.2); }

/* line 479, members/static/style.scss */
.element:hover a {
  color: #088eaa; }

/* line 483, members/static/style.scss */
.element a {
  text-decoration: none;
  color: #fff; }

/* line 488, members/static/style.scss */
.element span {
  font-size: 1.1rem;
  font-weight: 300;
  padding: 5px;
  display: none; }

/* line 494, members/static/style.scss */
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.250rem 0;
  margin-top: 70px; }

/* line 501, members/static/style.scss */
.image_wrapper {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 350px;
  display: flex;
  width: 100%; }

/* line 510, members/static/style.scss */
.image_wrapper img {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  bottom: 0;
  height: 120%;
  width: auto; }

/* line 518, members/static/style.scss */
.trainer_ui {
  text-align: left;
  overflow: hidden; }

/* line 522, members/static/style.scss */
.trainer_ui a {
  float: left;
  padding: 5px; }

/* line 526, members/static/style.scss */
.trainer_ui p {
  font-size: 0.7rem;
  color: grey;
  padding: 5px;
  float: left; }

/* line 532, members/static/style.scss */
.trainer_ui:after {
  clear: both; }

/*For the forms */
/* line 536, members/static/style.scss */
.form_wrapper {
  display: flex;
  padding: 2rem;
  width: 100%;
  margin: 0px auto; }

/* line 542, members/static/style.scss */
.inner_form {
  background-color: #333333;
  display: inline-block;
  padding: 2rem;
  width: 100%; }

/* line 548, members/static/style.scss */
.focused {
  padding: 5px;
  font-size: 0.8rem;
  color: #078fab; }

/* line 554, members/static/style.scss */
.field_wrapper {
  padding: 5px 5%;
  text-align: left;
  width: 100%; }

/* line 559, members/static/style.scss */
.field_wrapper:after {
  clear: both; }

/* line 562, members/static/style.scss */
.field_wrapper div label {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: grey;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0; }

/* line 576, members/static/style.scss */
.field_wrapper div input {
  width: 100%;
  border: none;
  color: white;
  background-color: inherit;
  box-shadow: none; }

/* line 583, members/static/style.scss */
.field_wrapper div textarea {
  width: 100%;
  color: white;
  border: none;
  height: auto;
  resize: none;
  outline: none;
  background-color: inherit;
  padding: 15px;
  box-shadow: none; }

/* line 594, members/static/style.scss */
.field_wrapper div select {
  width: 100%;
  -moz-appearance: none;
  appearance: none;
  color: white;
  border: none;
  height: auto;
  resize: none;
  outline: none;
  background-color: inherit;
  padding: 15px;
  box-shadow: none; }

/* line 608, members/static/style.scss */
.field_wrapper div {
  margin: 3px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px;
  border-bottom-color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

/* line 619, members/static/style.scss */
.field_wrapper ul {
  padding: 15px; }

/* line 622, members/static/style.scss */
.field_wrapper ul label {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  color: white; }

/* line 628, members/static/style.scss */
.field_wrapper li {
  position: relative; }

/* line 631, members/static/style.scss */
.field_wrapper li label input {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto; }

/* line 640, members/static/style.scss */
form {
  margin: 0 auto;
  width: auto;
  width: 100%; }

/* line 646, members/static/style.scss */
form button {
  color: white;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5%;
  margin: 0 auto;
  background-color: #088eaa; }

/* line 655, members/static/style.scss */
form button:hover {
  background-color: #69CCE1; }

/* line 658, members/static/style.scss */
.form_button {
  color: white;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 100px;
  background-color: #088eaa; }

/* line 668, members/static/style.scss */
.form_button:hover {
  background-color: #69CCE1; }

/* line 671, members/static/style.scss */
.item_wrapper {
  overflow: hidden;
  display: flex;
  padding: 15px; }

/* line 676, members/static/style.scss */
.item_button {
  position: absolute;
  top: 45%;
  right: 12%; }

/* line 682, members/static/style.scss */
.item_button span {
  border-radius: 50%;
  background-color: #088eaa;
  color: white;
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

/* line 692, members/static/style.scss */
.item_button:hover span {
  background-color: #69CCE1; }

/* line 695, members/static/style.scss */
.item_button i {
  margin-top: 30%; }
