{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'public_event' object.event.slug %}"> {{object.event.title}} </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_participant_list' object.event.slug %}"> Anmeldungen </a>
    <a class="float_left"> > </a> 
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Bearbeiten </a>
</div>
{% endblock %}
{% block content %}
    <h1>{{object.first_name}} {{object.last_name}}</h1>
        <form class="padding_tb_big" id="prob_form" method="POST">
            <h3> Persönliche Daten </h3>
            {% csrf_token %}
            <div class="tertiary_bg padding_all_big">
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled first_name">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="first_name-label" name="first_name" required value=
                                {% if form.instance.first_name %} "{{form.instance.first_name}}" {% else %} "{{form.data.first_name}}" {% endif %}>
                        <span class="mdc-floating-label" id="first_name-label">Vorname</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled last_name">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="last_name-label" name="last_name" required value=
                                {% if form.instance.last_name %} "{{form.instance.last_name}}" {% else %} "{{form.data.last_name}}" {% endif %}>
                        <span class="mdc-floating-label" id="last_name-label">Nachname</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.birthday.errors %}
                    {% for error in form.birthday.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled birthday">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="birthday-label" name="birthday" required value=
                                {% if form.instance.birthday %} "{{form.instance.birthday|date:'d.m.Y'}}" {% else %} "{{form.data.birthday}}" {% endif %}>
                        <span class="mdc-floating-label" id="birthday-label">Geburtsdatum</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled phone">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="phone-label" name="phone" value=
                                {% if form.instance.phone %} "{{form.instance.phone}}" {% else %} "{{form.data.phone}}" {% endif %}>
                        <span class="mdc-floating-label" id="phone-label">Telefonnummer</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled email">
                        <input type="text" class="mdc-text-field__input" aria-labelledby="email-label" name="email" required value=
                                {% if form.instance.email %} "{{form.instance.email}}" {% else %} "{{form.data.email}}" {% endif %}>
                        <span class="mdc-floating-label" id="email-label">E-Mail-Adresse</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.contact.errors %}
                    {% for error in form.contact.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled contact">
                        <i class="mdc-select__dropdown-icon"></i>
                        <span class="mdc-text-field__ripple"></span>
                        <select id="select-contact" class="mdc-text-field__input" style="background-color:#333333;" name="contact">
                            <option value={% if form.instance.contact %} "{{form.instance.contact }}" {% else %} "" {%endif %} selected>{% if form.instance.contact %} "{{form.instance.contact }}" {% else %} "" {%endif %}</option>
                            <option value="Telegram">Telegram</option>
                            <option value="Whatsapp">WhatsApp</option>
                            <option value="sms">SMS</option>
                        </select>
                        <span class="mdc-floating-label" id="contact-label">Kontakt während der Veranstaltung</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>      
            </div>
            <br>
            <h3>Veranstaltungs-merch</h3>
            <div class="tertiary_bg padding_all_big flex_left">
                <div class="chair_col-5 float_left padding_rl_small">
                    <div class="mdc-form-field padding_rl_big">
                        <div class="mdc-checkbox">
                          <input type="checkbox" class="mdc-checkbox__native-control" id="merch_yes" name="merch_wanted" {% if form.instance.merch_wanted %} checked="checked" {% endif %}>
                          <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                          </div>
                        </div>
                        <label for="merch_yes" > <div>Merch dazubestellen</div> </label>
                    </div>
                </div>
                <div class="chair_col-5 float_left padding_rl_small">
                    <div class="padding_rl_big" id="merch_sizes" >
                        {% if form.merch_size.errors %}
                        {% for error in form.merch_size.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                        <label class="mdc-text-field mdc-text-field--filled merch_size">
                        <input type="text" class="mdc-text-field__input" aria-labelledby="merch_size-label" name="merch_size" value=
                                {% if form.instance.merch_size %} "{{form.instance.merch_size}}" {% else %} "{{form.data.merch_size}}" {% endif %}>
                        <span class="mdc-floating-label" id="merch_size-label">Merch-Größe</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    </div>
                    
                </div>
            </div>
            <br>
            <h3>Sonstiges</h3>
                <div class="tertiary_bg padding_all_big flex_left">
                    <div class="chair_col-5 float_left padding_rl_small">
                        {% if form.invoice.errors %}
                        {% for error in form.invoice.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                        <label class="mdc-text-field mdc-text-field--filled invoice">
                            <span class="mdc-text-field__ripple"></span>
                            <input type="number" class="mdc-text-field__input" aria-labelledby="invoice-label" name="invoice" required 
                                value={% if form.instance.invoice %} "{{form.instance.invoice|floatformat:"0"}}" {% else %} "{{form.data.invoice|floatformat:"0"}}" {% endif %}>
                            <span class="mdc-floating-label" id="invoice-label">Kosten</span>
                            <span class="mdc-line-ripple"></span>
                        </label>
                    </div>
                    <div class="chair_col-5 float_left padding_rl_small">
                        <div class="mdc-form-field padding_rl_big">
                            <div class="mdc-checkbox">
                              <input type="checkbox" class="mdc-checkbox__native-control" id="payed" name="payed" {% if form.instance.payed %} checked="checked" {% endif %}>
                              <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                  <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                              </div>
                            </div>
                            <label for="payed" > <div>Bereits gezahlt</div> </label>
                        </div>
                    </div>
                    <div class="chair_col-5 float_left padding_rl_small">
                    {% if form.notes.errors %}
                    {% for error in form.notes.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                        <label class="mdc-text-field mdc-text-field--filled notes">
                            <span class="mdc-text-field__ripple"></span>
                            <input type="text" class="mdc-text-field__input" aria-labelledby="notes-label" name="notes" value=
                                    {% if form.instance.notes %} "{{form.instance.notes}}" {% else %} "{{form.data.notes}}" {% endif %}>
                            <span class="mdc-floating-label" id="notes-label">Notizen</span>
                            <span class="mdc-line-ripple"></span>
                        </label>
                    </div>
                </div>
            
            <div class="flex_center_vertical">
                <div class="flex_center padding_all_big">
                    <button type="submit" class="form_button" id="prob_button">Absenden</button>
                </div>
            </div>
        </form>
    </div>
<script>
    $(document).ready(function(){
        $("#members").removeClass("here_I_am");
        $("#interested").addClass("here_I_am");
            });
</script>
<script>
    const fields = document.querySelectorAll('.mdc-text-field');
    fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
</script>
{% endblock %}