{% extends "main/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'public_event' object.event.slug %}"> {{object.event.title}} </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_participant_list' object.event.slug %}"> Anmeldungen </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Löschen </a>
</div>
{% endblock %}

{%block content %}
<section style="text-align:center;">
    <h1>{{object.first_name}} {{object.last_name}}</h1>
    <div class="flex_center">
        <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
            <p> Willst du den/die Teilnehmer*in wirklich löschen?</p>
            <form class="padding_all_big" method="POST">
                {% csrf_token %}
                <button type="submit" class="form_button_sec" style="margin: 0 auto;">Jawoll</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}