{% extends "members/base.html" %}
    {% block picture %}
    <div class="image_wrapper2 pic1cont">
        <img src="{{ STATIC_URL }}/static/media/interested.jpg" id='home_view'>
        <script type="text/javascript">
            $("document").ready(function(){
                var pic = window.pageYOffset + document.getElementsByClassName("pic1cont")[0].getBoundingClientRect().top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var pic = window.pageYOffset + document.getElementsByClassName("pic1cont")[0].getBoundingClientRect().top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block content %}
    {% if public_events or perms.interested.add_publicevent %}
    <section id="Events">
        <h1>Veranstaltungen</h1>
        {% if perms.interested.add_publicevent %}
            <a href="{%url 'public_event_add' %}" target="_blank" class="more_info_button"> Hinzufügen </a>
        {% endif %}
        <div class="flex_left">
        {% for event in public_events %}
        <div class="padding_all_small chair_col-4">
            <div class="tertiary_bg" style="height:100%;" id="container">
                <div style="display:flex; flex-direction:column; height:100%;">
                    <div class="primary padding_all_small absolute_link">
                      <h4>{{event.title}}</h4>
                      <a href="{% url 'public_event' event.slug %}#nav"></a>
                    </div>
                    <div class="padding_trl_big">
                        <h5>{{event.start_date |date:'d.m.Y'}}</h5>
                    </div>
                    <div class="padding_all_big"><p style="padding-bottom:15px;">{{event.capture}}</p></div>
                    <div style="position: absolute; right:0px; bottom:-3px; width:50%;" class="secondary_bg polygon2">
                        <a href="{% url 'public_event' event.slug %}#nav" style="padding:0px; text-align:right;">
                             <p class="more_info_button" style="margin-top: 6px">Weiterlesen</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    <section id="The_Club">
        <h1> Der Verein </h1>
        <h3>Parkour in Leipzig und Jena</h3><br>
        <p class="two_cols">
        Wir, der <strong>Twio X e.V.</strong>, sind ein <strong>Parkourverein</strong> mit dem Sitz in Leipzig. Für alle interessierten Sportler bieten wir Parkour als Breitensport an.
        Während der Großteil des Trainings in Leipzig stattfindet, haben wir <strong>ab dem 01.09.2020 eine Trainingsgruppe in Jena</strong>.
        Anfragen für ein Probetraining in Jena oder Leipzig können über das Fomular unten oder direkt über die Ansprechpartner auf der <a href="{%url 'team' %}#jena" style="padding:0px;" class="more_info_button">Teamseite</a> gestellt werden.
        Mehr Informationen zu unserem Verein findest du auf der Seite zu<a href="{%url 'offers' %}" style="padding:0px;" class="more_info_button"> unserem Angebot</a>
        </p>
        <div>
            <div class="col-4 padding_all_small float_left">
                <a href="{% url 'offers' %}">
                    <div class="tertiary_bg padding_all_big prim_hover flex_center_vertical" style="height:250px;">
                        <div class="flex_center">
                            <div style="width:30%;" >
                                <img style="width:100%;" src="{{ STATIC_URL }}/static/icons/offers.svg">
                            </div>
                        </div>
                        <p>Unser Angebot</p>
                    </div>
                </a>
            </div>
            <div class="col-4 padding_all_small float_left">
                <a href="{% url 'philosophy' %}">
                    <div class="tertiary_bg padding_all_big prim_hover flex_center_vertical" style="height:250px;">
                        <div class="flex_center">
                            <div style="width:30%;" >
                                <img style="width:100%;" src="{{ STATIC_URL }}/static/icons/philosophie.svg">
                            </div>
                        </div>
                        <p>Philosophie</p>
                    </div>
                </a>
            </div>
            <div class="col-4 padding_all_small float_left">
                <a href="{% url 'team' %}">
                    <div class="tertiary_bg padding_all_big prim_hover flex_center_vertical" style="height:250px;">
                        <div class="flex_center">
                            <div style="width:30%;" >
                                <img style="width:100%;" src="{{ STATIC_URL }}/static/icons/team.svg">
                            </div>
                        </div>
                        <p>Das Team</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block picture2 %}
    <div class="image_wrapper grey_cover pic2cont" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_01.jpg" id='extreme'>
        <script type="text/javascript">
            $("document").ready(function(){
                var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("extreme").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("extreme").style.top =(pic-win)*-0.15+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5;">
                <h1>"Das X steht für extrem"</h1>
            </div>
            <div class="flex_center" style="z-index:5;">
                <h3>Vincent Mayer, 2016</h3>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content2 %}
    <div class="frame">
        <section id="participate">
        <h1> Teilnahme </h1>
            <div class="padding_all_big secondary">
                <h3>Achtung! Aktuell ist in Leipzig die Warteliste für das Probetraining geschlossen</h3>
            </div>
            <br>
            <div class="flex_2even">
                <div class="chair_col-6 tertiary_bg">
                    <div class="padding_all_med">
                        <div>
                            <h2 id="form">Probetraining</h2>
                            <p>Nachdem Du das unten stehende Formular ausgefüllt hast, erhältst Du von uns zeitnah eine Antwort per E-Mail,
                            in welcher Du deine Probetrainings-Termine bekommst. Mit dem Trainer besprichst Du im Anschluss an das Training den weiteren Ablauf.
                            Nach vier absolvierten Trainings kannst Du eine Mitgliedschaft beantragen.</p>
                            <br>
                            <strong>Wenn Du unter 18 Jahre alt bist, sende uns bitte mit Deiner Anfrage auch die nachfolgende,
                            von deinen Eltern ausgefüllte, Einverständniserklärung.</strong><br>
                            <br>
                            <ul>
                                <li style="width:100%;">
                                    <a class="download prim_hover padding_all_big" href="{{ STATIC_URL }}/static/docs/Einverstaendniserklaerung_TwioX.pdf">
                                        <p class="padding_rl_small">Einverständniserklärung</p>
                                        <div class="flex_center_vertical">
                                            <i class="fas fa-file-download

                                            padding_rl_small"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <br>
                            <form class="padding_tb_big" id="prob_form" method="POST">
                                {% csrf_token %}
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                    <p class="padding_tb_small" style="color:red;">{{error}}</p>
                                    {% endfor %}
                                {% endif %}
                                <div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.first_name.errors %}
                                        {% for error in form.first_name.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled first_name">
                                            <span class="mdc-text-field__ripple"></span>
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="first_name-label" name="first_name" required>
                                            <span class="mdc-floating-label" id="first_name-label">Vorname</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.last_name.errors %}
                                        {% for error in form.last_name.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled last_name">
                                            <span class="mdc-text-field__ripple"></span>
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="last_name-label" name="last_name" required>
                                            <span class="mdc-floating-label" id="last_name-label">Nachname</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.birth_date.errors %}
                                        {% for error in form.birth_date.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled birth_date">
                                            <span class="mdc-text-field__ripple"></span>
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="birth_date-label" name="birth_date" required>
                                            <span class="mdc-floating-label" id="birth_date-label">Geburtsdatum</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.telephone.errors %}
                                        {% for error in form.telephone.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled telephone">
                                            <span class="mdc-text-field__ripple"></span>
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="telephone-label" name="telephone" required>
                                            <span class="mdc-floating-label" id="telephone-label">Telefonnummer</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled email">
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="email-label" name="email" required>
                                            <span class="mdc-floating-label" id="email-label">E-Mail-Adresse</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.notes.errors %}
                                        {% for error in form.notes.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled notes">
                                            <span class="mdc-text-field__ripple"></span>
                                            <input type="text" class="mdc-text-field__input" aria-labelledby="notes-label" name="notes">
                                            <span class="mdc-floating-label" id="notes-label">Anmerkungen</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        {% if form.city.errors %}
                                        {% for error in form.city.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                        <label class="mdc-text-field mdc-text-field--filled city">
                                            <i class="mdc-select__dropdown-icon"></i>
                                            <span class="mdc-text-field__ripple"></span>
                                            <select id="select-city" class="mdc-text-field__input" style="background-color:#333333;" name="city" required>
                                                <option value="" selected></option>
                                                <option style="color:grey;" disabled="disabled" value="Leipzig">Leipzig</option>
                                                <option value="Jena">Jena</option>
                                            </select>
                                            <span class="mdc-floating-label" id="city-label">Deine Stadt</span>
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                    </div>
                                    <div class="chair_col-5 float_left padding_rl_small">
                                        <div class="mdc-form-field padding_all_big">
                                            <div class="mdc-checkbox">
                                              <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung" name="confirm" required>
                                              <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                  <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                              </div>
                                            </div>

                                            <label for="speicherung" >
                                                <div>Ich stimme der <a class="more_info_button" style="padding:0px;" href="{% url 'dataprotection' %}">Datenschutzerklärung</a> zu </div>
                                            </label>
                                        </div>
                                    </div>

                                    <div style="clear:both;">
                                        <div class="flex_center_vertical">
                                            <div class="flex_center padding_all_big">
                                                <button type="submit" class="form_button" id="prob_button">Absenden</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(document).ready(function(){
                                    $("#prob_button").click(function(){
                                        $(this).html('<i class="fas fa-spinner fa-pulse"></i>');
                                        setTimeout(function(){
                                            $("#prob_button").html("Absenden");
                                            }, 3000);
                                        });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="chair_col-6 tertiary_bg">
                    <div class="padding_all_big">
                        <div class="padding_all_big">
                            <h2>Mitgliedschaft</h2>
                            <p>Schön dich wiederzusehen! Du hast dich nach erfolgreichem Probetraining dazu entschieden, unserem Verein beizutreten?
                            Wir freuen uns, dass du dich für Parkour und unseren Verein begeistern kannst. Bitte lies dir auch unsere Satzung und Beitragsordnung durch.
                            </p>
                            <br>
                            <ul>
                                <li style="width:100%;" class="padding_tb_small">
                                    <a class="download prim_hover padding_all_big" href="{{ STATIC_URL }}/static/docs/Aufnahmeantrag_Adults_TwioX.pdf">
                                        <p class="padding_rl_small">Aufnahmeantrag Erwachsene</p>
                                        <div class="flex_center_vertical">
                                            <i class="fas fa-file-download padding_rl_small"></i>
                                        </div>
                                    </a>
                                </li>
                                <li style="width:100%;" class="padding_tb_small">
                                    <a class="download prim_hover padding_all_big" href="{{ STATIC_URL }}/static/docs/Aufnahmeantrag_Kids_TwioX.pdf">
                                        <p class="padding_rl_small">Aufnahmeantrag Minderjährige</p>
                                        <div class="flex_center_vertical">
                                            <i class="fas fa-file-download padding_rl_small"></i>
                                        </div>
                                    </a>
                                </li>
                                <li style="width:100%;" class="padding_tb_small">
                                    <a class="download prim_hover padding_all_big" href="{{ STATIC_URL }}/static/docs/Satzung_TwioX.pdf">
                                        <p class="padding_rl_small">Satzung</p>
                                        <div class="flex_center_vertical">
                                            <i class="fas fa-file-download padding_rl_small"></i>
                                        </div>
                                    </a>
                                </li>
                                <li style="width:100%;" class="padding_tb_small">
                                    <a class="download prim_hover padding_all_big" href="{{ STATIC_URL }}/static/docs/Beitragsordnung_TwioX.pdf">
                                        <p class="padding_rl_small">Beitragsordnung</p>
                                        <div class="flex_center_vertical">
                                            <i class="fas fa-file-download padding_rl_small"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
    {% block chairmen %}
    {% if chairmen %}
    <section style="margin-bottom:150px;">
        <h1>DEINE ANSPRECHPARTNER</h1>
        <div class="flex_left">
        {% for object in chairmen.all %}
            <div class="col-5 padding_all_small">
                <div style="height:100%;">
                    <div class="flex_left">
                        <div class="chair_col-5 flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small round_profile_pic_chairman" src="{{object.image.url}}">
                            </div>
                        </div>
                        <div class="chair_col-5 flex_center">
                            <div class="flex_center_vertical_even padding_all_small">
                                <h3>{{object.user.first_name |upper}} {{object.user.last_name |upper}}</h3>
                                <div class="padding_all_big">
                                    <ul class="competences padding_rl_big">
                                        {% for comp in object.complist %}
                                            <li> {{comp}} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div>
                                    <p> {{object.public_telnr}} </p>
                                    <p> {{object.public_email}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endfor %}
        </div>
    </section>
    {% endif %}
    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
    {% endblock %}
