{% extends "members/base.html" %}
    {% block navbar1 %} 
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Team </a>
    </div>
    {% endblock %}
    
    {% block picture %}
    <div class="image_wrapper2 grey_cover pic1cont" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_team-01.jpg" id='home_view' alt="Twio X auf Silikonband geschrieben">
        <script type="text/javascript">
            $("document").ready(function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block content %}
    <section class="padding_tb_big" id="members">
        <h1>Unser Team</h1>
        <p> Hier ist unser Team </p>
        <div id="container">
            <h2 class="padding_tb_big">Leipzig</h2>
            <div class="trainer_ui">
                {% if perms.interested.add_teamer %}
                <a href="{% url 'teamer_leipzig_create' %}"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
                {% endif %}
            </div>
            <div class="flex_left">
            {% for person in leipzig_people.all %}
                <div class="col-3 padding_all_small" id="container">
                    <div class="trainer_ui">
                        {% if perms.members.delete_teamer %}
                        <a href="{% url 'teamer_delete' person.id %}"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                        {% endif %}
                        {% if perms.members.change_teamer %}
                        <a href="{% url 'teamer_update' person.id %}"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                        {% endif %}
                    </div>
                    <div class="padding_all_small tertiary_bg" style="height:100%;">
                        <div style="text-align:center;">
                            <h3> {{person.name}}</h3>
                            <h4> {{person.position}}</h4>
                        </div>
                        <div class="flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small team_picture" src="{{person.picture.url}}">
                            </div>
                        </div>
                        <div class="flex_center">
                            <div>
                                {% if person.notes %}
                                <div class="padding_all_small">
                                    <p>{{person.notes}}</p>
                                </div>
                                {% endif %}
                                <div class="padding_all_small">
                                {% if person.public_telnr %}
                                    <h5> {{person.public_telnr}} </h5>
                                {% endif %}
                                {% if person.public_email %}
                                    <h5> {{person.public_email}} </h5>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="container">
            <h2 class="padding_tb_big">Jena</h2>
            <div class="trainer_ui">
                {% if perms.interested.add_teamer %}
                    <a href="{% url 'teamer_jena_create' %}"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
                {% endif %}
            </div>
            <div class="flex_left">
            {% for person in jena_people.all %}
                <div class="col-3 padding_all_small" id="container">
                    <div class="trainer_ui">
                        {% if perms.members.delete_teamer %}
                        <a href="{% url 'teamer_delete' person.id %}"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                        {% endif %}
                        {% if perms.members.change_teamer %}
                        <a href="{% url 'teamer_update' person.id %}"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                        {% endif %}
                    </div>
                    <div class="padding_all_small tertiary_bg" style="height:100%;">
                        <div style="text-align:center;">
                            <h3> {{person.name}}</h3>
                            <h4> {{person.position}}</h4>
                        </div>
                        <div class="flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small team_picture" src="{{person.picture.url}}">
                            </div>
                        </div>
                        <div class="flex_center">
                            <div>
                                {% if person.notes %}
                                <div class="padding_all_small">
                                    <p>{{person.notes}}</p>
                                </div>
                                {% endif %}
                                <div class="padding_all_small">
                                {% if person.public_telnr %}
                                    <h5> {{person.public_telnr}} </h5>
                                {% endif %}
                                {% if person.public_email %}
                                    <h5> {{person.public_email}} </h5>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    {% endblock %}
