{% extends "members/base.html" %}
    {% block navbar1 %} 
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Philosophy </a>
    </div>
    {% endblock %}
    
    {% block picture %}
    <div class="image_wrapper grey_cover" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_philosophy-01.jpg" id='home_view'>
        <script type="text/javascript">
            window.addEventListener('scroll',function(){
                document.getElementById("home_view").style.bottom=-window.scrollY*0.25+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5; text-align:center;">
                <h1>Was ist Parkour?</h1>
            </div>
        </div>
    </div>
    {% endblock %}
    
    {% block content %}
    <section id="members">
        <br>
        <p class="two_cols">Wer neu zum Parkourtraining kommt, kennt die Sportart vor allem aus dem Internet und hat sich bereits eine Meinung über den Sport gebildet, welche allerdings nur bedingt 
        dem entspricht, was wir an Parkour mögen und für welche Ideale unser Verein steht. Beim Parkour geht es kurz gesagt um die Technik so schnell und effizient wie möglich von einem Punkt A 
        zu einem Punkt B zu gelangen. Diese simple Erklärung einer komplexen Sportart, welche verschiedene Techniken des Springens und Landens, der Überwindung von Mauern, Hindernissen und Treppen 
        einschließt und in den Medien oft als "spektakulär" und "waghalsig" bezeichnet wird, lässt jedoch den ideologischen und philosophischen Hintergrund völlig außer Acht. Eine gängige Praxis die 
        Ideale des Parkour in aller Kürze zu erläutern, liegt in der Betrachtung der eigenen Hand:<br><br>
        
        <strong>Der Daumen</strong> kann nach oben oder unten zeigen, gut oder schlecht bedeuten. Jedoch zeigt er vor allem an, wie subjektiv diese Ansicht ist. Was gut und was schlecht ist, 
        bestimmt jeder für sich - muss jeder für sich ausmachen. Es gibt keinen Wettbewerb beim Parkour, es gibt nur ein Miteinander und der einzige Wettbewerb den man haben sollte, ist der 
        Wettbewerb mit dem eigenen Kopf, dem Geist und dem eigenen Körper, später sogar mit seinen früheren Leistungen.<br><br>
        
        <strong>Der Zeigefinger</strong> steht für die Vorsicht. Parkour ist im Zweifelsfall eine Extremsportart und entsprechend mit einem hohen Risiko für den Körper verbunden, 
        jedoch mit etwas Vorsicht bei der Wahl des Trainingsortes und einer gesunden Selbsteinschätzung weit weniger verletzungsintensiv als Fußball oder Ski fahren.
        <br> <br>
        <strong>Der Mittelfinger</strong> steht für Respekt. Respekt vor fremden Eigentum, Respekt vor der Umwelt, den Fähigkeiten seiner Trainingspartner und Respekt vor den Schwierigkeiten der 
        einzelnen Übungen und dem langwierigen Prozess, der mit der Erlernung einhergeht.
        <br><br>
        <strong>Der Ringfinger</strong> steht für Vertrauen. Parkour ist, obwohl es keine Mannschaft gibt, ein Teamsport. Das Vertrauen in der Gruppe und der Community und das Vertrauen in 
        eigene Fähigkeiten bildet eine wichtige Grundlage für das Zusammenkommen auf Jams und das Training miteinander.
        <br><br>
        Zu guter Letzt steht <strong>der kleine Finger</strong> für Bescheidenheit. Das primäre Ziel Parkour auszuüben sollte nicht darin liegen, Freunde oder Fremde zu beeindrucken. Der Traceur 
        profiliert sich nicht, sein Ziel sollte es sein, stetig an seinen Fähigkeiten und Fertigketen zu arbeiten - ganz unabhängig davon, ob er ein Publikum hat oder nicht. Die 
        Auseinandersetzung mit sich selbst vereinnahmt den Traceur im besten Fall so sehr, dass für unnütze Angebereien kein Raum bleibt.</p><br>
        
    </section>
    {% endblock %}
    
    {% block picture2 %}
    <div class="image_wrapper grey_cover" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_philosophy-02.jpg" id='extreme'>
        <script type="text/javascript">
            var pos = $("#extreme").position().top;
            $(document).ready(function(){
                var height = $(window).scrollTop();
                var loadingPos = pos/5 - height*0.25
                
                $("#extreme").css("bottom",loadingPos+"px")
                });
            window.addEventListener('scroll',function(){
                document.getElementById("extreme").style.bottom=pos/5-window.scrollY*+0.25+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5;text-align:center;">
                <h1>Sicherheit</h1>
            </div>
        </div>
    </div>
    {% endblock %}
    
    {% block content2 %}
    <div class="frame">
        <section id="participate">
            <br>
            <p class="two_cols">Wie macht man eine Sportart sicher, welche sich vor allem im urbanen Raum abspielt, Asphalt als Untergrund hat und zudem die 
            Höhe und die Weite der Sprünge anstrebt? Um ein sicheres Training zu gewährleisten, verbinden wir für Kinder und Anfänger das Training im urbanen Raum mit dem 
            Training in der Turnhalle. Somit sollen Grundtechniken in einer stressfreien Umgebung erlernt und gefestigt werden, bevor sie auf vergleichbare Situationen im 
            Außenbereich übertragen werden. Ein großer Fokus wird hierbei auf das saubere Landen und das Abrollen gelegt, welche das Verletzungsrisiko minimieren. Ein großes 
            Problem beim Parkour sind jedoch nicht die akuten Verletzungen. Die im Mannschaftssport häufig auftretenden Unfälle durch Kollision zweier Sportler bleiben hier aus. 
            Auch gibt es keine unnatürliche Belastung einzelner Muskelgruppen. Ein Problem ist jedoch die Hohe Belastung der Gelenke. Beginnt man also das Parkourtraining, 
            so ist besonders die Schonung der Knie wichtig und ein langsames Gewöhnen der Gelenke an Höhe und Belastung notwendig. Dies wird neben dem regelmäßigen Krafttraining 
            auch durch Stabilisationsübungen erreicht. Jeder Traceur ist jedoch dazu angehalten, sich vor dem Sport ausgiebig aufzuwärmen und unnötige Sprünge aus großer Höhe so 
            weit wie möglich zu vermeiden. Ebenso empfehlenswert sind tägliche Übungen auf einem Wackelkissen und ein ausgeprägtes Balancetraining.</p>
        </section>
    </div>
    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    {% endblock %}
    
    {% block picture3 %}
    <div class="image_wrapper grey_cover" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_philosophy-03.jpg" id='motivation'>
        <script type="text/javascript">
            var pos = $("#motivation").position().top;
            $(document).ready(function(){
                var height = $(window).scrollTop();
                var loadingPos = pos/5 - height*0.25
                
                $("#motivation").css("bottom",loadingPos+"px")
                });
            window.addEventListener('scroll',function(){
                document.getElementById("motivation").style.bottom=pos/5-window.scrollY*+0.25+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5;text-align:center;">
                <h1>Motivation</h1>
            </div>
        </div>
    </div>
    {% endblock %}
    
    {% block content3 %}
    <div class="frame">
        <section>
            <p class="two_cols">
            eder Traceur wird sich irgendwann die Frage nach seiner Motivation stellen. Anders als in vielen Sportarten gibt es beim Parkour keinen Wettbewerbsgedanken. Es gibt keinen mentalen Druck, 
            keine Pflicht zu einem bestimmten Zeitpunkt eine vordefinierte Leistung zu erbringen - keine Fläche für objektive Vergleiche. Wie also motiviert man sich, 
            wenn einem selbst bewusst wird, dass niemand die eigenen Fortschritte mit Anerkennung oder Auszeichnungen belohnt? Woher kommt die Lust, noch weiter an seinen 
            Fähigkeiten zu arbeiten und jede einzelne Technik zu perfektionieren, wenn man sich doch in Bescheidenheit üben soll?<br><br>
            Den Aufbau einer gesunden und positiven Motivation kann man als Prozess sehen. Wie auch alles Andere dauert dieser Prozess bei dem Einen recht lange, bei dem Anderen nicht. 
            Zu Beginn muss jeder mit einem Gefühl umgehen, das recht neu wirkt. Man muss lernen, sich für die Erfolge seiner Trainingskollegen zu begeistern und zu freuen. Man muss den 
            Zwang ablegen, sich selbst mit anderen zu messen und zu vergleichen. Das schafft man am besten, sobald einem die eigenen körperlichen Grenzen bewusst werden. Sofern man den Erfolg 
            eines Anderen als Ansporn und nicht als Konkurrenz betrachtet, kann man sich mit Leichtigkeit bei jedem Training immer wieder begeistern und motivieren. Letztlich wirkt sich das auf 
            die eigenen Fortschritte aus.<br><br>
            Beherrscht man die Grundtechniken und seinen eigenen Körper, so sollte man versuchen, mit seinen Fähigkeiten bescheiden umzugehen. Es gibt leider auch in diesem Sport 
            genug schlechte Beispiele negativer Motivation. Menschen, die sich profilieren möchten, mit ihren Fähigkeiten gerne angeben; daraus beziehen sie ihren Ansporn. Um das zu 
            vermeiden, muss jeder Traceur verstehen, dass er nur sich selbst beeindrucken muss. Die Kunst, den Kampf gegen seinen Kopf immer wieder zu gewinnen, jedoch bei jedem Sprung 
            rational zu bleiben, das Gefühl der Angst richtig einzusetzen, die Grenzen seines Körpers gut zu kennen und die Wage zwischen Vernunft und Wagemut zu halten, das alles sollte 
            einen so sehr beanspruchen, dass man die Beachtung anderer Menschen und den Drang nach Anerkennung vergisst.<br><br>
            Angst und Furcht kennt jeder. Dieses Gefühl als Motivator einzusetzen muss jedoch geübt werden. Einen – objektiv gesehen – gefährlichen Sprung auszuführen kann riskant sein. 
            Die Angst schützt uns davor, vorschnell und unbedacht zu handeln. Wer aber seine physischen und psychischen Grenzen kennt, für den erscheint ein riskanter Sprung als 
            lösbare Herausforderung, denn in Anbetracht seiner eigenen Fähigkeiten handelt man dennoch rational. Auf das Gefühl der Angst muss also auch ein erfahrener Traceur 
            hören; er muss aber für sich selbst abwägen, ob ein Sprung für ihn gefährlich oder machbar erscheint. Auch darf man seine Fähigkeiten nicht unterschätzen, 
            denn andernfalls wird jede Bewegung und der ganze Körper von der Angst bestimmt.<br><br>
            </p>
        </section>
    </div>
    {% endblock %}
