{% extends "members/base.html" %}
    {% block navbar1 %}
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Angebot </a>
    </div>
    {% endblock %}
    {% block picture %}
    <div class="image_wrapper2 grey_cover pic1cont" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_landing2.jpg" id='home_view'>
        <script type="text/javascript">
            $("document").ready(function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5; text-align:center;">
                <h1>Unser Angebot für Mitglieder</h1>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}
    <section id="members">
        <br>
        <p class="two_cols">Das zentrale Angebot des Vereins richtet sich an unsere Mitglieder. Mehrmals in der Woche werden dabei in kleineren, auf das Alter
        und den Erfahrungsstand angepassten Gruppen, die Grundfertigkeiten und Techniken von Parkour und Freerunning erlernt. Besonderer Fokus wird auf Kraft,
        Ausdauer und Agilität gesetzt. Ergänzend zum regelmäßigen Techniktraining spielt bei der Verletzungsprävention insbesondere das Fall- und Sturztraining,
        die Gelenk- und Kniestabilität sowie ein ausgiebiges Core-Training eine entscheidende Rolle.</p><br>
        <h2> Parkour</h2>
        <p class="two_cols">Parkour vermittelt Techniken für das schnelle und kraftsparende Überwinden von jeglichen Hindernissen. Der Traceur verzichtet
        hierbei auf ineffiziente Bewegungen und fokussiert sich lediglich auf das gesetzte Ziel und das effektive Vorankommen. Fundamental ist ein ideales Körpergefühl,
        eine fehlerfreie Präzision und Kontrolle der Bewegungen. Im Training werden die körperlichen und vor allem mentalen Grenzen ausgereizt und dabei
        jede einzelne Technik perfektioniert.</p><br>
        <h2> Freerunning</h2>
        <p class="two_cols">Das Freerunning beschäftigt sich mit turnerischen Elementen und möglichst komplexen Bewegungsabläufen. Augenmerkt wird nicht auf
        Effizienz, sondern vielmehr auf Ästhetik und eine kunstvolle Ausführung der Bewegung gelegt. Dabei werden in einen Lauf neben den grundlegenden
        Parkourtechniken Salti, Drehungen und Schrauben eingebunden. Der Freerunner entwickelt seinen eigenen, unverkennbaren Stil durch eine individuelle
        Umsetzung und Kombination der Techniken.</p><br>
        <h2> Kindertraining</h2>
        <p class="two_cols">Das Kindertraining verbindet Kindersport mit den Grundlagen des Parkour. Vorrangig wird den Kindern der Ablauf und die richtige
        Art und Weise des Trainings vermittelt. Durch spielerische Übungen werden Kraft, Ausdauer, Sprungkraft, Schnellkraft und Koordination geschult.
        Besonders in dem sensiblen Alter zwischen 9 und 10 Jahren ist die Verbesserung des Körpergefühls durch kinderspezifische Balance-
        und Präzisionsübungen fundamental. Mit dem Fortschreiten des Trainings wird zudem eine erhöhte körperliche Selbsteinschätzung erzielt.
        Die Kinder sollen auf das Training mit den Erwachsenen und Jugendlichen im urbanen Raum vorbereitet werden, gerade um das Verletzungsrisiko
        zu minimieren. Neben den strukturierten Techniktraining sind jedoch die Freude an der Bewegung und der Spaß am Sport grundlegend. Die Kinder
        erfahren die Vorteile eines nicht wettkampforientierten Sportes und das Gefühl, gemeinsam an den körperlichen Herausforderungen zu wachsen. Dabei
        wird in der Gruppe lediglich ein Gegner bezwungen; die Grenze des eigenen Körpers.</p><br>

    </section>
    {% endblock %}
    {% block picture2 %}
    <div class="image_wrapper grey_cover pic2cont" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_offer_02.jpg" id='extreme'>
        <script type="text/javascript">
            $("document").ready(function(){
                var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("extreme").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("extreme").style.top =(pic-win)*-0.15+"px";
            });
        </script>
        <div class="flex_center_vertical">
            <div class="flex_center" style="z-index:5;text-align:center;">
                <h1>Unser Angebot für Nichtmitglieder</h1>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content2 %}
    <div class="frame">
        <section id="participate">
            <br>
            <p>Das Angebot für Nichtmitglieder besteht zum Einen in der Teilnahme an einem kostenlosen Probetraining. Hier kann das Klima im Verein erfühlt und die Sportart in einer zweiwöchigen
            Probezeit erprobt werden. Für eine Anmeldung zum Probetraining kann das Formular in der Rubrik "Teilnehmen" genutzt werden.</p>
            <br>
            <h2> Lust auf ein Probetraining? </h2>
            <a href="{% url 'interested_index'%}#form" class="more_info_button" style="padding:0px;">Hier kommst du zu unserem Anmeldeformular fürs Probetraining</a><br>
            <br>
        </section>
    </div>

    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
    {% endblock %}
