{% extends "members/base.html" %}
    {% block navbar1 %}
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Nebenjob </a>
    </div>
    {% endblock %}

    {% block picture %}
    <div class="image_wrapper">
        <img src="{{ STATIC_URL }}/static/media/misc/Merlin_Präzi_Serie_cropped.jpg" id='home_view'>
        <script type="text/javascript">
            window.addEventListener('scroll',function(){
                document.getElementById("home_view").style.bottom=-window.scrollY*0.30+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block content %}
    <section>
        <h1>Werde Co-Trainer*in (m/w/d) in unserem engagierten Sportverein</h1>
        <style>
            p{
                font-size: 14pt !important;
                padding-bottom: 10px !important;
            }
            li{
                list-style-type: circle !important;
                font-size: 14pt !important;
            }
            ul {
                padding-left: 20px;
                padding-bottom: 10px !important;
            }
            h3 {
                padding-top: 10px;
            }
        </style>

        <h3>Wer sind wir?</h3>

        <p>
            Wir sind der Twio X e.V., ein Parkourverein mit rund 150 Mitgliedern und einer der 
            wenigen Parkourvereine in Mitteldeutschland. Unser Team setzt sich aus dem Vorstand, 
            der Vereinsjugend und 15 engagierten Trainerinnen und Trainern zusammen. 
        </p>

        <p>
            Du möchtest praktische und pädagogische Erfahrung in der Kinder- und Jugendarbeit sammeln, 
            dich sportlich weiterentwickeln und nebenbei Geld verdienen? Dann bist du bei uns genau richtig. 
        </p>

        <p>
            Wir suchen Unterstützung für unser Kindertraining (Alter 9–14 Jahre) im Bereich Parkour. 
            Du brauchst keine umfangreiche Vorerfahrung. Wichtig für uns sind Zuverlässigkeit, pädagogisches 
            Interesse und Freude an Bewegung. 
        </p>

        <h3>Das bieten wir</h3>
        
        <ul>
            <li><strong>26 € pro Trainingseinheit</strong> (2h) <strong>steuerfreie</strong> Übungsleiterpauschale</li>
            <li>Wertvolle Erfahrungen und einen methodischen Einblick in den Parkour-Sport</li>
            <li>Nachweis für z.B. Krankenkasse oder Ehrenamtsbescheinigung</li>
        </ul>
        
        <h3>Deine Aufgaben</h3>

        <ul>
            <li>Unterstützung im wöchentlichen Kindertraining (1-2 Einheiten/Woche)</li>
            <li>Assistenz der leitenden Trainer*innen bei Auf- und Abbau, Erwärmung oder Hilfestellungen bei Parkour-Techniken</li>
            <li>Mitverantwortung für einen respektvollen und geordneten Trainingsablauf</li>
        </ul>

        {% endblock %}
        {% block picture2 %}
        <div class="image_wrapper pic2cont" id="container">
            <img src="{{ STATIC_URL }}/static/media/interested_philosophy-03.jpg" id='news' alt="Image credits: Daniel Kaiser">
            <script type="text/javascript">
                $("document").ready(function(){
                    var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                    var pic = window.pageYOffset + ele.top
                    var win = window.pageYOffset
                    document.getElementById("news").style.top =(pic-win)*-0.15+"px";
                });
                window.addEventListener('scroll',function(){
                    var ele = document.getElementsByClassName("pic2cont")[0].getBoundingClientRect()
                    var pic = window.pageYOffset + ele.top
                    var win = window.pageYOffset
                    document.getElementById("news").style.top =(pic-win)*-0.15+"px";
                });
            </script>
        </div>
        {% endblock %}
        {% block content2 %} 
        <div class="frame">       

            <h3>Was du mitbringen solltest</h3>

            <ul>
                <li>Du bist mindestens 18 Jahre alt</li>
                <li>Du hast idealerweise 2 Stunden Zeit pro Woche - gerne mehr</li>
                <li>Du bleibst auch dann ruhig, wenn’s mal unruhig wird</li>
                <li>Das Bewusstsein, dass andere sich auf dich verlassen</li>
            </ul>

            <h3>Schön, aber kein Muss</h3>

            <ul>
                <li>Erfahrung mit Parkour, Kindertraining oder anderen Sportarten</li>
                <li>Sportliche Grundfitness</li>
            </ul>
            <br>
            <p><strong>
                Du hast Interesse? <br>
                Rufe uns gerne an, oder schreibe uns eine Email
                </strong>
            </p>
        </div>

        </section>
        <script>
            $(document).ready(function(){
                $("#members").removeClass("here_I_am");
                $("#interested").addClass("here_I_am");
            });
        </script>
    {% endblock %}
