{% extends "members/base.html" %}
    {% block navbar1 %}
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> FSJ </a>
    </div>
    {% endblock %}

    {% block picture %}
    <div class="image_wrapper2 grey_cover pic1cont" id="container">
        <img src="{{ STATIC_URL }}/static/media/interested_team-01.jpg" id='home_view' alt="Twio X auf Silikonband geschrieben">
        <script type="text/javascript">
            $("document").ready(function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
            window.addEventListener('scroll',function(){
                var ele = document.getElementsByClassName("pic1cont")[0].getBoundingClientRect()
                var pic = window.pageYOffset + ele.top
                var win = window.pageYOffset
                document.getElementById("home_view").style.top =(pic-win)*-0.15+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block content %}
    <section class="padding_all_big">
        <h1>Trainer/Innen gesucht</h1>
        <style>
            p{
                font-size: 14pt !important;
                padding-bottom: 10px !important;
            }
            li{
                list-style-type: circle !important;
                font-size: 14pt !important;
            }
            ul {
                padding-left: 20px;
                padding-bottom: 10px !important;
            }
        </style>

        <h3>Wer sind wir?</h3>

        <p>Wir sind der Twio X e.V., ein Parkourverein mit rund 150 Mitgliedern und einer der 
            wenigen Parkourvereine in Mitteldeutschland. Unser Team setzt sich aus dem Vorstand, 
            der Vereinsjugend und 15 engagierten Trainerinnen und Trainern zusammen. 
        </p>

        <h3>Was bieten wir?</h3>

        {% lorem 3 p %}

    </section>
    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    {% endblock %}
