{% autoescape off %}
Hallo {{first_name}} {{last_name}}

vielen Dank für deine Anmeldung auf unserer Website

Veranstaltung: {{title}}
Beginn: {{start_date|date:'d.m.Y'}}
Ende: {{end_date|date:'d.m.Y'}}

Wir haben von Dir die folgenden Daten übermittelt bekommen:
Name: {{first_name}} {{last_name}}
Geburtsdatum: {{birthdate}}
E-Mail: {{email}}
Telefon: {{telnr}}
Kontakt via: {{contact}}

Am T-shirt interessiert: {{merch_wanted|yesno:'Ja,Nein'}}
Größe: {{merch_size}}

Gesamtkosten: {{costs|floatformat:2}} €

Bitte überweise das Geld innerhalb der nächsten 14 Tage auf unser Vereinskonto bei:
Deutsche Skatbank:
IBAN: DE67 8306 5408 0004 9710 60
BIC: GENODEF1SLR
Verwendungszweck: {{event}}/Anmeldung: {{first_name}} {{last_name}}


Sollten Informationen nicht korrekt sein, dann gib uns
gerne Bescheid. Ansonsten werden wir uns demnächst mit
weiteren Informationen melden.

Viele Grüße

Dein Twio X e.V.

_____________________________________________________________
Twio X e.V. | Ranstädter Steinweg 9 | 04109 Leipzig

Vorstand gem. § 26 BGB:
Jewgeni Eisenberg | Merlin Szymanski | Oliver Grehl
Vereinsregisternummer: VR 4359
Steuernummer: 231/141/11554
Telefon: +49 177 211 93 22 | E.Mail: parkour@twio-x.de | Internet: www.twio-x.de

SAVE PAPER - THINK BEFORE YOU PRINT

{% endautoescape %}
