{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#Events">
        Interessierte </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> {{object.title}} </a>
    {% if chairman %}
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_participant_list' object.slug %}">
        Anmeldungen </a>
    {% endif %}
</div>
{% endblock %}
{% block header_picture %}
<div class="image_wrapper">
    <img src="{{object.header_picture.url}}" id='home_view'>
    <script type="text/javascript">
        window.addEventListener('scroll',function(){
            document.getElementById("home_view").style.bottom=-window.scrollY*0.25+"px";
        });
    </script>
</div>

{% endblock %}
{% block content %}
<section>
    <div class="flex_center">
        <div>
            <h1 class="hero">{{object.title}}</h1>
        </div>
    </div>
    <div class="flex_center" style="flex-wrap:wrap; justify-content: space-between;" id="container">
        <div class="trainer_ui">
            {% if chairman %}
            <a href="{% url 'public_event_change' object.pk  %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:17px;"></i></a>
            <a href="{% url 'public_event_delete' object.pk %}" title="Löschen"><i class="far fa-minus-square" style="font-size:17px;"></i></a>
            {% endif %}
        </div>
        <div class="chair_col-20">
            {% if object.hinweis %}
            <div class="padding_all_small secondary" style="margin-bottom:10px;">
                <h2>Hinweis</h2>
                <p>{{object.hinweis}}</p>
            </div>
            {% endif %}
            <div class="padding_all_small primary" style="margin-bottom:10px;">
                <h2>Eckdaten</h2>
                <h4><i class="fas fa-map-marker"></i>  {{object.place}}</h4>
                <h4><i class="fas fa-calendar-day"></i>  {{object.start_date|date:'d.m.Y'}} {% if object.start_date != object.end_date %} - {{object.end_date|date:'d.m.Y'}} {% endif %}</h4>
                <h4><i class="fas fa-receipt"></i>{% if object.base_costs == 0 %}  Konstenlos {% else %}  {{object.base_costs|floatformat:2}} € {% endif %}</h4>
            </div>
            {% if event.teilnahmebedingungen or event.datenschutz or event.einverstaendnis %}
            <h3> Dokumente </h3>
            <div style="display:flex; flex-direction:column; gap:10px;">
                {% if event.teilnahmebedingungen %}
                <a style="text-align: left;" class="download_square" href="{{event.teilnahmebedingungen.url}}" target="_blank"><i class="fas fa-file"></i> Teilnahmebedingungen</a>
                {% endif %}
                {% if event.datenschutz %}
                <a style="text-align: left;" class="download_square" href="{{event.datenschutz.url}}" target="_blank"><i class="fas fa-file"></i> Datenschutzerklärung</a>
                {% endif %}
                {% if event.einverstaendnis %}
                <a style="text-align: left;" class="download_square" href="{{event.einverstaendnis.url}}" target="_blank"><i class="fas fa-file"></i> Einverständniserklärung</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="chair_col-80">
            <div class="markdown">
                {{object.description_rendered|safe}}
            </div>
            <form  id="event_form" method="POST">
            <!-- THIS BREAKS THE MECH FUNCTION AND SHOULD BE FIXED AFTER XDREAM2024
            {% if merch %}
            <div class="padding_all_small">
                <br>
                <h1>{{merch.title}}</h1>
                <div class="flex_left" id="container">
                    <div class="trainer_ui">
                        {% if chairman %}
                        <a href="{% url 'eventmerch_update' merch.pk  %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:17px;"></i></a>
                        {% endif %}
                    </div>
                    <div class="chair_col-5 padding_all_small">
                        <img style="max-height:100%;max-width: 100%;" src="{{merch.image.url}}">
                    </div>
                    <div class="chair_col-5 padding_all_small" style="display:flex; flex-direction: column;">
                        {{merch.description_rendered|safe}}
                        <br><br>
                        <p> <strong> Kosten: {{merch.price|floatformat:2}} €</strong> </p>
                        <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                            <input type="checkbox" class="mdc-checkbox__native-control" id="merch_yes" name="merch_wanted" {% if form.data.merch_wanted == "on" %} checked {% endif %}>
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            </div>
                            <label for="merch_yes" >
                                <div>{{merch.title}} dazubestellen</div>
                            </label>
                        </div>
                        <div id="merch_sizes" hidden>
                            {% if form.merch_size.errors %}
                            {% for error in form.merch_size.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled merch_size">
                                <i class="mdc-select__dropdown-icon"></i>
                                <span class="mdc-text-field__ripple"></span>
                                <select id="select-merch_size" class="mdc-text-field__input" style="background-color:inherit;" name="merch_size">
                                    <option value="" style="background-color:inherit;"></option>
                                    {% for k in sizes %}
                                        <option value='{{k}}' style="background-color:inherit;" {% if form.data.merch_size == k %} selected {% endif %}>{{k}}</option>
                                    {% endfor %}
                                </select>
                                <span class="mdc-floating-label" id="merch_size-label">Größe</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            -->
            {% if not event.info_only %}
            <div class="padding_tb_big">
                    <h1 id="anmeldung"> Anmeldung </h1>
                    {% csrf_token %}
                    <div style="display:flex;flex-wrap:wrap;">
                        <div class="chair_col-5">
                            {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled first_name">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="text" class="mdc-text-field__input" aria-labelledby="first_name-label" name="first_name" required value=
                                        {% if form.instance.first_name %} "{{form.instance.first_name}}" {% else %} "{{form.data.first_name}}" {% endif %}>
                                <span class="mdc-floating-label" id="first_name-label">Vorname</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="chair_col-5">
                            {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled last_name">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="text" class="mdc-text-field__input" aria-labelledby="last_name-label" name="last_name" required value=
                                        {% if form.instance.last_name %} "{{form.instance.last_name}}" {% else %} "{{form.data.last_name}}" {% endif %}>
                                <span class="mdc-floating-label" id="last_name-label">Nachname</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="chair_col-5">
                            {% if form.birthday.errors %}
                            {% for error in form.birthday.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled birthday">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="text" class="mdc-text-field__input" aria-labelledby="birthday-label" name="birthday" required value=
                                        {% if form.instance.birthday %} "{{form.instance.birthday}}" {% else %} "{{form.data.birthday}}" {% endif %}>
                                <span class="mdc-floating-label" id="birthday-label">Geburtsdatum (TT.MM.JJJJ)</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="chair_col-5">
                            {% if form.phone.errors %}
                            {% for error in form.phone.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled phone">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="text" class="mdc-text-field__input" aria-labelledby="phone-label" name="phone" value=
                                        {% if form.instance.phone %} "{{form.instance.phone}}" {% else %} "{{form.data.phone}}" {% endif %}>
                                <span class="mdc-floating-label" id="phone-label">Telefonnummer</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="chair_col-5">
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled email">
                                <input type="email" class="mdc-text-field__input" aria-labelledby="email-label" name="email" required value=
                                        {% if form.instance.email %} "{{form.instance.email}}" {% else %} "{{form.data.email}}" {% endif %}>
                                <span class="mdc-floating-label" id="email-label">E-Mail-Adresse</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="chair_col-5">
                            {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <p style="color:red;">{{error}}</p>
                            {% endfor %}
                            {% endif %}
                            <label class="mdc-text-field mdc-text-field--filled contact">
                                <input type="text" class="mdc-text-field__input" aria-labelledby="contact-label" name="contact" placeholder="Leipzig">
                                <span class="mdc-floating-label" id="contact">Stadt/Gruppe</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                    </div>
                    <div class="padding_all_small">
                        <div class="mdc-form-field">
                            <div class="mdc-checkbox">
                            <input type="checkbox" class="mdc-checkbox__native-control" id="merch_yes" name="merch_wanted">
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            </div>
                            <label for="merch_yes" >
                                <div>Ich bin am Jam T-Shirt interessiert (Muss auf der Jam gekauft werden)</div>
                            </label>
                        </div>
                            <div id="merch_sizes" hidden>
                                <label class="mdc-text-field mdc-text-field--filled merch_size">
                                    <i class="mdc-select__dropdown-icon"></i>
                                    <span class="mdc-text-field__ripple"></span>
                                    <select id="select-merch_size" class="mdc-text-field__input" style="background-color:inherit;" name="merch_size">
                                        <option value="" style="background-color:inherit;"></option>
                                            <option value='S' style="background-color:inherit;">S</option>
                                            <option value='M' style="background-color:inherit;">M</option>
                                            <option value='L' style="background-color:inherit;">L</option>
                                            <option value='XL' style="background-color:inherit;">XL</option>
                                    </select>
                                    <span class="mdc-floating-label" id="merch_size-label">Größe</span>
                                    <span class="mdc-line-ripple"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <input id="real_costs" type="text" hidden name="costs">
                    <div class="padding_all_small" style="padding-top:40px;">
                        <div class="flex_center_vertical tertiary_bg ">
                            <div class="padding_all_small" style="text-align: center;"> Ich möchte mich verbindlich anmelden. Die Kosten für
                            die Teilnahme betragen <strong id="kosten"></strong> <strong> € </strong>
                            </div>
                            <div class="chair_col-5 flex_center_vertical" style="width:100%;align-items: center;">
                                <div class="flex_center_vertical">
                                    <div class="mdc-form-field" style="margin:0px;">
                                        <div class="mdc-checkbox">
                                            <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung" name="confirm" required>
                                            <div class="mdc-checkbox__background">
                                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                                </svg>
                                                <div class="mdc-checkbox__mixedmark"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="speicherung" >
                                            <div>Ich stimme der {%if object.datenschutz %}<a class="more_info_button" style="padding:0px" href="{{event.datenschutz.url}}">Datenschutzerklärung</a>{% else %} Datenschutzerklärung {%endif%} zu</div>
                                            </label>
                                            {% if form.confirm.errors %}
                                            {% for error in form.confirm.errors %}
                                            <p style="color:red;">{{error}}</p>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="mdc-form-field" style="margin:0px;">
                                        <div class="mdc-checkbox">
                                        <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung2" name="confirm" required>
                                        <div class="mdc-checkbox__background">
                                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                            <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                                            </svg>
                                            <div class="mdc-checkbox__mixedmark"></div>
                                        </div>
                                        </div>
                                        <div>
                                        <label for="speicherung2" >
                                        <div>Ich stimme den {% if event.teilnahmebedingungen %} <a class="more_info_button" style="padding:0px" href="{{event.teilnahmebedingungen.url}}">Teilnahmebedingungen</a>
                                             {% else %}Teilnahmebedingungen {% endif %} zu</div>
                                        </label>
                                        {% if form.confirm.errors %}
                                        {% for error in form.confirm.errors %}
                                            <p style="color:red;">{{error}}</p>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex_center_vertical">
                                <div class="flex_center padding_all_big">
                                    <button style="cursor:pointer;" type="submit" class="form_button" id="event_button">Anmelden</button>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $("#event_button").click(function(){
                                        $(event_form).submit()

                                        $(this).html('<i class="fas fa-spinner fa-pulse"></i>');
                                        $(this).attr("disabled","")
                                        setTimeout(function(){
                                            $("#event_button").html("Anmelden");
                                            $("#event_button").attr("disabled",false)
                                        }, 3000);
                                        });
                                    });
                            </script>
                        </div>
                    </div>
                </form>
            </div>
            {% else %}
            <p>Anmeldung nicht geöffnet</p>
            {% endif %}
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $('input[name="birthday"]').mask('09.09.0099', {placeholder: "__.__.____"});
        $("#members").removeClass("here_I_am");
        $("#interested").addClass("here_I_am");
        $("#kosten").html("{{event.base_costs|floatformat:2}}")
        $("#real_costs").attr("value", (parseFloat("{{event.base_costs|floatformat:2}}".replace(',', '.'))).toFixed(2))
        if(document.getElementById('merch_yes').checked){
            $("#merch_sizes").attr("hidden", false)
            $("#select-merch_size").attr("required", "")
        }
        $("#merch_yes").change(function(){
            $("#merch_sizes").toggle(3);
            if(document.getElementById('merch_yes').checked){
                $("#select-merch_size").attr("required", '')
            }
            else{
                $("#select-merch_size").removeAttr("required")
            }
        });
    });
</script>
<script>
    const fields = document.querySelectorAll('.mdc-text-field');
    fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
</script>
{% endblock %}

{% block chairmen %}
{% if chairmen.first %}
<section style="margin-bottom:150px;">
    <h1>DEINE ANSPRECHPARTNER</h1>
    <div class="flex_left">
    {% for object in chairmen.all %}
        <div class="col-5 padding_all_small">
            <div style="height:100%;">
                <div class="flex_left">
                    <div class="chair_col-5 flex_center_vertical">
                        <div class="flex_center">
                            <img class="padding_all_small round_profile_pic_chairman" src="{{object.image.url}}">
                        </div>
                    </div>
                    <div class="chair_col-5 flex_center">
                        <div class="flex_center_vertical_even padding_all_small">
                            <h3>{{object.user.first_name |upper}} {{object.user.last_name |upper}}</h3>
                            <div class="padding_all_big">
                                <ul class="competences padding_rl_big">
                                    {% for comp in object.complist %}
                                        <li> {{comp}} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <p> {{object.public_telnr}} </p>
                                <p> {{object.public_email}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{% endif %}
{% endblock %}