{% autoescape off %}
Hallo {{name}} 

vielen Dank für deine Anmeldung zum Roundnet

Wir haben von Dir die folgenden Daten übermittelt bekommen:
Name: {{fname}}
Alter: {{age}}
E-Mail: {{email}}

Sollten Informationen nicht korrekt sein, dann gib uns
gerne Bescheid. Ansonsten werden wir uns demnächst mit
weiteren Informationen melden.

Viele Grüße

Dein Twio X e.V.

_____________________________________________________________
Twio X e.V. | Ranstädter Steinweg 9 | 04109 Leipzig

Vorstand gem. § 26 BGB:
Jewgeni Eisenberg | Merlin Szymanski | Oliver Grehl
Vereinsregisternummer: VR 4359
Steuernummer: 231/141/11554
Telefon: +49 177 211 93 22 | E.Mail: parkour@twio-x.de | Internet: www.twio-x.de

SAVE PAPER - THINK BEFORE YOU PRINT

{% endautoescape %}
