{% extends "members/base.html" %}
    {% block picture %}
    <div class="image_wrapper pic1cont">
        <img src="{{ STATIC_URL }}/static/media/roundnet_1.jpeg" id='roundnet_1' width="100%" max-height="100%">
        <script type="text/javascript">
            window.addEventListener('scroll',function(){
                document.getElementById("roundnet_1").style.bottom=-window.scrollY*0.25+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block navbar1 %} 
    <div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
        <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}#The_Club">
            Interessierte </a>
        <a class="float_left"> > </a>
        <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Roundnet </a>
    </div>
    {% endblock %}

    {% block content %}
    <section id="Roundnet">
        <h1> Roundnet im Twio X </h1>
        <div style="display:flex;flex-wrap: wrap;">
            <div class="chair_col-5 padding_all_small tertiary_bg">
                <h3>Jetzt auch bei uns</h3>
                <p style="font-size:14pt;">
                Wir, der Twio X, haben nun eine eigene Roundnetabteilung! <br>
                Damit haben es uns als Ziel gesetzt, den Roundnetsport in seiner ganzen Vielfalt zu unterstützen und die Reichweite in Leipzig zu vergrößern. <br>
                <br>
                Für das Training bei uns im Verein bedeutet das anfangs die Organisation eines <strong>freien Treffs</strong> mit einem <strong>offenen Training</strong>
                und kleineren, selbstständigen Gruppen. Später - wenn die Gruppen größer und beständiger sind - können daraus auch regelmäßigen 
                angeleitete Trainingseinheiten entstehen. Im Vordergrund stehen für uns aber der <strong>Spielspaß</strong>, das soziale <strong>Miteinander</strong> und der <strong>Sport</strong>. <br>
                <br>
                </p>
                <h3>Was ist Roundnet?</h3>
                <p style="font-size:14pt;">
                Roundnet ist ein Teamsport, bei welchem zwei Teams mit jeweils 2 Spieler*innen gegeneinander um ein Netz auf verschiedenen Untergründen spielen. 
                Spielobjekt ist ein kleiner Ball, welcher mit maximal 3 Kontakten auf das Netz gebracht werden muss. Dabei darf sich frei um das 
                Netz bewegt werden.
                </p>
            </div>
            <div class="chair_col-5">
                <img class="chair_col-80" style="display:block" src="{{ STATIC_URL }}/static/media/roundnet_2.jpeg">
            </div>
        </div>

        <h1 style="padding-top:15px"> Auftaktveranstaltung </h1>
        <div style="display:flex;flex-wrap:wrap;">
            <div class="chair_col-5 padding_all_small">
                <p style="font-size:14pt;">Um unsere neue Abteilung gebührend einzuweihen, haben wir eine große <strong>Auftaktveranstaltung</strong> 
                    geplant um die ganze Festwiese mit Netzen erblühen lassen. <br><br>

                    <div class="primary padding_all_big chair_col-80">
                        <ul>
                            <li style="font-size:14pt;"><i class="fas fa-calendar"></i> 30.07.2022 ab 11 Uhr</li>
                            <li style="font-size:14pt;"><i class="fas fa-map-marker"></i> Festwiese Leipzig, direkt beim Stadion</li>
                            <li style="font-size:14pt;"><i class="fas fa-circle"></i> Wer ein Netz hat, bitte, bitte mitbringen!</li>
                            <li style="font-size:14pt;"> <i class="fas fa-apple-alt"></i> Wir stellen Getränke und Essen - solange der Vorrat reicht </li>
                        </ul>
                    </div><br>
                
                </p><p style="font-size:14pt;">
                    Es gibt <strong style="font-size:14pt;">keine Teilnahmegebühren</strong>! <br> Nur ganz viel Roundnetspaß, den Fun und die Sonne. Dies solltet Ihr mitbringen. 
                    Außerdem - bitte die Zeit und den Ort an alle eure Freund*innen weitertragen, damit man nicht immer gegen die Gleichen spielt.</p> 

                <br>
                <p>Bitte meldet euch fix auf der über die Seite an, damit wir Netze und Speisen planen können und dann kann es auch schon losgehen! </p>

               
            </div>
            <div class="chair_col-5">
                <h3> Anmeldung </h3>
                <form method="POST" class="chair_col-80">
                    {% csrf_token %}
                    <div>
                        <div class="padding_rl_small">
                            <label class="mdc-text-field mdc-text-field--filled name">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="text" class="mdc-text-field__input" aria-labelledby="name-label" name="name" required>
                                <span class="mdc-floating-label" id="name-label">Name</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="padding_rl_small">
                            <label class="mdc-text-field mdc-text-field--filled email">
                                <input type="text" class="mdc-text-field__input" aria-labelledby="email-label" name="email" required>
                                <span class="mdc-floating-label" id="email-label">E-Mail-Adresse</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div class="padding_rl_small">
                            <label class="mdc-text-field mdc-text-field--filled age">
                                <span class="mdc-text-field__ripple"></span>
                                <input type="integer" class="mdc-text-field__input" aria-labelledby="age-label" name="age" required>
                                <span class="mdc-floating-label" id="age-label">Alter</span>
                                <span class="mdc-line-ripple"></span>
                            </label>
                        </div>
                        <div style="clear:both;">
                            <div class="flex_center_vertical">
                                <div class="flex_center padding_all_big">
                                    <button type="submit" class="form_button" id="prob_button">Absenden</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block chairmen %}
    {% if contact %}
    <section style="margin-bottom:150px;">
        <h1>DEINE ANSPRECHPARTNER</h1>
        <div class="flex_left">
        {% for object in contact.all %}
            <div class="col-5">
                <div style="height:100%;">
                    <div class="flex_center_vertical">
                        <div class="chair_col-5 flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small round_profile_pic_chairman" src="{{object.picture.url}}">
                            </div>
                        </div>
                        <div class="chair_col-5 flex_center ">
                            <div class="flex_center_vertical_even">
                                <div>
                                <h3>{{object.name}}</h3>
                                </div>
                                <ul>
                                    <li><i class="fas fa-mobile"></i> {{object.public_telnr}} </li>
                                    <li><i class="fas fa-envelope"></i> {{object.public_email}} </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}
    <script>
        $(document).ready(function(){
            $("#members").removeClass("here_I_am");
            $("#interested").addClass("here_I_am");
        });
    </script>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
    {% endblock %}
