{% extends "main/base.html" %}
{% block navbar2 %}
{% if object.city %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}">
        Interessierte </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'team' %}">
        Team </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> {{object.name}} </a>
</div>
{% else %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'interested_index' %}">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'team' %}">
        Team </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Neues Teammitglied </a>
</div>
{% endif %}
{% endblock %}
{% block content %}
<section style="text-align: center;">
    {% include "members/form_snippet.html" %}
</section>
{% endblock %}