{% autoescape off %}
Hallo {{first_name}} {{last_name}}

Vielen Dank für deine Workshopanfrage.

Leider bieten wir im Moment keine Workshops für Einzelpersonen an.

Solltest du als Gruppe ab 5 Leuten einen Workshop durchführen wollen,
dann kannst du dich gerne per E-Mail oder telefonisch bei uns melden.

Bis bald!

Mit sportlichen Grüßen

Dein Twio X e.V.

---

Vorstand gem. § 26 BGB:
Jewgeni Eisenberg | Merlin Szymanski | Oliver Grehl
Vereinsregisternummer: VR 4359
Steuernummer: 231/141/11554
Telefon: +49 177 211 93 22 | E.Mail: parkour@twio-x.de | Internet: www.twio-x.de
{% endautoescape %}