{% load custom_filters %}


<style>
    .polygon{
        width: 60px;
        height: 60px;
        color: white;
        background-color: #088eaa;
        clip-path:polygon(0 0,100% 0%,100% 78%,0% 100%);
    }
</style>

<section class="section" id="event_section">
    <div class="content">
        <h1 class="mdl-typography--display-4">Veranstaltungen</h1>
        {% if messages %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col p-2 light-bg mdl-shadow--2dp">
                <h4 class="m-0 primary">Wichtige Hinweise</h4>
                {% for msg in messages %}
                <div class="m-1">
                    <span>[{{msg.author.first_name}}, {{msg.date |date:'d.m.Y'}}]: <strong>{{msg.title}}</strong> </span>
                    <p>{{msg.message}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% for year in events %}
            <h3 class="m-1">{{year}}</h3>
            <div class="mdl-grid p-0 m-0" >

                {% for month in events|lookup:year %}
                <!-- one column for the sessions of each day -->
                <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                    <div class="card-square my-2 mdl-shadow--2dp">
                        <div class="mdl-card__title p-0 primary-bg">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col"><h4 class="m-0">{{ month }}</h4></div>
                            </div>
                        </div>
                    </div>
                    {% for event in events|lookup:year|lookup:month %}
                    <div class="mdl-card mdl-shadow--2dp my-2 relative">
                        <h4 class="m-0 p-1">{{event.title}}</h4>
                        <div class="mdl-card__supporting-text">
                            <p class="p-0">{% if event.multiple_days %}{{event.start_date|date:'d.m' }} - {% endif %} {{event.end_date|date:'d.m.Y' }}</p>
                            <p class="m-0"> {{event.place}}</p>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <a class="mdl-button mdl-button--colored mdl-js-button">Details</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% empty %}
            <h4>Aktuell sind keine Events geplant</h4>
        {% endfor %}
        </div>
    </div>
</section>