{% load static %}
{% load custom_filters %}

<section class="section" id="training_section">
    <div class="content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col center">
                <h1 class="light">Training</h1>
            </div>
        </div>
        <!-- Here the Messages -->
        {% if request.user.is_authenticated %}
            {% if request.user.profile.permission_level > 1 %}
            <div class="center">
                <div >
                    <a href="{% url 'message_create' %}?display=sessions" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <div id="tt1" class="material-icons">campaign</div>
                    </a>
                </div>
            </div>
            {% endif %}
        {% if messages %}
        <div class="mdl-grid my-2">
            <div class="mdl-cell mdl-cell--12-col m-2 p-2 secondary-bg">
                {% for msg in messages %}
                <div class="m-1 flex_row">
                    <div>
                        <span class="light">[{{msg.author.first_name}}, {{msg.date |date:'d.m.Y'}}]: <strong>{{msg.title}}</strong> </span>
                        <p class="light">{{msg.message}}</p>
                    </div>
                    <div>
                        {% if request.user.profile.permission_level > 1 %}
                        <form>
                            {% csrf_token %}
                            <a hx-post="{% url 'message_delete' msg.pk %}?display=sessions"
                                hx-confirm="Hinweis löschen?"
                                hx-target="#training_section"
                                class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons light">delete</i>
                            </a>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <style>
            .mdl-card{
                max-width:100% !important;
                background: #F0F4FA;
            }
        </style>
        <div class="mdl-grid">
            {% for short, day in session_days %}
            <!-- one column for the sessions of each day -->
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                {% for session in sessions|lookup:short %}
                {% include 'snippets/training/session_card.html' %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% if not request.user.is_authenticated %}
    <section class="content hero">
    <!--Probetraining-->
    {% include 'snippets/training/trial_card.html' %}
    </section>
    {% endif %}
    {% if request.user.profile.permission_level > 1 %}
    <div class="center">
        <div>
            <a href="{% url 'session_create'%}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
    {% endif %}
</section>