{% load custom_filters %}

<section class="section" id="training_section">
    <div class="content">
        <h1 class="mdl-typography--display-4">Training</h1>
        <!-- Here the Messages -->
        {% if messages %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col p-2 light-bg mdl-shadow--2dp">
                <h4 class="m-0 mdl-button--accent">Wichtige Hinweise</h4>
                {% for msg in messages %}
                <div class="m-1">
                    <span>[{{msg.author.first_name}}, {{msg.date |date:'d.m.Y'}}]: <strong>{{msg.title}}</strong> </span>
                    <p>{{msg.message}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="mdl-grid" >
            <style>
                .mdl-card{
                    min-height: 100px !important;
                    max-width: 100%;
                }
            </style>

            {% for short, day, order in session_days %}
            <!-- one column for the sessions of each day -->
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                <div class="card-square my-2 mdl-shadow--2dp">
                    <div class="mdl-card__title p-0 secondary-bg">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col"><h4 class="m-0">{{ day }}</h4></div>
                          </div>
                    </div>
                </div>
                {% for session in sessions|lookup:short %}
                <!--session hinweise -->
                <div class=" mdl-card mdl-shadow--2dp my-2">
                    <div class="mdl-card__supporting-text">
                        <h4 class="m-0">{{session.spot.title}}</h4>
                        <p class="p-0">{{session.format_start_time}} - {{session.format_end_time}} Uhr</p>
                        <p class="m-0">Alter: {{session.agegroup.lower }} - {{session.agegroup.upper }} Jahre</p>
                    </div>
                    <div class="mdl-card__menu">
                        <a href="https://www.google.de/maps/dir//{{session.spot.lat}},{{session.spot.long}}/@{{session.spot.lat}},{{session.spot.long}},17z"
                            target="_blank"
                            class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <i class="material-icons">pin_drop</i>
                        </a>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                      <a class="mdl-button mdl-button--colored mdl-js-button">Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>