{% extends "main/page.html" %}

{% load custom_filters %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.6.2"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
{% endblock %}

{% block pre_content_class %}
{% if request.user.pk|isin:event.participant_users %}
primary-bg light
{% else %}
primary2-bg light
{% endif %}
{% endblock %}

{% block pre_content %}
<h1>{{object.title}}</h1>
{% endblock %}

{% block content %}

    <section>
        <!-- The Header -->
        {% include 'snippets/events/event_header.html' with event=object %}
        {% if event.teilnahmebedingungen %}
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Teilnahmebedingungen</span>
            <a href="{{event.teilnahmebedingungen.url}}" class="mdl-chip__action"><i class="material-icons">download</i></a>
        </span>
        {% endif %}

        {% if event.datenschutz %}
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Datenschutzerklärung</span>
            <a href="{{event.datenschutz.url}}" class="mdl-chip__action"><i class="material-icons">download</i></a>
        </span>
        {% endif %}

        {% if event.einverstaendnis %}
        <span class="mdl-chip mdl-chip--deletable">
            <span class="mdl-chip__text">Einverständniserklärung</span>
            <a href="{{event.einverstaendnis.url}}" class="mdl-chip__action"><i class="material-icons">download</i></a>
        </span>
        {% endif %}

        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#starks-panel" class="mdl-tabs__tab is-active">Beschreibung</a>
                {% if request.user.profile.permission_level > 1 %}
                <a href="#lannisters-panel" class="mdl-tabs__tab">Teilnehmende</a>
                {% endif %}
            </div>
            <div class="mdl-tabs__panel is-active" id="starks-panel">
                <!-- The description -->
                <div id="description">
                    {% if request.user.profile.permission_level > 1 %}
                    {% include 'snippets/editor/editor_body.html' with event=object description=object.description readonly=False %}
                    {% else %}
                    {% include 'snippets/editor/editor_body.html' with event=object description=object.description readonly=True %}
                    {% endif %}
                </div>
            </div>
            {% if request.user.profile.permission_level > 1 %}
            <div class="mdl-tabs__panel" id="lannisters-panel">
                {% include 'snippets/tables/participant_table.html' %}
            </div>
            {% endif %}
          </div>
    </section>
{% endblock %}