{% extends "main/page.html" %}

{% block content %}
    <section>
        <h1 class="p-0 m-0">{{event.title}}</h1>
        <p>{{event.short}}</p>
        <h6>Persönliche Informationen</h6>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--First, the user/person-->
            {% if request.user.is_authenticated %}
            <input type="hidden" value="{{request.user.pk}}" name="user">
            Als Vereinsmitglied haben wir deine Daten bereits hinterlegt :)
            {% else %}
            <div class="mdl-grid">
                <div class="mdl-cell--6-col mdl-cell--12-col--phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                        <input class="mdl-textfield__input" type="text" id="first_name" name="first_name" pattern=".*" data-required>
                        <label class="mdl-textfield__label" for="first_name">Vorname</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="last_name" name="last_name" pattern=".*" data-required>
                        <label class="mdl-textfield__label" for="last_name">Nachname</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="email" name="email" pattern=".*@.*\..*" data-required>
                        <label class="mdl-textfield__label" for="email">Email-Adresse</label>
                        <span class="mdl-textfield__error">Bitte gib eine Emailadresse an</span>
                    </div>
                </div>
                <div class="mdl-cell--6-col mdl-cell--12-col--phone">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="birthday" name="birthday" data-required>
                        <label class="mdl-textfield__label" for="birthday">Geburtsdatum</label>
                        <span id="invalid_date" class="mdl-textfield__error">Mit dem Geburtsdatum kannst du dich nicht anmelden</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                        <input type="text" value="" class="mdl-textfield__input" id="sex" readonly>
                        <input type="hidden" value="" name="sex" data-required>
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="sex" class="mdl-textfield__label">Geschlecht</label>
                        <ul for="sex" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="m">Männlich</li>
                            <li class="mdl-menu__item" data-val="w">Weiblich</li>
                            <li class="mdl-menu__item" data-val="d">Divers</li>
                            <li class="mdl-menu__item" data-val="na">Keine Angabe</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            <!--Second, the event-->
            <input type="hidden" name="event" value="{{event.pk}}">
            <!--Last, the additional formfields-->
            {% if event.question_dict %}
            <h6 class="primary">Zusatzfragen</h6>

            <div class="mdl-grid">
                <div class="mdl-cell--12-col">
                    {% for key,content in event.question_dict %}
                    {% if content.1 == 'text' %}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                        <input class="mdl-textfield__input" type="text" id="{{key}}" name="{{key}}">
                        <label class="mdl-textfield__label" for="{{key}}">{{content.0}}</label>
                    </div>
                    {% elif content.1 == 'number' %}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                        <input class="mdl-textfield__input" type="number" id="{{key}}" name="{{key}}" pattern="[0-9]+">
                        <label class="mdl-textfield__label" for="{{key}}">{{content.0}}</label>
                        <span class="mdl-textfield__error">Bitte gib eine Zahl an</span>
                    </div>
                    {% elif content.1 == 'checkbox' %}
                    <style>
                        .mdl-checkbox{
                            vertical-align: inherit !important;
                        }

                    </style>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{key}}">
                        <input type="checkbox" id="{{key}}" name="{{key}}" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__label">{{content.0}}</span>
                    </label>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>

            {% endif %}

            <h6>Dokumente</h6>
            <ul>
            {% if event.teilnahmebedingungen %}
            <li><a href="{{event.teilnahmebedingungen.url}}">Teilnahmebedingungen</a></li>
            {% endif %}
            {% if event.datenschutz %}
            <li><a href="{{event.datenschutz.url}}">Datenschutzerklärung</a></li>
            {% endif %}
            {% if event.einverstaendnis %}
            <li><a href="{{event.einverstaendnis.url}}">Einverständniserklärung</a></li>
            {% endif %}
            </ul>

            <p>Ich habe die Datenschutzerklärung und die Teilnahmebedingungen gelesen und akzeptiere sie.
            Ich willige ein, dass die von mir hinterlegten Daten für die Durchführung der Veranstaltung gespeichert und ggf. an die notwendigen Stellen übermittelt werden
            </p>
                <strong>Bei minderjährigen Teilnehmenden wird das Einverständnis der Eltern benötigen!</strong>

            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="confirm">
                <input type="checkbox" id="confirm" class="mdl-checkbox__input" data-required>
                <span class="mdl-checkbox__label">Ich habe verstanden</span>
            </label>
            <br> <br>
            <button id="form_submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                Speichern
            </button>
        </form>
    </section>

    <script>
        $('#birthday').on('change', function(){
            var birthday = new Date($(this).val())
            var eventDay = new Date("{{event.start_date|date:'m.d.Y'}}")
            var age = _calculateAge(birthday, eventDay)
            if(parseInt("{{event.min_age}}") > age || parseInt("{{event.max_age}}") < age ){
                $('#invalid_date').css({'visibility':"visible"})
                $('#form_submit').attr('disabled','')
            } else {
                $('#invalid_date').css({'visibility':"hidden"})
                $('#form_submit').removeAttr('disabled')
            }
        })
    </script>
{% endblock %}