{% extends "main/page.html" %}
{% load custom_filters %}

{% block pre_content_class %}
{% if request.user in object.participants.all %}
primary-bg light
{% else %}
primary2-bg light
{% endif %}
{% endblock %}

{% block pre_content %}
<h1>{% if object.spot.outdoor %}Outdoor{% else %}In der Halle{% endif %}</h1>
{% endblock %}

{% block content %}
    <section>
        <h3>{{object.spot}}</h3>

        {% if request.user.profile.permission_level > 1 %}
        <div class="mdl-card__menu">
            <a href="{% url 'session_update' object.pk %}"
                class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">edit</i>
            </a>
            <form action="{% url 'session_delete' object.pk %}">
                <button type="submit"
                    class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">delete</i>
            </button>
            </form>
        </div>
        {% endif  %}
        <div class="mdl-grid mdl-shadow--2dp">
            <!--Adjust the cell-sizes by the number of trainers-->
            {% with n_trainer=object.trainer.all|length %}
            {% for trainer in object.trainer.all %}
            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet">
                <div class="avatar p-2">
                    <div class ="member">
                        <div class="square">
                            <a href="#">
                                <img src="{{ trainer.image.url }}" alt="Avatar"/>
                            </a>
                        </div>
                        <p>{{trainer.name}}</p>
                        <p>{{trainer.trainer_telnr}}</p>
                    </div>
                </div>
            </div>
            {% endfor%}
            <div class="mdl-cell mdl-cell--{{ n_trainer|multiply:-2|add:12 }}-col mdl-cell--12-col-tablet">
                <div class="p-2">
                    <p>{{object.short|default:"Yesterday you said tomorrow"}}</p>
                    <div class="mdl-card__actions mdl-card--border center">
                        {% if request.user in object.participants.all %}
                        <a href="{% url 'session_participation_toggle' object.pk %}" class="m-2">
                            <button class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button primary-bg">Abmelden</button>
                        </a>
                        {% else %}
                        {% if request.user.profile.age >= object.min_age and request.user.profile.age <= object.max_age %}
                        <a href="{% url 'session_participation_toggle' object.pk %}" class="m-2">
                            <button class="mdl-button mdl-button--raised mdl-button--accent mdl-js-button primary-bg">Anmelden</button>
                        </a>
                        {% else %}
                        <i>Mit deinem Alter kannst du dich nicht anmelden</i>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
        {% if object.participants.all|length > 0 %}
        <div class="p-2">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col-phone">
                    <img src="data:image/png;base64,{{object.age_hist}}" alt="A histogram of the ages of session participants" width="100%" height="auto"/>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user in object.participants.all %}
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
            <div class="mdl-tabs__tab-bar">
                <a href="#starks-panel" class="mdl-tabs__tab is-active">Angemeldet</a>
                {% if request.user.trainer %}
                <a href="#participation-panel" class="mdl-tabs__tab">Anwesenheit</a>
                {% endif %}
            </div>
            <div class="mdl-tabs__panel is-active" id="starks-panel">
                <div class="p-2">
                    <table class="mdl-data-table mdl-js-data-table fullwidth">
                        <thead>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for participant in object.participants.all %}
                          <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{participant.first_name}}</td>
                            <td></td>
                            <td></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
            {% if request.user.trainer %}
            <div class="mdl-tabs__panel" id="participation-panel">
                <div class="p-2">
                    <span>Irgendwer fehlt immer</span>
                </div>
            </div>
            {%endif%}
          </div>
          {% endif %}

    </section>
{% endblock %}