{% extends "main/page.html" %}
{% load static %}

{% block navigation %}
<a class="mdl-navigation__link" href="{% url 'landing' %}#training-section-wrapper">ZURÜCK</a>
{% endblock %}

{% block content %}
<style>
    .mdl-textfield{
        width:100% !important;
    }
</style>

<section class="light">
    <h1 class="center secondary">Probetraining</h1>
    <p style="font-size: 1.5rem;">Schön, dass du das Training im Verein ausprobieren willst!</p>
    <p>Nachdem Du das unten stehende Formular ausgefüllt hast, erhältst Du von uns zeitnah eine Antwort per E-Mail,
        in welcher Du deine Probetrainings-Termine bekommst. Mit dem Trainer besprichst Du im Anschluss an das Training den weiteren Ablauf.
        Nach vier absolvierten Trainings kannst Du eine Mitgliedschaft beantragen
    </p>
    <div class="light-bg p-2">
        <h4 class="secondary">Persönliche Informationen</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--First, the user/person-->
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col--tablet">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                        <input class="mdl-textfield__input" type="text" id="first_name" name="first_name" pattern=".*" data-required>
                        <label class="mdl-textfield__label" for="first_name">Vorname</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="last_name" name="last_name" pattern=".*" data-required>
                        <label class="mdl-textfield__label" for="last_name">Nachname</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="email" name="email" pattern=".*@.*\..*" data-required>
                        <label class="mdl-textfield__label" for="email">Email-Adresse</label>
                        <span class="mdl-textfield__error">Bitte gib eine Emailadresse an</span>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col--tablet">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" id="birthday" name="birthday" data-required placeholder="1">
                        <label class="mdl-textfield__label" for="birthday">Geburtsdatum</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="telephone" name="telephone" pattern="\+[0-9]+.*">
                        <label class="mdl-textfield__label" for="telephone">Telefonnummer</label>
                        <span class="mdl-textfield__error">Bitte die Telefonnummer im Format +49 123 456 789 angeben</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                        <input type="text" value="" class="mdl-textfield__input" id="sex" readonly>
                        <input type="hidden" value="" name="sex" data-required>
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="sex" class="mdl-textfield__label">Geschlecht</label>
                        <ul for="sex" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="m">Männlich</li>
                            <li class="mdl-menu__item" data-val="w">Weiblich</li>
                            <li class="mdl-menu__item" data-val="d">Divers</li>
                            <li class="mdl-menu__item" data-val="na">Keine Angabe</li>
                        </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="notes" name="notes"></textarea>
                        <label class="mdl-textfield__label" for="notes">Anmerkungen</label>
                    </div>
                </div>
            </div>

            <p>Ich habe die <a href="{% url 'dataprotection' %}">Datenschutzerklärung</a> gelesen und akzeptiere sie.
            Ich willige ein, dass die von mir hinterlegten Daten für die Planung und Durchführung des Probetrainings gespeichert und ggf. an die Trainerinnen und Trainer übermittelt werden
            </p>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="confirm">
                <input type="checkbox" id="confirm" class="mdl-checkbox__input" data-required>
                <span class="mdl-checkbox__label">Ich habe verstanden</span>
            </label>

            <p><strong>Bei Minderjährigen wird das <a href="{% static 'media/docs/Einverstaendniserklaerung_TwioX.pdf' %}" target="_blank">Einverständnis</a> der Eltern benötigt!</strong></p>

            <button id="form_submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                Absenden
            </button>
        </form>
    </div>
</section>
{% endblock %}