{% extends "main/page.html" %}
{% load static %}

{% block content %}
    <section>
        <h1 class="p-0 m-0">Anfragenverwaltung</h1>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <h3>Neue Anfragen</h3>
                {% for tester in object_list %}
                    {% include 'snippets/training/tester_card.html' with object=tester %}
                {% endfor %}
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <h3>Batches</h3>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <h3>Abgeschlossen</h3>
            </div>
        </div>
    </section>
{% endblock %}