<div
    {% if request.user.is_authenticated %}
    class="mdl-card mdl-shadow--2dp my-2 modal_open"
    hx-get="{% url 'get_modal' %}?object=session_{{session.pk}}"
    hx-target="#modal-blank"
    {% else %}
    class="mdl-card mdl-shadow--2dp my-2"
    {% endif %}>
    <div class="flex_row">
        <div class="flex_row">
            <div
            {% if request.user in session.participants.all %}
            class="secondary-bg center"
            {% else %}
            class="primary-bg center"
            {% endif %}
            style="margin: 1px; width:50px">
                <h4 class="light m-1 p-0">{{session.day}}</h4>
            </div>
            <div class="p-1" style="word-break: break-word;">
                {% if session.hinweis %}
                <div class="secondary">{{session.hinweis}}</div>
                {% endif %}
                <h4 class="my-1 dark" style="margin-top:0px;">{{session.spot.title}}</h4>
                <span>{{session.start_time|date:'H:i'}} - {{session.end_time|date:'H:i'}}<span><br>
                <span>{{session.requirement_string}}</span>
            </div>
        </div>
    </div>
</div>
