{% extends "main/base.html" %}
{% block content %}
<section style="text-align:center;">
    <h1>Hallo {{user.first_name}}</h1>
    <div class="flex_center">
        <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
            <p> Dein Account wurde erfolgreich aktiviert </p>
            <a class="padding_all_big more_info_button" href="{% url 'password_reset_confirm' uidb64=uid token=token %}">Passwort erstellen</a>
        </div>
    </div>
</section>
{% endblock %}