{% extends "main/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'chairman_index' %}#nav">
        Übersicht </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Vorstandsliste</a>
</div>
{% endblock %}
{%block content %}
<h1>Vorstandsdokument </h1>
<section id="training">
     <div id="container">
        <h3>Vorstandsliste</h3>
            <div class="trainer_ui">
                {% if perms.members.add_chairman %}
                    <a class="blue_font" href="{% url 'chairman_create' %}#nav" title="Vorstand hinzufügen"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
                {% endif %}
            </div>
    </div>
    <div style="width:100%">
        <div class="padding_all_big tertiary_bg side_scroll">
            <table>
                <thead>
                    <tr>
                        <th nowrap="nowrap"><h5> Nr </h5></th>
                        <th nowrap="nowrap"><h5>-</h5></th>
                        <th nowrap="nowrap"><h5>-</h5></th>
                        <th nowrap="nowrap"><h5> Vorname </h5></th>
                        <th nowrap="nowrap"><h5> Nachname </h5></th>
                        <th nowrap="nowrap"><h5> E-Mail-Adresse </h5></th>
                        <th nowrap="nowrap"><h5> Telefonnummer </h5></th>
                        <th nowrap="nowrap"><h5> Kompetenzen </h5></th>
                        <th nowrap="nowrap"><h5> Foto </h5></th>
                    </tr>
                </thead>
                <tbody id="table_body">
                {% for object in object_list %}
                    <tr class="{% cycle 'odd' 'even' %} table_row">
                        <td nowrap="nowrap" class="counter"> {{forloop.counter}}</td>
                        <td nowrap="nowrap">
                            <a href="{% url 'chairman_update' object.id %}#nav" title="Bearbeiten">
                                <i class="fas fa-pen-square" style="font-size:17px;"></i>
                            </a>
                        </td>
                        <td nowrap="nowrap">
                            <a href="{% url 'chairman_delete' object.id %}#nav" title="Löschen">
                                <i class="far fa-minus-square" style="font-size:17px;"></i>
                            </a>
                        </td>
                        <td nowrap="nowrap"> {%if object.user.first_name %} {{object.user.first_name}} {% endif %}</td>
                        <td nowrap="nowrap"> {%if object.user.last_name %} {{object.user.last_name}} {% endif %}</td>
                        <td nowrap="nowrap"> {%if object.public_email %} {{object.public_email}} {% endif %}</td>
                        <td nowrap="nowrap"> {%if object.public_telnr %} {{object.public_telnr}} {% endif %}</td>
                        <td nowrap="nowrap"> {{object.competences}}</td>
                        <td nowrap="nowrap"> <a class="more_info_button" style="padding-left:0px;" href="{{ object.image.url}}">Profilbild</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
