{% extends "members/base.html" %}
{% block content %}
<section style="text-align:center;">
    <h1>Login</h1>
    <form class="form_wrapper" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class ="inner_form padding_all_big flex_center chair_col-5">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <p class="padding_tb_small" style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <label class="mdc-text-field mdc-text-field--filled username">
                <span class="mdc-text-field__ripple"></span>
                <input type="text" class="mdc-text-field__input" aria-labelledby="username-label" name="username" required value=
                {% if form.data.username %} {{form.data.username}} {% endif %}>
                <span class="mdc-floating-label" id="username-label">Nutzername/Email</span>
                <span class="mdc-line-ripple"></span>
            </label>
            </br>
            <label class="mdc-text-field mdc-text-field--filled password">
                <span class="mdc-text-field__ripple"></span>
                <input type="password" class="mdc-text-field__input" aria-labelledby="password-label" name="password" required value=
                {% if form.data.password %} {{form.data.password}} {% endif %}>
                <span class="mdc-floating-label" id="password-label">Passwort</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                <span >OK</span>
            </button>
        </div>
    </form>
    <a href="{% url 'password_reset' %}" class="more_info_button padding_all_small flex_center">Passwort zurücksetzen</a>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
</section>
{% endblock %}