{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Mitgliederliste</a>
</div>
{% endblock %}

{%block content %}
<section>
    <div id="container" style="text-align:center;">
        <h1>Alle Mitglieder</h1>
        <div class="trainer_ui">
            {% if perms.auth.add_user %}
                <a href="{% url 'register' %}#nav"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
            {% endif %}
        </div>
        <div class="padding_tb_big">
            <input class="searchbar" id="myInput" type="text" placeholder="Suche..">
        </div>
    </div>
    
    <div>
        <div class="flex_center">
            <div class="padding_all_big tertiary_bg chair_col-5 side_scroll">
                <table>
                    <thead>
                        <tr> 
                            <th><h5><i class="fas fa-user-check"></i></h5></th>
                            <th><h5> Vorname </h5></th>
                            <th><h5> Nachname </h5></th>
                            <th><h5> Gruppe </h5></th>
                            <th><h5> Löschen </h5></th>
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for member in object_list %}
                        <tr> 
                            {% if member.is_active %}
                                <td><i class="fas fa-check"></i></td>
                            {% else %}
                                <td>X</td>
                            {% endif %}
                            <td> {{member.first_name}} </td>
                            <td> {{member.last_name}} </td>
                            <td> 
                                <a href="{% url 'update_user' member.profile.id %}#nav"> 
                                    {{member.profile.group.group_id }} 
                                </a>
                            </td>
                            <td>  
                                <a href="{% url 'remove_user' member.id %}#nav">
                                    <i class="far fa-minus-square" style="font-size:17px;"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#table_body tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
{% endblock %}
