{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'chairman_index' %}#nav">
        Übersicht </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Mitgliederliste</a>
</div>
{% endblock %}

{%block content %}
<h1>Vorstandsdokument </h1>
<section>
    <div id="container">
        <h3>Mitgliederliste</h3>
        <div class="trainer_ui">
            {% if perms.auth.add_user %}
                <a href="{% url 'register' %}#nav" title="Benutzer hinzufügen"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
            {% endif %}
        </div>
        <div class="padding_tb_big">
            <input class="searchbar" id="myInput" type="text" placeholder="Suche..">
        </div>
    </div>
    
    <div>
        <div class="flex_center">
            <div class="padding_all_big tertiary_bg side_scroll">
                <table>
                    <thead>
                        <tr>
                            <th nowrap="nowrap"><h5> Nr </h5></th>
                            <th nowrap="nowrap"><h5><i class="fas fa-user-check"></i></h5></th>
                            <th nowrap="nowrap"><h5>-</h5></th>
                            <th nowrap="nowrap"><h5>-</h5></th>
                            <th nowrap="nowrap"><h5> Status </h5></th>
                            <th nowrap="nowrap"><h5> Vorname </h5></th>
                            <th nowrap="nowrap"><h5> Nachname </h5></th>
                            <th nowrap="nowrap"><h5> Mitgl. </h5></th>
                            <th nowrap="nowrap"><h5> Gruppe </h5></th>
                            <th nowrap="nowrap"><h5> Geschlecht </h5></th>
                            <th nowrap="nowrap"><h5> Geb.-Datum </h5></th>
                            <th nowrap="nowrap"><h5> E-Mail-Adresse </h5></th>
                            <th nowrap="nowrap"><h5> Ansprechpartner </h5></th>
                            <th nowrap="nowrap"><h5> Adresse </h5></th>
                            <th nowrap="nowrap"><h5> Telefonnummer </h5></th>
                            <th nowrap="nowrap"><h5> Notfallnummer </h5></th>
                            <th nowrap="nowrap"><h5> Anmeldung </h5></th>
                            <th nowrap="nowrap"><h5> Kündigung </h5></th>
                            <th nowrap="nowrap"><h5> Mandatsreferenz </h5></th>
                            <th nowrap="nowrap"><h5> Zahlungsart </h5></th>
                            <th nowrap="nowrap"><h5> Beitrag </h5></th>
                            <th nowrap="nowrap"><h5> Notizen Trainer </h5></th>
                            <th nowrap="nowrap"><h5> Notizen Vorstand </h5></th>
                            
                        </tr>
                    </thead>
                    <tbody id="table_body">
                    {% for member in object_list %}
                        <tr id={{member.profile.status}} class="{% cycle 'odd' 'even' %} table_row">
                            <td nowrap="nowrap" class="counter"> {{forloop.counter}}</td>
                            {% if member.is_active %}
                                <td><i class="fas fa-check"></i></td>
                            {% else %}
                                <td> X </td>
                            {% endif %}
                            <td nowrap="nowrap">
                                <a href="{% url 'update_user' member.id %}#nav" title="Bearbeiten">
                                    <i class="fas fa-pen-square" style="font-size:17px;"></i>
                                </a>
                            </td>
                            <td nowrap="nowrap">
                                <a href="{% url 'remove_user' member.id %}#nav" title="Löschen">
                                    <i class="far fa-minus-square" style="font-size:17px;"></i>
                                </a>
                            </td>
                            <td nowrap="nowrap"> {%if member.profile.status %} {{member.profile.status}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.first_name %} {{member.first_name}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.last_name %} {{member.last_name}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.member_num %} {{member.profile.member_num}}{% endif %} </td>
                            <td nowrap="nowrap"> {%if member.profile.group.group_id %} {{member.profile.group.group_id }} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.sex %} {{member.profile.sex}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.birthday %} {{member.profile.birthday|date:"d.m.Y"}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.email %} {{member.email}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.parent %} {{member.profile.parent}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.address %} {{member.profile.address}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.telephone %} {{member.profile.telephone}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.parent_telnr %} {{member.profile.parent_telnr}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.membership_start %} {{member.profile.membership_start|date:"m/Y"}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.membership_end %} Kündigung: {{member.profile.membership_end|date:"d.m.Y"}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.mandatsref %} {{member.profile.mandatsref}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.zahlungsart %} {{member.profile.zahlungsart}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.beitrag %} {{member.profile.beitrag}},00 €{% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.notes_trainer %} {{member.profile.notes_trainer}} {% endif %}</td>
                            <td nowrap="nowrap"> {%if member.profile.notes_chairman %} {{member.profile.notes_chairman}} {% endif %}</td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table_body tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
            $(".counter:visible").each(function(index, value){
                $(this).html(index+1)});
            $(".table_row:visible").each(function(index, value){
                $(this).removeClass('odd');
                if(index%2===1){
                    $(this).addClass('odd');
                };
            });
        });
    });
</script>
{% endblock %}
