{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'login' %}">
        Login </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Passwort zurücksetzen </a>
</div>
{% endblock %}
{% block content %}
<div style="text-align:center; margin-bottom:10%; margin-top:30px;" >
    <h1>Bitte gib deine Email ein</h1>
    {% include "members/form_snippet.html" %}
</div>
{% endblock %}