{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'login' %}">
        Login </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Passwort zurücksetzen </a>
</div>
{% endblock %}
{% block content %}
<div style="text-align:center">
    <h1 class="padding_all_big">Passwort erfolgreich geändert</h1>
    <div class="padding_all_big flex_center">
        <a class="form_button" href="{% url 'login' %}"> Login </a>
    </div>
</div>
{% endblock %}