{% extends "main/base.html" %}
{% block content %}
<section>
    {% if validlink %}
    <div style="text-align:center;">
        <h1>Passwort erstellen</h1>
        <div class="chair_col-5 tertiary_bg padding_all_big" style="margin: 0 auto;">
            <form class="form_wrapper" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                    <p class="padding_tb_small" style="color:red;">{{error}}</p>
                    {% endfor %}
                {% endif %}
                <div class ="inner_form padding_all_big flex_center">
                    {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                     <label class="mdc-text-field mdc-text-field--filled new_password1">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="password" class="mdc-text-field__input" aria-labelledby="new_password1-label" name="new_password1" required>
                        <span class="mdc-floating-label" id="new_password1-label">Neues Passwort</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                        <p style="color:red;">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                     <label class="mdc-text-field mdc-text-field--filled new_password2">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="password" class="mdc-text-field__input" aria-labelledby="new_password2-label" name="new_password2" required>
                        <span class="mdc-floating-label" id="new_password2-label">Neues Passwort Bestätigen</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                        <span >OK</span>
                    </button>
                </div>
            </form>
            <script>
                const fields = document.querySelectorAll('.mdc-text-field');
                fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
            </script>
        </div>
    </div>
    {% else %}
    <section style="text-align:center;">
        <h1>Ungültiger Link</h1>
        <div class="flex_center">
            <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
                <p class="padding_all_big">Vielleicht wurde er bereits genutzt? Bitte beantrage einen neuen Link</p>
                <a class="form_button" style="margin: 0 auto;" href="{% url 'password_reset' %}">Ok</a>
            </div>
        </div>
    </section>
    {% endif %}
</section>
{% endblock %}