{% extends "members/base.html" %}
{% block flag %}
    <h3 class="blue_header">PASSWORT ZURÜCKSETZEN</h3>
{% endblock %}
{% block content %}
    {% if validlink %}
    <div style="text-align:center; margin-bottom:10%; margin-top:30px;" >
        <h2>Bitte gib dein neues Passwort zwei Mal ein</h2>
        {% include "members/form_snippet.html" %}
    </div>
    {% else %}
    <div>
        <p>Der Link ist ungültig, vielleicht wurde er bereits genutzt?. Bitte hole dir einen neuen Link</p>
        <a class="more_info_button button_padding" href="{% url 'password_reset' %}"> Passwort zurücksetzen </a>
    </div>
    {% endif %}
{% endblock %}