{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'login' %}">
        Login </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Passwort zurücksetzen </a>
</div>
{% endblock %}
{% block content %}
<section>
    <div style="text-align:center;">
        <h1> Passwort zurückgesetzt </h1>
    </div>
    <div class="flex_center">
        <div class="padding_all_big chair_col-5 tertiary_bg" align="justify">
            <p>Eine Email wurde an die angegebene Adresse geschickt. 
               In dieser Email findest du einen Link, der es dir erlaubt ein neues Passwort
             zu erstellen. Bitte überprüfe deine Mailbox und sieh auch im Spam-Ordner nach.</p>
             </br>
             <p>
             Bitte beachte, dass wir dir aus Gründen des Datenschutzes nicht anzeigen, ob deine angegebene
             Emailadresse existiert.</p>
        </div>
    </div>
</div>
{% endblock %}