{% extends "members/base.html" %}
{% block content %}
<section>
    {% if validlink %}
    <div style="text-align:center;">
        <h1>Bitte gib dein neues Passwort zwei Mal ein</h1>
        {% include "members/form_snippet.html" %}
    </div>
    {% else %}
    <section style="text-align:center;">
        <h1>Ungültiger Link</h2>
        <div class="flex_center">
            <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
                <p class="padding_all_big">Vielleicht wurde er bereits genutzt? Bitte beantrage einen neuen Link</p>
                <a class="form_button" style="margin: 0 auto;" href="{% url 'password_reset' %}">Ok</a>
            </div>
        </div>
    </section>
    {% endif %}
</section>
{% endblock %}