{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'member_list' %}#nav">
        Nutzer </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Gruppe Wechseln</a>
</div>
{% endblock %}

{%block content %}
<section style="text-align:center; padding-top:5%;">
    <h1>GRUPPE WECHSELN</h1>
    <div class="chair_col-5 tertiary_bg padding_all_big" style="margin: 0 auto;">
        <form class="form_wrapper" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <p class="padding_tb_small" style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <div class ="inner_form padding_all_big flex_center">
                {% if form.group.errors %}
                {% for error in form.group.errors %}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
                {% endif %}
                <label class="mdc-text-field mdc-text-field--filled group">
                    <i class="mdc-select__dropdown-icon"></i>
                    <span class="mdc-text-field__ripple"></span>
                    <select id="select-group" class="mdc-text-field__input" style="background-color:#333333;" name="group" required>
                        <option value="" selected></option>
                            {% for id, name in form.group.field.choices %}
                            {% if name != "---------" %}
                            <option value="{{id}}">{{name}}</option>
                            {% endif %}
                            {% endfor %}
                    </select>
                    <span class="mdc-floating-label" id="group-label">Gruppe</span>
                    <span class="mdc-line-ripple"></span>
                </label>
            <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                    <span >OK</span>
                </button>
            </div>
        </form>
        <script>
            const fields = document.querySelectorAll('.mdc-text-field');
            fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
        </script>
    </div>
    
    
    
    
</section>
{% endblock %}