<head>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div style="background-color:green;">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}    
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> Trainer Hinzufügen </legend>
                {{form.as_p}}
                {{form2.as_p}}
            </fieldset>
            <div>
                <button type="submit"> Hinzufügen </button>
            </div>
        </form>
    </div>
</body>
