{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'member_list' %}#nav">
        Mitgliederliste</a>
    <a class="float_left"> > </a>
    {%if form.instance.username %}
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">{{form.instance.first_name}} {{form.instance.last_name}}</a>
    {% else %}
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Neuer Account</a>
    {% endif %}
</div>
{% endblock %}
{% block content %}

<section style="text-align: center;">
    {% if form.instance.username %}
    <h1>{{form.instance.first_name}} {{form.instance.last_name}}</h1>
    {% else %}
    <h1>Neuer Account</h1>
    {% endif %}
    <form class="form_wrapper tertiary_bg" method="POST" enctype="multipart/form-data">
        <div class ="inner_form padding_all_small">
            {% csrf_token %}
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <p class="padding_tb_small" style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <h5 class="padding_all_big">Mitgliedsdaten</h5>
            <div class="flex_center">
                <div class="col-5 padding_all_small">
                    {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled first_name">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="first_name-label" name="first_name" required value=
                        {% if form.instance.first_name %} "{{form.instance.first_name}}" {% else %} "{{form.data.first_name}}" {% endif %}>
                        <span class="mdc-floating-label" id="first_name-label">Vorname</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled last_name">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="last_name-label" name="last_name" required value=
                        {% if form.instance.last_name %} "{{form.instance.last_name}}" {% else %} "{{form.data.last_name}}" {% endif %}>
                        <span class="mdc-floating-label" id="last_name-label">Nachname</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.address.errors %}
                        {% for error in form.address.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled address">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="address-label" name="address" value=
                        {% if form2.instance.address %} "{{form2.instance.address}}" {% else %} "{{form2.data.address}}" {% endif %}>
                        <span class="mdc-floating-label" id="address-label">Adresse</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.birthday.errors %}
                        {% for error in form.birthday.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled birthday">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="birthday-label" name="birthday" value=
                        {% if form2.instance.birthday %} {{form2.instance.birthday|date:"d.m.Y"}} {% else %} {{form2.data.birthday|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="birthday-label">Geburtdatum</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
                
                <div class="col-5 padding_all_small">
                    {% if form.telephone.errors %}
                        {% for error in form.telephone.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled telephone">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="telephone-label" name="telephone" value=
                        {% if form2.instance.telephone %} "{{form2.instance.telephone}}" {% else %} "{{form2.data.telephone}}" {% endif %}>
                        <span class="mdc-floating-label" id="telephone-label">Telefonnummer</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled email">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="email" class="mdc-text-field__input" aria-labelledby="email-label" name="email" value=
                        {% if form.instance.email %} "{{form.instance.email}}" {% else %} "{{form.data.email}}" {% endif %}>
                        <span class="mdc-floating-label" id="email-label">E-Mail-Adresse</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.sex.errors %}
                        {% for error in form.sex.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled sex">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="sex-label" name="sex" value=
                        {% if form2.instance.sex %} "{{form2.instance.sex}}" {% else %} "{{form2.data.sex}}" {% endif %}>
                        <span class="mdc-floating-label" id="sex-label">Geschlecht</span>
                        <span class="mdc-line-ripple"></span>
                    </label>   
                </div>
            </div>
            <br>
            <h6> Bei Minderjährigen </h6>
                    {% if form.parent.errors %}
                        {% for error in form.parent.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled parent">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="parent-label" name="parent" value=
                        {% if form2.instance.parent %} "{{form2.instance.parent}}" {% else %} "{{form2.data.parent}}" {% endif %}>
                        <span class="mdc-floating-label" id="parent-label">Ansprechpartner</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.parent_telnr.errors %}
                        {% for error in form.parent_telnr.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled parent_telnr">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="parent_telnr-label" name="parent_telnr" value=
                        {% if form2.instance.parent_telnr %} "{{form2.instance.parent_telnr}}" {% else %} "{{form2.data.parent_telnr}}" {% endif %}>
                        <span class="mdc-floating-label" id="parent_telnr-label">Notfallnummer</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
            
            <h5 class="padding_all_big">Vereinsdaten</h5>
            <div class="flex_center">
                <div class="col-5 padding_all_small">
                    <h6>Verwaltung</h6>
                    
                    {% if form.membership_start.errors %}
                        {% for error in form.membership_start.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled membership_start">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="membership_start-label" name="membership_start" value=
                        {% if form2.instance.membership_start %} {{form2.instance.membership_start|date:"d.m.Y"}} {% else %} {{form2.data.membership_start|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="membership_start-label">Start der Mitgliedschaft</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    {% if form.instance.username %}
                    {% if form.membership_end.errors %}
                        {% for error in form.membership_end.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled membership_end">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="membership_end-label" name="membership_end" value=
                        {% if form2.instance.membership_end %} {{form2.instance.membership_end|date:"d.m.Y"}} {% else %} {{form2.data.membership_end|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="membership_end-label">Kündigungsdatum</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled status">
                        <i class="mdc-select__dropdown-icon"></i>
                        <span class="mdc-text-field__ripple"></span>
                        <select id="select-status" class="mdc-text-field__input" style="background-color:#333333;" name="status">
                            <option value={% if form2.instance.status %} "{{form2.instance.status}}" {% else %} "{{form2.data.status}}"{% endif %}>
                            {% if form2.instance.status %} {{form2.instance.status}} {% else %} {{form2.data.status}} {% endif %}</option>
                                {% for id, name in form2.status.field.choices %}
                                {% if name != "---------" %}
                                <option value="{{id}}">{{name}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <span class="mdc-floating-label" id="status-label">Status</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    {% if form.member_num.errors %}
                        {% for error in form.member_num.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled member_num">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="member_num-label" name="member_num" required value=
                        {% if form2.instance.member_num %} {{form2.instance.member_num}} {% else %} {{form2.data.member_num}} {% endif %}>
                        <span class="mdc-floating-label" id="member_num-label">Mitgliedsnummer</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    <label class="mdc-text-field mdc-text-field--filled group">
                        <i class="mdc-select__dropdown-icon"></i>
                        <span class="mdc-text-field__ripple"></span>
                        <select id="select-group" class="mdc-text-field__input" style="background-color:#333333;" name="group" required>
                            <option value={% if form2.instance.group %} "{{form2.instance.group.id}}" {% else %} "{{form2.data.group.id}}" {% endif %}>
                            {% if form2.instance.group %} {{form2.instance.group}} {% else %} {{form2.data.group}} {% endif %}</option>
                                {% for id, name in form2.group.field.choices %}
                                {% if name != "---------" %}
                                <option value="{{id}}">{{name}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <span class="mdc-floating-label" id="group-label">Gruppe</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                </div>
                <div class="col-5 padding_all_small">
                    <h6>Mitgliedsbeitrag</h6>
                    {% if form.zahlungsart.errors %}
                        {% for error in form.zahlungsart.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled zahlungsart">
                        <i class="mdc-select__dropdown-icon"></i>
                        <span class="mdc-text-field__ripple"></span>
                        <select id="select-zahlungsart" class="mdc-text-field__input" style="background-color:#333333;" name="zahlungsart" required>
                            <option value={% if form2.instance.zahlungsart %} "{{form2.instance.zahlungsart}}" {% else %} "{{form2.data.zahlungsart}}" {% endif %}>
                            {% if form2.instance.zahlungsart %} {{form2.instance.zahlungsart}} {% else %} {{form2.data.zahlungsart}} {% endif %}</option>
                                {% for id, name in form2.zahlungsart.field.choices %}
                                {% if name != "---------" %}
                                <option value="{{id}}">{{name}}</option>
                                {% endif %}
                                {% endfor %}
                        </select>
                        <span class="mdc-floating-label" id="zahlungsart-label">Zahlungsart</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    
                    {% if form.beitrag.errors %}
                        {% for error in form.beitrag.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled beitrag">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="digit" class="mdc-text-field__input" aria-labelledby="beitrag-label" name="beitrag" required value=
                        {% if form2.instance.beitrag %}{{form2.instance.beitrag}}{% else %}{{form2.data.beitrag}}{% endif %}>
                        <span class="mdc-floating-label" id="beitrag-label">Mitgliedsbeitrag</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    {% if form.mandatsref.errors %}
                        {% for error in form.mandatsref.errors %}
                            <p style="color:red;">{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <label class="mdc-text-field mdc-text-field--filled mandatsref">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="digit" class="mdc-text-field__input" aria-labelledby="mandatsref-label" name="mandatsref" value=
                        {% if form2.instance.mandatsref %} "{{form2.instance.mandatsref}}" {% else %} "{{form2.data.mandatsref}}" {% endif %}>
                        <span class="mdc-floating-label" id="mandatsref-label">Mandatsreferenz</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
            </div>
            <h5 class="padding_all_big">Notizen</h5>
            <h6>Trainernotizen</h6>
            {% if form.notes_trainer.errors %}
                {% for error in form.notes_trainer.errors %}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
              <textarea class="mdc-text-field__input" rows="8" cols="80" aria-label="notes_trainer" id="id_comment" 
              name="notes_trainer" >{% if form2.instance.notes_trainer %}{{form2.instance.notes_trainer}}{% else %}{{form2.data.notes_trainer}}{% endif %}</textarea>
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label>
            <h6>Vorstandsnotizen</h6>
            {% if form.notes_chairman.errors %}
                {% for error in form.notes_chairman.errors %}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
              <textarea class="mdc-text-field__input" rows="8" cols="80" aria-label="notes_chairman" id="id_comment" 
              name="notes_chairman">{% if form2.instance.notes_chairman %}{{form2.instance.notes_chairman}}{% else %}{{form2.data.notes_chairman}}{% endif %}</textarea>
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label>
            <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                <span >OK</span>
            </button>
        </div>
    </form>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
    </div>
</section>

{% endblock %}