{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar_blue">
    <div>
        <a class="float_left" href="{% url 'index' %}">
            <i class="fas fa-chevron-left" style="font-size:32px;"></i>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<section style="text-align: center;">
    <h2>NEUEN ACCOUNT HINZUFÜGEN</h2>
    <form method="POST" >
        {% csrf_token %}
        <div class ="inner_form">
            {% for field in form2 %}
            <div class="field_wrapper">
                <div>
                {{ field.label_tag }} {{ field }}
                </div>
            </div>
            {% endfor %}
            {% for field in form %}
            {% if not 'Passwort' in field.label %}
            <div class="field_wrapper">
                <div>
                {{ field.label_tag }} {{ field }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit">
                <span>OK</span>
            </button>
        </div>
    </form>
</section>
{% endblock %}