$primary: #088eaa;

.col-4 {
    width: 33.33%;
    }
.col-5 {
    width: 50%;
    }
.chair_col-4 {
    width: 33.33%;
    }
.chair_col-5 {
    width: 50%;
    }
h1{
    font-size:2.3rem;
}
h2{
    font-size:1.8rem;
}
h3{
    font-size:1.5rem;
}
.round_profile_pic_chairman{
    border-radius: 50%;;
    max-height: 150px;
}
.element span{
    display:flex;
}
.image_wrapper{
    height:450px;
    img{
        width: 100%;
        height:auto;
    }
}
.image_wrapper2{
    height:450px;
    img{
        width: 100%;
        height:auto;
    }
}
.form_wrapper{
    width:70%;
}
.person_info{
    text-align:left;
}
.competences{
    text-align:left;
}

.landing_flex{
    display: flex; 
    flex-direction:row;
    justify-content: space-evenly;
}
.landing_img{
    bottom:-30%;
}

.landing_option{
    width:220px;
    height: 220px;
    border-radius:50%;
    -webkit-transition: transform 0.15s ease-in-out;
    -moz-transition:transform 0.15s ease-in-out;
    -ms-transition:transform 0.15s ease-in-out;
    opacity: 0.6;
    
    h3{
        opacity: initial;
        color:white;
        font-weight:500;
    }
    &:hover{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        background-color:$primary;
    }
}