
.col-4 {
    width: 33.33%;
    }
.col-5 {
    width: 50%;
    }
.chair_col-4 {
    width: 33.33%;
    }
.chair_col-5 {
    width: 50%;
    }
h1{
    font-size:3rem;
}
h2{
    font-size:2.5rem;
}
h3{
    font-size:1.5rem;
}
.round_profile_pic_chairman{
    border-radius: 50%;;
    max-height: 150px;
}
.element span{
    display:flex;
}
.image_wrapper{
    height:450px;
    img{
        width: 100%;
        height:auto;
    }
}
.form_wrapper{
    width:70%;
}
