/*Global variables*/

$primary: #088eaa;
$primary_hover:#69CCE1;
$secondary: #7b1b42;
$secondary_hover:#a0305d;

$primary_bg: #191919;
$secondary_bg: #262626;
$tertiary_bg: #333333;

$font_col: #d1d1d1;
$header_col: white;

$padding_big: 20px;
$padding_medium: 15px;
$padding_small: 10px;

/*Overal stuff*/
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-size: 15px;
  color: $font_col;
  font-family: Catamaran Noto sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  line-height:1.2;
}
[class*="col-"] {
  width: 100%;
}

/*MESSAGES */
.message_success{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid green;
    color:green;
}
.message_error{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 2px solid #7b1b42;
    color:#7b1b42;
}
.message_info{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid yellow;
    color:yellow;
}
.message_warning{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid orange;
    color:orange;
}
.message_debug{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid white;
    color:white;
}

/*Some Container-things*/
#container{
    position:relative;
}
#info_position{
    position: absolute;
    top: -5px;
    right: 20px;
    z-index:2;
}
#info_position2{
    position: absolute;
    top: 3px;
    left: 5px;
    z-index:2;
}
#info_position3{
    position: absolute;
    top: 3px;
    right: 5px;
    z-index:2;
}

/*Structure Stuff*/
.padding_tb_small{
    padding-bottom: $padding_small;
    padding-top: $padding_small;
}
.padding_rl_small{
    padding-right: $padding_small;
    padding-left: $padding_small;
}
.padding_tb_big{
    padding-bottom: $padding_big;
    padding-top: $padding_big;
}
.padding_rl_big{
    padding-right: $padding_big;
    padding-left: $padding_big;
}
.padding_all_small{
    padding: $padding_small;
}
.padding_all_med{
    padding: $padding_medium;
}
.padding_all_big{
    padding: $padding_big;
}
.float_left{
 float: left;
}
.float_right{
  float: right;
}
.sticky{
  position: sticky;
  top: 0;
  z-index:10;
}
.flex_center{
    display: flex; 
    justify-content: center;
}

/*Buttons*/
.form_button {
    color:white;
    display:block;
    border-radius:5px;
    width: 100px;
    background-color:$primary;
    padding: $padding_small;
    &:hover{
        background-color:$primary_hover;
    }
}
.form_button_sec {
    color:white;
    display:block;
    border-radius:5px;
    width: 100px;
    background-color:$secondary;
    padding: $padding_small;
    &:hover{
        background-color:$secondary_hover;
    }
}
.more_info_button{
    color:$primary;
    &:hover{
        color:#69CCE1;
    }
}

/*Color and Font-Stuff */
.secondary{
    background-color: $secondary;
}
.primary{
    background-color: $primary;
}
.prim_font{
    color: $primary;
    }
.sec_font{
    color: $secondary;
    }
.strong{
    font-weight:500;
}
.tertiary_bg{
    background-color: $tertiary_bg;
}
.primary_bg{
    background-color: $primary_bg;
}

/* DOM */
body {
    background-color: $primary_bg;
    .frame {
        margin-right:10%;
        margin-left:10%;
        padding-bottom:5%;
        padding-top:2%;
        min-height: 400px;
    }
}
section{
    padding-top: $padding_big;
    padding-bottom: $padding_big;
    clear:both;
    overflow:hidden;
}
div{
    overflow:hidden;
}
ul{
    overflow:hidden;
}
header {
  padding: $padding_big;
  text-align: center;
  background: $primary_bg;
  img{
      min-height: 15%;
      min-width: 15%;
  }
}
nav{
  font-family: Roboto Noto SansSerif;
  font-weight: 500;
  background-color: $primary_bg;
}
a{
    text-align: center;
    padding: $padding_small;
}
h1{
    font-size:2rem;
    font-weight:300;
    color:$header_col;
    padding-bottom: 15px;
    text-transform: uppercase;
}
h2{
    color:$header_col;
    font-size:1.75rem;
    font-weight:300;
    padding-bottom: 10px;
    text-transform: uppercase;
}
h3{
    font-weight:300;
    font-size:1.2rem;
    color:$header_col;
    text-transform: uppercase;
}
h4{
    color:$header_col;
    font-weight:300;
    font-size: 1.1rem;
    text-transform: uppercase;
}
h5{
    color:$header_col;
    font-weight:700;
    font-size: 1.1rem;
}

/*Special Stuff*/
.three_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    a{
      display: block;
      text-align: center;
    }
    a:hover{
        color: white;
    }
}
.here_I_am{
    border-bottom: solid 2px $primary;
}
/* Dropdown Menu */
.content_wrapper{
    overflow:visible;
    background-color: $secondary_bg;
}
.navbar {
    clear:both;
    padding-right:10%;
    padding-left: 10%;
    a {
        margin: auto 0px;
        font-weight:300;
    }
    i:hover{
        color: $header_col;
    }
}
.dropdown{
    .dropbtn{
        padding: $padding_medium;
        background-color:$primary_bg;
        &:hover{
            i{color: $header_col;}
        }
    }
    &:hover {
        i{color: $header_col;}
        .dropdown-content{display: block;}
    }
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $primary_bg;
    z-index:5;
    a{
        display: block;
        text-align: left;
        &:hover{
            background-color: black;
            color:$header_col;
        }
    }
}
.image_wrapper{
    position:relative;
    align-items:center;
    justify-content:center;
    height:350px;
    display:flex;
    width: 100%;
    img{
        position:absolute;
        pointer-events:none;
        object-fit:cover;
        bottom: 0;
        height: 120%;
        width:auto;
    }
}
.trainer_ui{
    a{
        float:left;
        padding:5px;
    }
    i:hover{
        color:$header_col;
    }
    p{
        font-size:0.7rem;
        color:grey;
        padding:5px;
        float:left;
    }
    &:after{
    clear:both;
    }
}
.polygon{
    height:100%;
    clip-path:polygon(0 0,100% 0%,100% 78%,0% 100%);
    width:60px;
}
.second_section{
    width:75%;
    text-align:left;
    }
.third_session{
    margin-top:1px;
    text-align:center;
}
.session_alert{
    text-align: center; 
    background-color: #7b1b42; 
    padding:3px;
}

/* Google Maps enbedded */
#map {
        height: 400px;  /* The height is 400 pixels */
       }

.dot_participate {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
}
.dot_nonparticipate {

  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
}

/*Event Detail */
.time_info{
    color:grey;
    text-align:center;
    padding-top:3px;
    font-size:0.7rem;
}

/*Trainer/Chairman Overview*/
.round_profile_pic_chairman{
    border-radius: 50%;;
    max-height: 120px;
}
.competences{
    li{
        list-style-type: circle; 
    }
    padding: 15px;
    text-align:left;
}

/*Footer*/
footer{
    padding-right:10%;
    padding-left:10%;
    display:block; 
    background-color:$primary_bg;
    clear:both;
}
.element{
    text-align:center;
    i{color:$header_col;}
    span{
        color:$header_col;
        font-size:1.1rem;
        font-weight:300;
        padding:5px;
        display:none;
    }
    
    &:hover{
        transform:scale(1.2);
        i{color:$primary;}
        span{color:$primary;}
    }
}
.social {
  display:flex;
  justify-content:space-between;
  align-items:center;
  overflow:visible;
  padding:1.250rem 0;
  margin-top:70px;
}


/*For the forms */
.form_wrapper{
    display:flex;
    width:100%;
    margin: 0px auto;
}
.inner_form{
    background-color: $tertiary_bg;
    display:inline-block;
    width:100%;
}

/*For the Fields*/
.field_wrapper{
    padding:5px 5%;
    text-align:left;
    width:100%; 
    div{
        margin:3px;
        padding-top:30px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
        border-bottom: solid 1px;
        border-bottom-color:#fff;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    &:hover{
        border-bottom-color:$primary;
    }
        label{
            width:100%;
            position:absolute;
            top:0;
            left:0;
        }
        input{
            width:100%;
            border:none;
            color:white;
            background-color: inherit;
            box-shadow: none;
        }
        textarea{
            width:100%;
            color:white;
            border:none;
            height: auto;
            resize: none;
            outline:none;
            background-color: inherit;
            padding:15px;
            box-shadow: none;
        }
        select{
            width:100%;
            -moz-appearance: none;
            appearance: none;
            color:white;
            border:none;
            height: auto;
            resize: none;
            outline:none;
            background-color: inherit;
            padding:15px;
            box-shadow: none;
        }
    }
    ul{
        padding:15px;
        label{
            position:relative;
            padding:5px;
            padding-left:20px;
            color:white;
        }
    }
    li{
        position:relative;
        label{ 
            input{
                position:absolute;
                margin:auto;
                top: 0; 
                bottom: 0; 
                left:0;
                width:auto;
            }
        }
    }
    &:after{
        clear:both;
    }
}
.unfocused{
    div{
        background-color:inherit;
        label{
            font-weight:500;
            display:block;
            font-size:1.1rem;
            padding-top:30px;
            padding-left:10px;
            padding-right:10px;
            padding-bottom:10px;
            color:grey;
        }
    }
}
.focused{
    div{
        background-color:#2e2e2e;
        label{
            font-size:0.8rem;
            padding: 5px;
            color:$primary;
            position:absolute;
            top:0;
            left:0;
        }
        li{
            list-style-type:circle;
            color: #2e2e2e;
            input{
                left:-10px;
            }
        }
    }
}
.required{
    div{
        border-bottom-color:red;
        background-color:#2e2e2e;
        label{
            font-size:1.1rem;
            padding-top:30px;
            padding-left:10px;
            padding-right:10px;
            padding-bottom:10px;
            color:red;
        }
    }
}