body {
    background-color: #262626;
    color:#d1d1d1;
    margin:0px;
    border:0px;
    padding:0px;

}
ol{
    overflow:hidden;
}
li{
    overflow:hidden;
}
header {
  border:0px;
  margin:0px;
  padding: 20px;
  height: 10%;
  text-align: center;
  background: #191919;
}
header img{
  top: 50%;
  left: 50%;
  min-height: 15%;
  min-width: 15%;
}
/*Navigationsleiste */
nav ul{
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #191919;
}
.float_left{
  float: left;
}
.float_right{
  float: right;
}
.sticky{
  position: sticky;
  top: 0;
}
.equal_3{
    float:left;
    width: 33.33%;
}
nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #111;
  color: white;
}
/*Main Picture*/
.member_img_fixed{
    background-image: url("media/home.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position: bottom center; 
    height:450px;
}
/*Content*/
section{
    margin-right:10%;
    margin-left:10%;
}
h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
/*Trainingssessions*/
.session_divs{
    float:left;
    width: 30%;
    margin-right:15px;
    margin-bottom:15px;
}
.wrapper{
    height:100%;
}
.first_section{
    float:left;
    width:25%;
    height:50%;
    overflow:hidden;
    background-color:#333333;
}
.session_weekday{
    text-align:center;
    height: 50%;
    padding:10px;
    font-size:1.1rem;
    background-color: #088eaa;
    oerflow:hidden;
}

.second_section{
    float:left;
    text-align:center;
    width:75%;
    height:50%;
    background-color:#333333;
    }
.second_section h3{
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size:1.3rem;
    }
.second_section p{
    margin-top: 0px;
    font-size: 0.9rem;
    }
.third_session{
    margin-top:1px;
    float:left;
    width:100%;
    padding:5%;
    background-color:#333333;s
}
.third_session p{
    padding-left:10%;
    font-size: 1rem;
    padding:0px;
    margin-top:0px;
}
.session_alert{
    text-align: center; 
    background-color: #7b1b42; 
    padding:3px;
    margin:0px;
}


    
/*Eventcalender*/
.more_info_button{
    text-decoration: none;
    color:#088eaa;
}
.more_info_button:hover{
    color:#69CCE1;
}
/*TrainerOverview*/
.trainer_section{
    float:left;
    width: 25%;
    padding: 15px;
    margin-right:15px;
    margin-bottom:15p;
    background-color:#333333;
}
.round_profile_pic{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}
.trainer_info{
    text-align:center;
}
/*footer*/
footer{
    padding-right:10%;
    padding-left:10%;
    padding-bottom:3%;
    padding-top:15px;
    display:block; 
    background-color:#191919;" 
}
.chairman_section{
    float:left;
    padding: 15px;
    margin-left:0px;
    margin-right:15px;
    margin-bottom:15px;
}
.round_chairman_pic img{
    border-radius: 50%;
    width: 150px;
    height:150px;
    align:center;
}
.chairman_info{
    padding-left: 20px;
    align:center;
}
.chairman_info h3{
    margin-top: 0px;
    align:center;
}
.chairman_info p{
    margin: 0px;
    align:center;
}