* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
   /*simple media query for responsive design*/
  /* For desktop: */
  .col-4 {width: 50%;}
  .col-5 {width: 50%;}
}
@media only screen and (min-width: 1000px) {
   /*simple media query for responsive design*/
  /* For desktop: */
  .col-4 {width: 33.33%;}
  .col-5 {width: 50%;}
}
.frame{
margin-right:10%;
margin-left:10%;
}
.content_wrapper{
    background-color: #262626;
    padding-bottom:5%;
}
#container{
    position:relative;
}
#info_position{
    position: absolute;
    top: -10px;
    right: 20px;
    z-index:2;
}
#info_position2{
    position: absolute;
    top: 3px;
    left: 5px;
    z-index:2;
}
#info_position3{
    position: absolute;
    top: 3px;
    right: 5px;
    z-index:2;
}
body {
    background-color:#191919;
    color:#d1d1d1;
}
section{
    padding-top: 20px;
    padding-bottom:20px;
    clear:both;
    overflow:hidden;
}
section h2{
    font-size:2rem;
    margin-bottom: 20px;
}
.first_div{
    padding-top:10px;
    padding-bottom:10px;
}
ul{
    list-style: none;
    overflow:hidden;
}
ol{
    list-style: none;
    overflow:hidden;
}
a{
    text-decoration: none;
}
header {
  padding: 20px;
  height: 10%;
  text-align: center;
  background: #191919;
}
header img{
  top: 50%;
  left: 50%;
  min-height: 15%;
  min-width: 15%;
}
/*Navigationsleiste */
nav{
    z-index:5;
}
nav ul{
  font-size: 14px;
  font-weight: 500;
  background-color: #191919;
}
.float_left{
  float: left;
}
nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
nav li a:hover {
  background-color: #111;
  color: white;
}
/* Dropdown Menu */

.navbar {
  overflow: hidden;
  background-color: #191919;
}
.navbar a {
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 14px;  
  background-color:#191919;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#088eaa;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #191919;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}


.float_right{
  float: right;
}
.sticky{
  position: sticky;
  top: 0;
}
.equal_3{
    float:left;
    width: 33.33%;
}

/*Main Picture*/
.member_img_fixed{
    background-image: url("media/home.jpg");
    background-attachment:fixed;
    background-size:cover;
    background-position: bottom center; 
    height:450px;
}
/*Content*/
h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
/*Trainingssessions*/
/*for smartphone */
.session_divs{
    padding-right:0px;
    padding-bottom:20px;
}
@media only screen and (min-width: 768px) {
  /* For desktop and tablet: */
  .session_divs{
    float:left;
    padding-right:15px;
    padding-bottom:15px;
  }
}
.first_row{
    width:100%;
    float:left;
    display:table;
}
.session_weekday{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:25%;
    height:100%;
    font-size:1.1rem;
}
.blue_bg{
    background-color: #088eaa;
    }
.second_section{
    display:table-cell;
    width:75%;
    text-align:center;
    background-color:#333333;
    padding:15px;
    }
.second_section h3{
    font-size:1.3rem;
    }
.second_section p{
    font-size: 0.9rem;
    }
.third_session{
    margin-top:1px;
    float:left;
    width:100%;
    padding:5%;
    background-color:#333333;
}
.third_session p{
    padding-left:10%;
    font-size: 1rem;
}
.session_alert{
    text-align: center; 
    background-color: #7b1b42; 
    padding:3px;
}

/*Eventcalender*/
.more_info_button{
    color:#088eaa;
}
.more_info_button:hover{
    color:#69CCE1;
}
.dot_participate {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
}
.dot_nonparticipate {

  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
}
/*Event Detail */
.sign_up{
    display:block;
    background-color:#088eaa;
    color:white;
    padding:10px;
}
.sign_up:hover{
    display:block;
    background-color:#69CCE1;
    color:white;
}
.sign_down{
    display:block;
    background-color:#7b1b42;
    color:white;
    padding:10px;
}
.sign_down:hover{
    display:block;
    background-color:#a0305d;
    color:white;
}
.button_padding{
    padding-right:5px;
    padding-left:5px;
}
.time_info{
    color:grey;
    text-align:center;
    padding-top:3px;
    font-size:0.7rem;
}
/*TrainerOverview*/
.round_profile_pic{
    border-radius: 50%;;
    max-height: 150px;
}
.trainer_info{
    display:table-cell;
    width:75%;
    padding-left:20px;
}
.trainer_info h3{
    font-size:1.3rem;
    margin-bottom:5px;
}
.trainer_info p{
    font-size:1rem;
}

/*Trainer UI for events and sessions*/
.ui_div ul{
  background: #333333;
}
.ui_div a{
  display: block;
  color: white;
  text-align: center;
  font-size:0.9rem;
  padding: 14px 16px;
}
.ui_div li a:hover {
  background-color: #088eaa;
}
/*MESSAGES */
.message_success{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid green;
    color:green;
}
.message_error{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid red;
    color:red;
}
.message_info{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid yellow;
    color:yellow;
}
.message_warning{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid orange;
    color:orange;
}
.message_debug{
    margin-top:15px;
    padding:10px;
    text-align:center;
    border: 3px solid white;
    color:white;
}
/*footer*/
footer{
    padding-right:10%;
    padding-left:10%;
    padding-bottom:3%;
    padding-top:15px;
    display:block; 
    background-color:#191919;
    clear:both;
}
.chairman_section{
    float:left;
    padding: 15px;
    margin-right:15px;
    margin-bottom:15px;
}
.round_chairman_pic img{
    border-radius: 50%;
    width: 150px;
    height:150px;
    align:center;
}
.chairman_info{
    padding-left: 20px;
    align:center;
}
.chairman_info h3{
    align:center;
}
.chairman_info p{
    align:center;
}
.blue_header{
color: white; 
text-align: center; 
background-color: #088eaa; 
padding:10px; 
}
.grid-container {
  padding-top:50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
}