.col-4 {
    width: 50%;
    }
.col-5 {
    width: 50%;
    }
.chair_col-4 {
    width: 100%;
    }
.chair_col-5 {
    width: 100%;
    }
h1{
    font-size:2.5rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}

.image_wrapper{
    height:400px;
    img{
        width: 120%;
        height:auto;
    }
}

.trainer_ui{
    position: absolute; 
    right:0; 
    top:0;
    a{
        padding:5px;
        float:right;
    }
}
