{% autoescape off %}
Hallo {{object.first_name}} {{object.last_name}}

Vielen Dank für deine Anfrage, dein Interesse an einem Probetraining und an unserem Verein.

Wir freuen uns dass du unseren Sport versuchen möchtest und melden uns so schnell wie möglich
bei dir um dir die Zeiten für ein Probetraining mitzuteilen!

Bei weiteren Fragen kannst du dich gerne jederzeit per E-Mail oder telefonisch melden.

Bis bald!

Mit sportlichen Grüßen

Twio X e.V.

---
Vorstand gem. § 26 BGB:
Jewgeni Eisenberg | Merlin Szymanski | Oliver Grehl
Vereinsregisternummer: VR 4359
Steuernummer: 231/141/11554
Telefon: +49 177 211 93 22 | E.Mail: parkour@twio-x.de | Internet: www.twio-x.de

{% endautoescape %}