{% extends 'members/base.html' %}
{% block content %}
<h1>Trainerdokument</h1>
<div style="display:flex; justify-content: left; flex-wrap:wrap;">
        <a href="{% url 'trainer_index' %}" class="padding_all_small">Deine Daten</a>
        <a href="{% url 'abrechnung' %}" class="padding_all_small here_I_am">Abrechnungstabelle</a>
        <a href="{% url 'trainer_list' %}" class="padding_all_small">Trainerübersicht</a>
</div>
<br>
<h3> Abrechnungstabelle </h3>
<p>Die muss irgendwie dynamisch werden...</p>

{% endblock %}
