{% extends 'members/base.html' %}
{% block content %}
<h1>Trainerdokument</h1>
<div style="display:flex; justify-content: left; flex-wrap:wrap;">
        <a href="{% url 'trainer_index' %}" class="padding_all_small">Trainingstabellen</a>
        <a href="{% url 'trainer_data' %}" class="padding_all_small">Meine Daten</a>
        <a href="{% url 'abrechnung' %}" class="padding_all_small here_I_am">Abrechnungstabelle (ALT)</a>
        <!--<a href="{% url 'trainer_list' %}" class="padding_all_small">Trainerübersicht</a>-->
</div>
<br>
<h3> Abrechnungstabelle </h3>
<div style="display:flex; justify-content:left; flex-wrap:wrap;" class="padding_tb_small">
    <div class="padding_all_small" ><a class="padding_all_small tertiary_bg" style="cursor: pointer" id='reset'>Reset</a></div>
    <div class="padding_all_small" ><a class="padding_all_small tertiary_bg" style="cursor: pointer" id="add_week">+1 Woche</a></div>
    <div class="padding_all_small" ><a class="padding_all_small tertiary_bg" style="cursor: pointer" id="add_row">+1 Eintrag</a></div>
</div>

<div id="js_send_table">
    <table id="js_trainerdata">
        <tr><td>Name: </td><td>{{request.user.first_name}} {{request.user.last_name}}</td></tr>
        {% if request.user.trainer.license_number %}
        <tr><td>Lizenznummer: </td><td>{{request.user.trainer.license_number}}</td></tr>
        <tr><td>Gültigkeit: </td><td>{{request.user.trainer.license_valid|date:"d.m.Y"}}</td></tr>
        {% endif %}
    </table>
    <br>
    <form method="POST" id="trainer_form">
        {% csrf_token %}
        <div  class="side_scroll"> 
            <table id="abrechenform">
                <thead>
                    <tr id="bs4_header">
                        <th style="display:None;">PK</th>
                        <th><strong>Datum</strong></th>
                        <th><strong>Wochentag</strong></th>
                        <th><strong>Gruppe</strong></th>
                        <th><strong>Von</strong></th>
                        <th><strong>Bis</strong></th>
                        <th><strong>Dauer</strong></th>
                        <th><strong>Anmerkung</strong></th>
                        <th><strong>Aktion</strong></th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    {% for entry in entries %}
                    <tr id="js_row_{{entry.pk}}" class="bs4_body">
                        <td style="display:None;"><input hidden name="id" value="{{entry.pk}}"></td>
                        <td><input class="date" name="date" type="date" value="{{entry.date|date:'Y-m-d'}}" required></td>
                        <td><input name="day" value="{{entry.day}}" required></td>
                        <td><input name="group" value="{{entry.group}}" required></td>
                        <td><input name="start" type="time" value="{{entry.start}}" required></td>
                        <td><input name="end" type="time" value="{{entry.end}}" required></td>
                        <td><input name="dur" onkeyup="javascript:updateCalc();" class="js-count_hours" value=2 required></td>
                        <td><input name="notes" type="text" value="{{entry.notes}}"></td>
                        <td><a class="js_delete_row" id="js_entry_{{entry.pk}}"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <div style="text-align:left;">
            <h4>Zusammenfassung:</h4>
            <table id="js_summary">
            <tr><td>Stunden gesamt: </td><td id="hours"></td></tr>
            <tr><td>TAE/Stunde: </td><td id="tae">{{request.user.trainer.salary}} €</td></tr>
            <tr><td><strong>Gesamt: </strong></td><td><strong id="total"></strong></td></tr>
            </table>
        </div>
        <br>
        <div style="display:flex; flex-direction:left">
            <div class="padding_all_small">
                <input type="button" id="prob_button" class="form_button" style="cursor: pointer;" name="send" onclick=sendData() value="Absenden">
            </div>
            <div class="padding_all_small">
                <input type="button" class="form_button_simple" id="save" style="cursor: pointer;" name="save" onclick=saveData() value="Speichern">
            </div>
        </div>
    </form>
</div>
<br>
{% if tables %}
<section class="padding_tb_small">
    <h3> Archiv </h3>
    {% for table in tables %}
        <a class="more_info_button" href="{% url 'abrechnung_detail' table.id %}">{{table.title}}</a><br>
    {% endfor %}
</section>
{% endif %}

<script type="text/javascript">
function getTableString(key,value,counter){
    return '<tr id="js_row_'+key+'"class="bs4_body">\n'+
    '<td style="display:None;"><input hidden name="id" value="'+key+'"></td>\n'+
    '<td><input class="date" name="date" type="date" required onkeyup="javascript:updateDay();"></td>\n' + 
    '<td><input name="day" value="'+ value.day +'" required></td>\n' +
    '<td><input name="group" value="'+ value.group +'" required></td>\n' +
    '<td><input name="start" type="time" value="'+ value.start_time +'" required></td>\n' + 
    '<td><input name="end" type="time" value="'+ value.end_time +'" required></td>\n' + 
    '<td><input name="dur" value="2" onkeyup="javascript:updateCalc();" class="js-count_hours" required></td>\n' + 
    '<td><input name="notes" value="'+value.notes+'"></td>\n'+
    '<td><a class="js_delete_row" id="js_entry_'+key+'"> </a></td></tr>\n'
    }

function validate(){
    $("input:required").each(function(){
        if(this.value === ""){
            $(this).css("backgroundColor","#7b1b42")
        }
    });
    setTimeout(function(){
        $("input:required").each(function(){
            if(this.value === ""){
                $(this).css("backgroundColor","inherit");
            }
        })
    }, 1000);
}

function saveData(){
    validate()
    $.post(
        "{% url 'save_entries' %}",
        $("form").serialize(),
        function(data){
            if(data["data"]===true){
                snackbar.labelText = "Daten wurden gespeichert";
                snackbar.open()
            }
    });
}

function sendData(){
    validate()
    $.post(
        "{% url 'send_table' %}",
        $("form").serialize(),
        function(data){
            if(data["data"]==true){
                location.reload(true);
            } else {
                if(data["email"]==true){
                    alert("Deine Email ist nicht korrekt")
                }
            }
    });
}

$("#add_week").click(function (){
    $.ajax({
        url: "{% url 'add_week' %}",
        dataType: 'json',
        success: function (data){
            $.each(data, function(key, value){
                $("#tbody").append(getTableString(key, value))
            });
            addButton();
            updateCalc();
        }
    });
});

$("#add_row").click(function (){
    $.ajax({
        url: "{% url 'add_row' %}",
        dataType: 'json',
        success: function (data){
            $.each(data, function(key, value){
                $("#tbody").append(getTableString(key, value))
            });
            addButton();
            updateCalc();
        }
    });
});

//delete all entries and start with initial sessions
$("#reset").click(function (){
    $.ajax({
        url: "{% url 'reset_table' %}",
        dataType: 'json',
        success: function (data){
            $("#tbody").html("")
            $.each(data, function(key, value){
               $("#tbody").append(getTableString(key, value))
            });
            addButton();
            updateCalc();
        }
    });
});

$("#abrechenform").on("click",".js_delete_row", function (){
    $.ajax({
        url: "{% url 'delete_row' %}",
        dataType: 'json',
        data: { 'id': $(this).attr('id')
        },
        success: function (data){
            $.each(data, function(key, value){
                $('#'+value).remove();
                updateCalc();
            });
            
        }
    });
});

//style the delete buttons
function addButton(){
    $.each($(".js_delete_row"), function(){
            $(this).css({ "cursor":"pointer"});
            $(this).html(
                '<i class="far fa-minus-square" style="font-size:15px;"></i>'
            )
    });
};

$(document).ready(function(){
    addButton();
    updateCalc();
});

//calculate the total amount of hours and money
function updateCalc(){
    var total = 0.0;
    $(".js-count_hours").each(function(){
        value = parseFloat($(this).val().replace(",", "."));
        total += value;
    });
    $("#hours").html(total)
    if($('#tae').text() != 'None €'){
        $("#total").html((total*parseFloat($("#tae").text())).toFixed(2) + ' €')
    } else {
        $('#total').html('0,00 €');
    }
}

$("#abrechenform").on("change",".date", function() {
    var date = new Date( $(this).val());
    var days = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];
    this.parentElement.nextElementSibling.firstChild.value = days[date.getDay()];
});

$("#prob_button").click(function(){
        $(this).html('<i class="fas fa-spinner fa-pulse"></i>');
        setTimeout(function(){ 
            $("#prob_button").html("Absenden");
            }, 3000);
});

</script>

{% endblock %}
