{% extends 'members/base.html' %}
{% block content %}
<h1>Trainerdokument</h1>
<div style="display:flex; justify-content: left; flex-wrap:wrap;">
        <a href="{% url 'trainer_index' %}" class="padding_all_small here_I_am">Trainingstabellen</a>
        <a href="{% url 'trainer_data' %}" class="padding_all_small">Meine Daten</a>
        <a href="{% url 'abrechnung' %}" class="padding_all_small">Abrechnungstabelle (ALT)</a>
        <!--<a href="{% url 'trainer_list' %}" class="padding_all_small">Trainerübersicht</a>-->
</div>
<br>
<h3>Neue Trainingsstunde</h3>

<p>Fülle für jedes Training ein neues Dokument aus!</p>

<a href="{% url 'trainingsession_create' %}"><i class="far fa-plus-square" style="font-size: 25pt;"></i></a>

{% if trainer_sessions %}
<h3 class="padding_tb_big">Deine Trainingsstunden </h3>
<p>Zur Übersicht aller Stunden: <a href="{% url 'trainingsession_list' %}" class="more_info_button" style="padding: 0px;">HIER</a></p>
<br><br>
<div class="side_scroll">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Datum</th>
                <th>Zeit</th>
                <th>Gruppe</th>
                <th>Menschen</th>
                <th>Notizen</th>
                <th>Abgesendet</th>
                <th>Überwiesen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in trainer_sessions %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td nowrap><a href="{% url 'trainingsession_detail' entry.pk %}" class="more_info_button" style="padding: 0px;">Edit</a></td>
                <td nowrap>{{entry.date|date:'d.m.Y'}}</td>
                <td nowrap>{{entry.start}} - {{entry.end}}</td>
                <td nowrap>{{entry.group}}</td>
                <td nowrap>{{entry.participant.all|length}}</td>
                <td nowrap>{{entry.notes|truncatechars:15}}</td>
                <td nowrap style="background-color:{{entry.billed|yesno:'green,darkred'}};">{{entry.billed|yesno:'Ja,Nein'}}</td>
                <td nowrap style="background-color:{{entry.payed|yesno:'green,darkred'}};">{{entry.payed|yesno:'Ja,Nein'}}</td>
                <td>
                    {% if not entry.payed %}
                    <span 
                        hx-post="{% url 'trainingsession_delete' entry.pk %}"
                        hx-target="closest tr"
                        hx-swap="delete"
                        hx-confirm="Bist du dir sicher, dass du den Eintrag löschen willst??"
                        style="cursor: pointer;"
                        >
                        <i class="far fa-minus-square" aria-hidden="true"></i>
                    </span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
