{% extends "members/base.html" %}
{%block content %}
<h1>Trainerdokument</h1>
<div style="display:flex; justify-content: left; flex-wrap:wrap;">
        {% if request.user.trainer %}
        <a href="{% url 'trainer_index' %}" class="padding_all_small">Deine Daten</a>
        <a href="{% url 'abrechnung' %}" class="padding_all_small">Abrechnungstabelle</a>
        {% endif %}
        <a href="{% url 'trainer_list' %}" class="padding_all_small here_I_am">Trainerübersicht</a>
</div>
<br>
<h3> Trainerübersicht </h3>
<section>
    <div id="container">
        <div class="trainer_ui">
            {% if perms.members.add_trainer %}
                <a href="{% url 'register_trainer' %}#nav" title="Trainer hinzufügen"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
            {% endif %}
            {% if perms.members.remove_trainer %}
                <a href="{% url 'remove_trainer' %}#nav" title="Trainer entfernen"><i class="far fa-minus-square" style="font-size:27px;"></i></a>
            {% endif %}
        </div>
    </div>
    
    <div style="display:flex; flex-wrap:wrap;">
        {% for object in object_list %}
        <div class="col-5 padding_all_small" id="container">
            <div class="flex_center_vertical tertiary_bg padding_all_small">
                <h3>{{object.user.first_name}} {{object.user.last_name}}</h3>
                <div style="display:flex;flex-wrap:wrap; justify-content:left;">
                    <div class="chair_col-5 padding_all_small person_info">
                        <h4>Kontaktdaten</h4>
                        <p> {{object.trainer_telnr}} </p>
                        <p> {{object.trainer_email}} </p>
                    </div>
                    <div class="chair_col-5 padding_all_small person_info">
                        <h4>Trainerinfo</h4>
                         {% if object.license_number%}
                        <p> {{object.license_number}} </p>
                        <p> {{object.license_valid}} </p>
                        {% endif %}
                    </div>
                </div>
                <div class="padding_all_med trainer_ui">
                    {% if perms.members.change_trainer %}
                    <a href="{% url 'trainer_update_form' object.id%}#nav" title="bearbeiten">
                        <i class="fas fa-pen-square" style="font-size:15px;"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <h3> Leider gibt es im Moment keine Trainer </h3>
        {% endfor %}
    </div>
</section>
{% endblock %}
