{% load custom_filters %}

<section class="section" id="training_section">
    <div class="content">
        <h1 class="mdl-typography--display-4">Training</h1>
        <!-- Here the Messages -->
        {% if training_messages %}
        <section>
            <div class="secondary padding_all_med"><h4 class="strong">Wichtige Hinweise</h4></div>
            <div class="tertiary_bg padding_tb_small">
                {% for msg in training_messags %}
                <div class="padding_all_med" >
                    <div id="container">
                        <span style="color:grey; font-size:0.9rem;padding:0px;">Von {{msg.author.first_name}} ({{msg.date |date:'d.m.Y'}})</span>
                        <h5>{{msg.title}}</h5>
                        <p>{{msg.message}}</p>
                        <div class="trainer_ui">
                            {% if perms.members.delete_message %}
                            <a href="{% url 'message_delete' msg.id %}#nav" title="Löschen"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                            {% endif %}
                            {% if perms.members.change_message %}
                            <a href="{% url 'message_update' msg.id %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
        <div class="mdl-grid" >
            {% for short, day, order in session_days %}
            <!-- one column for the sessions of each day -->
            <div class="mdl-cell mdl-cell--3-col">
                <div class="card-square my-2 mdl-shadow--2dp">
                    <div class="mdl-card__title p-0 secondary-bg">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col"><h4 class="m-0">{{ day }}</h4></div>
                          </div>
                    </div>
                </div>
                {% for session in sessions|lookup:short %}
                <!--session hinweise -->
                <div class="demo-card-event mdl-card mdl-shadow--2dp my-2">
                    <div class="mdl-card__supporting-text">
                        <h4 class="m-0">{{session.spot.title}}</h4>
                        <p class="p-0">{{session.format_start_time}} - {{session.format_end_time}} Uhr</p>
                        <p >Alter: {{session.agegroup.lower }} - {{session.agegroup.upper }} Jahre</p>
                    </div>
                    <div class="mdl-card__menu">
                        <a href="https://www.google.de/maps/dir//{{session.spot.lat}},{{session.spot.long}}/@{{session.spot.lat}},{{session.spot.long}},17z"
                            target="_blank"
                            class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                            <i class="material-icons">pin_drop</i>
                        </a>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                      <a class="mdl-button mdl-button--colored mdl-js-button">Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>