{% load custom_filters %}

<section class="section" id="training_section">
    <div class="content">
        <h1 class="mdl-typography--display-4">Training</h1>
        <!-- Here the Messages -->
        {% if training_messages %}
        <section>
            <div class="secondary padding_all_med"><h4 class="strong">Wichtige Hinweise</h4></div>
            <div class="tertiary_bg padding_tb_small">
                {% for msg in training_messags %}
                <div class="padding_all_med" >
                    <div id="container">
                        <span style="color:grey; font-size:0.9rem;padding:0px;">Von {{msg.author.first_name}} ({{msg.date |date:'d.m.Y'}})</span>
                        <h5>{{msg.title}}</h5>
                        <p>{{msg.message}}</p>
                        <div class="trainer_ui">
                            {% if perms.members.delete_message %}
                            <a href="{% url 'message_delete' msg.id %}#nav" title="Löschen"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                            {% endif %}
                            {% if perms.members.change_message %}
                            <a href="{% url 'message_update' msg.id %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
        <div class="mdl-grid" >
            {% for short, day, order in session_days %}
            <!-- one column for the sessions of each day -->
            <div class="mdl-cell mdl-cell--2-col">
                <div><strong>{{ day }}</strong>
                </div>
                {% for session in sessions|lookup:short %}
                <!--session hinweise -->
                <div class="demo-card-event mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                      <div>
                        {{session.format_start_time}} - {{session.format_end_time}} Uhr<br>
                      </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Add to Calendar
                      </a>
                      <div class="mdl-layout-spacer"></div>
                      <i class="material-icons">event</i>
                    </div>
                </div>
                <div>
                    <span style="font-size: 0.9rem;">Alter: {{session.agegroup.lower }} - {{session.agegroup.upper }} Jahre</span>
                    <p></p>
                    <div>
                        <h4> {{session.spot.title}}</h4>
                        <a target="_blank"
                            href="https://www.google.de/maps/dir//{{session.spot.lat}},{{session.spot.long}}/@{{session.spot.lat}},{{session.spot.long}},17z">
                            <i>Marker</i>
                        </a>
                    </div>
                </div>
                <div>
                    <div id="emaillist_{{session.pk}}"
                        data-url="{% url 'trainer_get_sessionemails' session.pk %}"
                        style="display:none; cursor: pointer; width:50%">
                        <i class="far fa-envelope padding_all_small"><p>Emails</p></i>
                    </div>
                    <a href="{% url 'agegroup_detail' session.agegroup.pk %}">
                        <div id="userlist_{{session.pk}}"
                            style="display:none; cursor: pointer">
                            <i class="far fa-user"><p>Liste</p></i>
                        </div>
                    </a>
                </div>
                <div id="trainerchip_{{session.pk}}" style="text-align: left; display:none;">

                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>