{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_detail' object.id %}#nav">
        {{object.title}}</a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Teilnehmer</a>
</div>
{% endblock %}

{% block content %}
<section>
    <div style="text-align:center">
        <h1> Teilnehmer</h1>
    </div>
    <div class="flex_center">
        <div class="padding_all_big tertiary_bg side_scrolL">
            <table >
            <tr>
                <th><h5> Nr </h5></th>
                <th><h5> Vorname </h5></th>
                <th><h5> Nachname </h5></th>
                <th><h5> Geburtsdatum </h5></th>
                <th><h5> Email </h5></th>
                <th><h5> Telefon </h5></th>
                <th><h5> Ansprechpartner </h5></th>
                <th><h5> Notfallnummer </h5></th>
            </tr>
            {% for participant in object.participants.all %}
            <tr> 
                <td nowrap="nowrap"> {{forloop.counter}} </td>
                <td nowrap="nowrap"> {{participant.first_name}} </td>
                <td nowrap="nowrap"> {{participant.last_name}} </td>
                <td nowrap="nowrap"> {{participant.profile.birthday|date:"d.m.Y"}} </td>
                <td nowrap="nowrap"> {{participant.email}} </td>
                <td nowrap="nowrap"> {% if participant.profile.telephone %} {{participant.profile.telephone}} {% else %} - {% endif %}</td>
                <td nowrap="nowrap"> {% if participant.profile.parent %} {{participant.profile.parent}} {% else %} - {% endif %} </td>
                <td nowrap="nowrap"> {% if participant.profile.parent_telnr %} {{participant.profile.parent_telnr}} {% else %} - {% endif %}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</section>
{% endblock %}