{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_detail' object.id %}#nav">
        {{object.title}}</a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Orga</a>
</div>
{% endblock %}

{% block content %}
<style>
    .tscroll table{
        border-collapse: separate;
        border-spacing: 0;
    }
    .tscroll td:first-child{
      position: sticky;
      left: 0;
      background-color: DarkSlateGray;
    }

    .tscroll td, th{
      border: solid grey 1px;
    }
    .success{
        border: solid aqua 1px !important;
    }
    .storno td:first-child{
        background-color: crimson !important;
    }
</style>
<section>
    {% csrf_token %}
    <h1> Event Orga</h1>
    <div>
        <h3>Teilnehmende</h3>
        <div class="tertiary_bg" style="max-height: 600px; display: flex;">
            <div class="tscroll" style="overflow: auto;min-width: 100%;">
                <table style="min-width:100%">
                    <thead style="position: sticky; top:0; background-color:DarkSlateGray;z-index:3;">
                        <th>Nr</th>
                        <th>Name</th>
                        <th>Geburtsdatum</th>
                        <th>Email</th>
                        <th>Telefon</th>
                        <th>Ansprechpartner</th>
                        <th>Notfallnummer</th>
                        <th>Bezahlt</th>
                        <th>Notizen</th>
                        <th>Storno</th>
                    </thead>
                {% for participant in participants %}
                <tr class="{% if participant.storno %}storno{% endif %}">
                    <td nowrap="nowrap"> {{forloop.counter}} </td>
                    <td nowrap="nowrap"> {{participant}} ({{participant.user.profile.member_num}}) </td>
                    <td nowrap="nowrap"> {{participant.user.profile.birthday|date:"d.m.Y"}} ({{participant.user.profile.age}}) </td>
                    <td nowrap="nowrap"> {{participant.user.email}} </td>
                    <td nowrap="nowrap"> {% if participant.user.profile.telephone %} {{participant.user.profile.telephone}} {% else %} - {% endif %}</td>
                    <td nowrap="nowrap"> {% if participant.user.profile.parent %} {{participant.user.profile.parent}} {% else %} - {% endif %} </td>
                    <td nowrap="nowrap"> {% if participant.user.profile.parent_telnr %} {{participant.user.profile.parent_telnr}} {% else %} - {% endif %}</td>
                    <td><input class='field_update' type="checkbox" {% if participant.payed %} checked {% endif %} data-participant="{{participant.pk}}" data-field="payed"></td>
                    <td><input style="min-width: 100%;background-color: inherit;"
                        class='field_update' type="text" data-participant="{{participant.pk}}" data-field="notes"
                        value="{% if participant.notes %}{{participant.notes}}{% endif %}"></td>
                    <td>{% if participant.storno %}STORNO{% endif %}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <br>
    <div style="display: flex; gap: 5px;">
        <span style='width:150px;display:block;cursor:pointer'>
            <div id='{{object.pk}}' class='mail_click padding_all_small tertiary_bg prim_hover'>
                Mailverteiler
            </div>
        </span>
        <span class="tertiary_bg padding_all_small" style='width:200px'>
            <h5>Dokument hinzufügen</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="id_file" name='file' type="file" style="margin-bottom:3px" required>
                <input id="id_name" type="text" name="name" maxlength="200" required style="background-color: inherit; width: 100%; border: solid 1px grey; margin-bottom:3px;">
                <!-- Radio button -->
                <label for="id_orga_orga">Privat</label>
                <input id="id_orga_orga" name='orga' value='private' required type="radio">
                <label for="id_orga_public">Öffentlich</label>
                <input id="id_orga_public" name='orga' value='public' type="radio">
                <button class="form_button" type="submit">Hochladen</button>
            </form>
        </span>
        <span id="file_viewer" class="tertiary_bg padding_all_small" style='width:200px'>
            <h5>Dokumente</h5>
            {% if event.public_docs.first %}
                {% for file in event.public_docs.all %}
                    <div style="display: flex; gap:3px; border: solid 1px grey;justify-content: space-around;" class="padding_all_small">
                        <span class="file_handle" data-type="toggle" data-file="{{file.pk}}" style="cursor: pointer;">
                            <i style="color:greenyellow;" class="fas fa-eye"></i>
                        </span>
                        <a href="{{file.file.url}}" target="_blank" style="padding:0px;">
                            <i class="far fa-file more_info_button"></i>
                        </a>
                        <span>{{file.name}}</span>
                        <div>
                            <span class="file_handle" data-type="delete" data-file="{{file.pk}}" style="cursor: pointer;">
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if event.orga_docs.first %}
                {% for file in event.orga_docs.all %}
                    <div style="display: flex; gap:3px; border: solid 1px grey;justify-content: space-around;" class="padding_all_small">
                        <span class="file_handle" data-type="toggle" data-file="{{file.pk}}" style="cursor: pointer;">
                            <i style="color:salmon;" class="fas fa-eye"></i>
                        </span>
                        <a href="{{file.file.url}}" target="_blank" style="padding:0px;">
                            <i class="far fa-file more_info_button"></i>
                        </a>
                        <span>{{file.name}}</span>
                        <div>
                            <span class="file_handle" data-type="delete" data-file="{{file.pk}}" style="cursor: pointer;">
                                <i class="fas fa-trash"></i>
                            </span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </span>
    </div>
    <script>
    $('body').on('click','.file_handle', function(){
        ele = $(this)
        formdata = new FormData()
        formdata.append('csrfmiddlewaretoken',$('[name=csrfmiddlewaretoken]').val())
        formdata.append('type', $(this).attr('data-type'))
        formdata.append('id', $(this).attr('data-file'))
        $.ajax({
            url:"{% url 'ajax_event_filehandle' %}",
            type: "POST",
            processData: false,
            contentType: false,
            data: formdata,
            success: function (){
                $.ajax({
                    url: document.URL,
                    success: function(response) {
                        // Find the element you want to load
                        var update = $(response).find(`#file_viewer`);
                        // Insert the element into the DOM
                        $(`#file_viewer`).replaceWith(update)
                    }
                });
            }
        });
    })


    $('.field_update').on('change', function(){
        ele = $(this)
        formdata = new FormData()
        formdata.append('csrfmiddlewaretoken',$('[name=csrfmiddlewaretoken]').val())
        formdata.append('field', $(this).attr('data-field'))
        formdata.append('id', $(this).attr('data-participant'))
        formdata.append('value', [$(this).prop("checked")==true,$(this).val()])
        $.ajax({
            url:"{% url 'ajax_update_memberparticipant' %}",
            type: "POST",
            processData: false,
            contentType: false,
            data: formdata,
            success: function (data){
                ele.parent().addClass('success')
                setTimeout(function(){
                    ele.parent().removeClass('success')
                }, 300);
            }
        });
    })

    $('.mail_click').on('click', function(){
        $.ajax({
            data: {'id':$(this).attr("id")},
            url: '{% url "get_participants_emails" %}',
            type: 'GET',
            success: function (data){
                navigator.clipboard.writeText(data['string']);
            }
        });
    });
</script>
</section>
{% endblock %}