{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar_blue">
    <div>
        <a class="float_left" href="{% url 'index' %}#events">
            <i class="fas fa-chevron-left" style="font-size:32px;"></i>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<section style="text-align:center; padding-top:5%;">
    {% if object.name %}
        <h2>EVENT {{object.name | upper }}</h2>
    {% else %}
        <h2>NEUE VERANSTALTUNG</h2>
    {% endif %}
    {% include "members/form_snippet.html" %}
</section>
{% endblock %}