{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_detail' object.id %}">
        {{object.title}} </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Anmeldung </a>
</div>
{% endblock %}
{%block content %}
{% if not object.deadline_reached %}
<section style="text-align:center;">
    <h1>{{object.title|upper}}</h2>
    <div class="flex_center">
        <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
            <p> Bitte bestätige deine Abmeldung </p>
            <form class="padding_all_big" method="POST">
                {% csrf_token %}
                <button type="submit" class="form_button_sec" style="margin: 0 auto;">Jawoll</button>
            </form>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}