{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_detail' object.id %}">
        {{object.title}} </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Anmeldung </a>
</div>
{% endblock %}
{%block content %}
{% if not object.deadline_reached %}
<section style="text-align:center;">
    <h1>Anmeldung {{object.title|upper}}</h1>
    <div class="flex_center">
        <div class="tertiary_bg padding_all_big col-5" style="text-align:center;">
            <form class="padding_all_big" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    {% for error in form.non_field_errors %}
                    <p class="padding_tb_small" style="color:red;">{{error}}</p>
                    {% endfor %}
                {% endif %}

                <div class="mdc-form-field padding_all_big">
                    <div class="mdc-checkbox">
                      <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung" name="confirm" required>
                      <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                          <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                      </div>
                    </div>
                    <label for="speicherung" >
                        <div align="left">Ich habe die<a class="more_info_button" href={%if object.datenschutz%}"{{object.datenschutz.url}}"{% else %}"https://twio-x.de/datenschutzerkl%C3%A4rung"{%endif%}>Datenschutzerklärung</a>und die<a class="more_info_button"
                        href={%if object.teilnahmebedingungen%}"{{object.teilnahmebedingungen.url}}"{% else %}"#"{%endif%}>Teilnahmebedingungen</a>gelesen und akzeptiere sie.
                        Ich willige ein, dass die von mir hinterlegten Daten für die Drurchführung der Veranstaltung an die notwendigen Stellen übermittelt werden. <strong> Beachte, dass wir von Minderjährigen das
                        Einverständnis der Eltern benötigen!</strong></div>
                    </label>
                </div>

                <div class="mdc-form-field padding_all_big">
                    <div class="mdc-checkbox">
                      <input type="checkbox" class="mdc-checkbox__native-control" id="ticket" name="ticket">
                      <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                          <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                      </div>
                    </div>
                    <label for="ticket" >
                        <span>Ich besitze zur Zeit der Veranstaltung ein <strong>Deutschlandticket</strong></span>
                    </label>
                </div>

                <h6> Die An- und Abmeldefrist endet am {{object.deadline|date:"d.m.Y"}} </h6>
                <br>
                <button type="submit" class="form_button" style="margin: 0 auto;">Jawoll</button>
                <script>
                const fields = document.querySelectorAll('.mdc-text-field');
                fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
            </script>
            </form>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
