{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary">
    <div>
        <a class="float_left" href="{% url 'event_detail' object.id %}">
            <i class="fas fa-chevron-left" style="font-size:32px;"></i>
        </a>
    </div>
</div>
{% endblock %}
{%block content %}
{% if not object.deadline_reached %}
<section>
    <div class="tertiary_bg padding_all_big" style="text-align:center;">
        <h1>{{object.title|upper}}</h1>
        <p> Bitte bestätige deine Abmeldung </p>
        <form style="text-align:center;padding:20px;" method="POST">
            {% csrf_token %}
            <button type="submit" class="form_button_sec">Jawoll</button>
        </form>
    </div>
</section>
{% endif %}
{% endblock %}