{% extends "members/base.html" %}
{% load l10n %}
{% block navbar2 %} 
{% if object.title %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'event_detail' object.id %}#nav">
        {{object.title}} </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Bearbeiten </a>
</div>
{% else %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Neu </a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<section>
    <div style="text-align:center;">
    {% if object.title %}
        <h1>{{object.title}}</h1>
    {% else %}
        <h1>NEUE VERANSTALTUNG</h1>
    {% endif %}
    </div>
    <form class="form_wrapper" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class ="inner_form padding_all_big flex_center">
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                <p class="padding_tb_small" style="color:red;">{{error}}</p>
                {% endfor %}
            {% endif %}
            <h5>Eckdaten</h5>
            <div class="flex_center">
                <div class="col-5">
                    <label class="mdc-text-field mdc-text-field--filled title">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="title-label" name="title" required value=
                            {% if form.instance.title %} "{{form.instance.title}}" {% else %} "{{form.data.title}}" {% endif %}>
                        <span class="mdc-floating-label" id="title-label">Titel</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled place">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="place-label" name="place" required value=
                            {% if form.instance.place %} "{{form.instance.place}}" {% else %} "{{form.data.place}}" {% endif %}>
                        <span class="mdc-floating-label" id="place-label">Veranstaltungsort</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled costs">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="number" step="0.01" class="mdc-text-field__input" aria-labelledby="costs-label" name="costs" required value=
                            {% if object.id %} "{{form.instance.costs|unlocalize}}" {% endif %}>
                        <span class="mdc-floating-label" id="costs-label">Kosten</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <div class="mdc-form-field">
                        <div class="mdc-checkbox">
                          <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung" name="info_only" {% if form.instance.info_only %} checked="checked" {% endif %}>
                          <div class="mdc-checkbox__background">
                            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                            </svg>
                            <div class="mdc-checkbox__mixedmark"></div>
                          </div>
                        </div>
                        <label for="speicherung" >
                            <div align="left">Nur Ankündigung</div>
                        </label>
                    </div>
                    
                </div>
                <div class="col-5">
                    <label class="mdc-text-field mdc-text-field--filled start_date">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="start_date-label" name="start_date" required value=
                            {% if form.instance.start_date %} {{form.instance.start_date|date:"d.m.Y"}} {% else %} {{form.data.start_date|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="start_date-label">Startdatum</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled end_date">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="end_date-label" name="end_date" required value=
                            {% if form.instance.end_date %} {{form.instance.end_date|date:"d.m.Y"}} {% else %} {{form.data.end_date|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="end_date-label">Enddatum</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled deadline">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="deadline-label" name="deadline" required value=
                            {% if form.instance.deadline %} {{form.instance.deadline|date:"d.m.Y"}} {% else %} {{form.data.deadline|date:"d.m.Y"}} {% endif %}>
                        <span class="mdc-floating-label" id="deadline-label">Anmeldungs-Deadline</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled hinweis">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="hinweis-label" name="hinweis" value=
                            {% if form.instance.hinweis %} "{{form.instance.hinweis}}" {% else %} {{form.data.hinweis}} {% endif %}>
                        <span class="mdc-floating-label" id="hinweis-label">Warnhinweis</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                </div>
            </div>
            <h5>Gruppen</h5>
            <div style="display:flex; flex-wrap: wrap;">
            {% for value, text in form.allowed_groups.field.choices %}
            <div class="mdc-form-field padding_all_small">
                <div class="mdc-checkbox">
                  <input type="checkbox" class="mdc-checkbox__native-control" id="speicherung{{forloop.counter0}}" name="{{ form.allowed_groups.name }}" value="{{ value }}" {% if value in picked_groups %} 
                    checked="checked" {% endif %}>
                  <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                      <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                  </div>
                </div>
                <label for="speicherung{{forloop.counter0}}">
                    <div align="left">{{ text }}</div>
                </label>
            </div>
            {% endfor %}
            </div>
            
            <h5>Beschreibung</h5>
            <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
              <textarea class="mdc-text-field__input" rows="8" cols="80" aria-label="description" id="id_comment" 
              name="description" >{% if form.instance.description %} {{form.instance.description}} {% else %} {{form.data.description}} {% endif %}</textarea>
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
            </label>
            
            <h5>Dokumente</h5>
            <div style="display:flex; margin-bottom:5px;">
                <label class="upload">
                    <span style="display:flex;justify-content:center;"><i class="fas fa-file-upload"></i></span>
                    <input type="file" id="inputFile1" style="display: none" name="teilnahmebedingungen" >
                </label>
                <p class="padding_rl_small" id="fileText1">{%if form.instance.teilnahmebedingungen %} {{form.instance.teilnahmebedingungen}} {% else %} Teilnahmebedingungen hochladen {% endif %}</p>
            </div>
            <script>
                $(document).on('change','#inputFile1' , function(e){
                var fileName = e.target.files[0].name
                $("#fileText1").html(fileName).show();
                    });
            </script>
            
            <div style="display:flex; margin-bottom:5px;">
                <label class="upload">
                    <span style="display:flex;justify-content:center;"><i class="fas fa-file-upload"></i></span>
                    <input type="file" id="inputFile2" style="display: none" name="datenschutz" >
                </label>
                <p class="padding_rl_small" id="fileText2">{%if form.instance.datenschutz %} {{form.instance.datenschutz}} {% else %} Datenschutz hochladen {% endif %}</p>
            </div>
            <script>
                $(document).on('change','#inputFile2' , function(e){
                var fileName = e.target.files[0].name
                $("#fileText2").html(fileName).show();
                    });
            </script>
            
            <div style="display:flex; margin-bottom:5px;">
                <label class="upload">
                    <span style="display:flex;justify-content:center;"><i class="fas fa-file-upload"></i></span>
                    <input type="file" id="inputFile3" style="display: none" name="einverstaendnis" >
                </label>
                <p class="padding_rl_small" id="fileText3">{%if form.instance.einverstaendnis %} {{form.instance.einverstaendnis}} {% else %} Einverständniserklärung hochladen {% endif %}</p>
            </div>
            <script>
                $(document).on('change','#inputFile3' , function(e){
                var fileName = e.target.files[0].name
                $("#fileText3").html(fileName).show();
                    });
            </script>
            
            <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                <span >OK</span>
            </button>
        </div>
    </form>
    <script>
        const fields = document.querySelectorAll('.mdc-text-field');
        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
    </script>
</section>
{% endblock %}