{% extends "members/base.html" %}
{% block flag %}
<h3 class="blue_header"> Veranstaltungen </h3>
{% endblock %}

{% block content %}
<section style="text-align: center;">
    {% if object.name %}
        <h2>EVENT {{object.name | upper }}</h2>
    {% else %}
        <h2>NEUE VERANSTALTUNG</h2>
    {% endif %}
    <form method="post">
            {% csrf_token %}
            <div class="col-5" style="padding:10px; border: solid 1px; overflow:hidden; margin: 0 auto;">
            {% for field in form %}
                <div style="width:100%;">
                        <div class="col-5" align="right" style="float:left;">
                            <a style="padding-right:10px;">{{field.label}} </a>
                        </div>
                        <div class="col-5" align="left" style="float:left;">
                            <a>{{field}}</a>
                        </div>
                        <br>
                </div>
            {% endfor %}
            </div>
            <div style="clear:both;">
                <button style="margin-top:30px;" type="submit">Speichern</button>
            </div>
    </form>
    <a href="{% url 'index' %}#training" class="more_info_button button_padding">Zurück</a>
</section>
{% endblock %}