{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Gruppenliste </a>
</div>
{% endblock %}
{%block content %}
<section id="training">
        <div id="container">
        <h1>Alle Gruppen</h1>
            <div class="trainer_ui">
                {% if perms.members.add_group %}
                    <a class="blue_font" href="{% url 'group_create' %}#nav"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
                {% endif %}
            </div>
        </div>
        <div>
            {% for object in object_list %}
            <div class="padding_all_small float_left col-4" id="container">
                <div style="display:flex;" class="tertiary_bg">
                    <div class="padding_all_big polygon primary">
                            <h5 class="strong">{{object.group_id}}</h5>
                    </div>
                    <div class="padding_all_med trainer_ui">
                        {% if perms.members.delete_group %}
                        <a href="{% url 'group_delete' object.id %}"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                        {% endif %}
                        {% if perms.members.change_group %}
                        <a href="{% url 'group_update' object.id %}#nav"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                        {% endif %}
                    </div>
                    <div class="second_section padding_all_big" style="height:80px;">
                        <a href="{% url 'group_detail' object.id %}#nav" style="display: block;">
                            <p class="more_info_button" style="margin: 0px auto;">Teilnehmer </p>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
                <h3> Leider gibt es im Moment keine Gruppen </h3>
            {% endfor %}
        </div>
    </section>
{% endblock %}
