{% extends "members/base.html" %}
    {% block picture %}
    <div class="image_wrapper">
        <img src="{{ STATIC_URL }}/static/media/home.jpg" id='home_view'>
        <script type="text/javascript">
            window.addEventListener('scroll',function(){
                document.getElementById("home_view").style.bottom=-window.scrollY*0.25+"px";
            });
        </script>
    </div>
    {% endblock %}
    {% block navbar2 %}
    {% if user.is_authenticated %}
    <div class="navbar primary_bg">
        <form  id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="float_right"><i class="fas fa-sign-out-alt" style="font-size:20px;"><p>Logout</p></i></button>
        </form>
        <a class="float_left" href="{% url 'profile_detail' %} "><i class="fas fa-user-circle" style="font-size:20px;"><p>Profil</p></i></a>
        {% if user.trainer %}
        <a class= "float_left" href="{% url 'trainer_index' %}#nav"><i class="fas fa-user-cog" style="font-size:20px;"><p>Trainer</p></i></a>
        {% endif %}
        {% if perms.auth.add_user %}
        <a class= "float_left" href="{% url 'chairman_index' %}#nav"><i class="fas fa-user-tie" style="font-size:20px;"><p>Vorstände</p></i></a>
        {% endif %}
        <a class="float_left" href="{% url 'shop' %}#nav"><i class="fas fa-tshirt" style="font-size:20px;"><p>Merch</p></i></a>
    </div>
    {% endif %}
    {% endblock %}
    {% block content %}
    {% include "members/snippets/news.html"%}
    <!-- Say Hello -->
    <!-- The container for the Sessions -->
    {% include "members/snippets/trainingszeiten.html"%}
    <!-- Here the Container for the Events -->
    {% include "members/snippets/eventkalender.html"%}
    {% endblock %}

    {% block chairmen %}
    {% if chairmen %}
    <section style="margin-bottom:150px;">
        <h1>Deine Ansprechpartner*innen</h1>
        <div class="flex_left">
        {% for object in chairmen.all %}
            <div class="col-5 padding_all_small">
                <div style="height:100%;">
                    <div class="flex_left">
                        <div class="chair_col-5 flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small round_profile_pic_chairman" src="{{object.image.url}}">
                            </div>
                        </div>
                        <div class="chair_col-5 flex_center">
                            <div class="flex_center_vertical_even padding_all_small">
                                <h3>{{object.user.first_name |upper}} {{object.user.last_name |upper}}</h3>
                                <div class="padding_all_big">
                                    <ul class="competences padding_rl_big">
                                        {% for comp in object.complist %}
                                            <li> {{comp}} </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div>
                                    <p> {{object.public_telnr}} </p>
                                    <p> {{object.public_email}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             {% endfor %}
        </div>
    </section>
    {% endif %}
    {% endblock %}
