{% extends "members/base.html" %}
{% block navbar2 %} 
{% if object.display %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    {% if object.display == "sessions" %}
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    {% else %}
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    {% endif %}
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Hinweis: {{object.title}} </a>
</div>
{% else %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Neuer Hinweise </a>
</div>
{% endif %}
{% endblock %}
{% block content %}

<section style="text-align: center;">
    {% include "members/form_snippet.html" %}
</section>
{% endblock %}