<div id="container" style="padding-bottom:20px;">
    <h4>{{msg.title}}</h4>
    <p class="padding_rl_small">{{msg.message}}</p>
    <div class="trainer_ui">
    <p>[{{msg.author.first_name}},{{msg.date |date:'d.m.Y'}}]</p>
    {% if perms.members.delete_message %}
        <a href="{% url 'message_delete' msg.id %} "><i class="far fa-minus-square" style="font-size:15px;"></i></a>
    {% endif %}
    {% if perms.members.change_message %}
        <a href="{% url 'message_update' msg.id %}#nav"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
    {% endif %}
    </div>
</div>