{% extends "members/base.html" %}
{% block flag %}
<h3 class="blue_header">Warnhinweis</h3>
{% endblock %}

{% block content %}
<section style="text-align: center;">
    <form method="post">
            {% csrf_token %}
            {% include "members/form_snippet.html" %}
            <div style="clear:both;">
                <button style="margin-top:30px;" type="submit">Speichern</button>
            </div>
    </form>
    <a href="{% url 'index' %}#training" class="more_info_button button_padding">Zurück</a>
</section>
{% endblock %}