{% extends "members/base.html" %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.6.2"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/nested-list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
{% endblock %}

{%block content %}
<style>
div{
    overflow: visible !important;
}
</style>

<div style="overflow:visible">
<h1>{{object.title}}</h1>
<div id="editorjs"></div>
<!-- editorjs configs -->
<script>
    const editor = new EditorJS({
    logLevel: 'VERBOSE',
    holder: 'editorjs',
    placeholder: 'Let`s write an awesome story!',
    tools: {
        header: {
            class: Header,
        },
        list: {
            class: NestedList,
            inlineToolbar: true,
            config: {
                defaultStyle: 'unordered'
            },
        },
        table: {
            class: Table,
            inlineToolbar: true,
            config: {
                rows: 2,
                cols: 3,
            },
        }
    },
    data: {},
})

    </script>
</div>
{% endblock %}

