{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Trainingsgruppe</a>
</div>
{% endblock %}

{% block content %}
<section>
    <div style="text-align:center">
        <h1> Teilnehmer Gruppe {{object.group_id}}</h1>
    </div>
    <div>
        <div class="padding_all_small side_scroll">
            <table style='width:100%'>
            <tr style="border-bottom:solid 1px white"> 
                <th><h6> Nr </h6></th>
                <th><h6> status </h6></th>
                <th><h6> Vorname </h6></th>
                <th><h6> Nachname </h6></th>
                <th><h6> Emailadresse </h6></th>
                <th><h6> Telefonnummer </h6></th>
                <th><h6> Erziehungsberechtigter </h6></th>
                <th><h6> Notfallnummer </h6></th>
                <th><h6> Anmerkungen </h6></th>
            </tr>
            {% for member in member_list %}
            <tr id="{{member.profile.status}}" class="{% cycle 'odd' 'even' %}"> 
                <td nowrap="nowrap">  {{ forloop.counter }}  </td>
                <td nowrap="nowrap"> {{member.profile.status}} </td>
                <td nowrap="nowrap"> {{member.first_name}} </td>
                <td nowrap="nowrap"> {{member.last_name}} </td>
                <td nowrap="nowrap"> {{member.email}} </td>
                <td nowrap="nowrap"> {% if member.profile.telephone %} {{member.profile.telephone}} {% else %} - {% endif %}</td>
                <td nowrap="nowrap"> {% if member.profile.parent %} {{member.profile.parent}} {% else %} - {% endif %}</td>
                <td nowrap="nowrap"> {% if member.profile.parent_telnr %} {{member.profile.parent_telnr}} {% else %} - {% endif %}</td>
                <td nowrap="nowrap"> {% if member.profile.notes_trainer %} {{member.profile.notes_trainer}} {% else %} - {% endif %}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <br>
    <span style='width:150px;display:block;cursor:pointer'>
        <div id='{{object.pk}}' class='mail_click padding_all_small tertiary_bg prim_hover'>
            Mailverteiler
        </div>
    </span>
    <div style='align:left'>
        <input type="checkbox" id="only_active" checked>
        <label for="only_active">Nur ordentliche Mitglieder</label><br><br>
    </div>
    
    <script>
    $('.mail_click').on('click', function(){
        if($("#only_active").is(':checked')){
            var only_active = true;
        }else{
            var only_active = false;
        }
        $.ajax({
            data: {'id':$(this).attr("id"), 'only_active':only_active},
            url: '{% url "get_all_emails" %}',
            type: 'GET',
            success: function (data){
                navigator.clipboard.writeText(data['string']);
            }
        });
    });
</script>
    
    
</section>
{% endblock %}