{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar_blue">
    <a class="float_left" href="{% url 'index' %}#training">Zurück</a>
</div>
{% endblock %}
{%block content %}
<section style="padding-top:5%;">
    <div style="background-color:#333333;padding:20px; margin-bottom:5px;" >
        <div>
            <h2 style="margin-bottom:0px;" >{{object.website_title|upper}}</h2>
            <hr  style="clear:both;border:0px;height:2px;background-color:white;">
            <h3 style="margin-top:0px;margin-bottom:30px;"> Gruppe {{object.group.group_id}}</h3>
            <p> {{object.weekday}} von {{object.start_time}} bis {{object.end_time}} Uhr</p>
        </div>
        <div style="overflow:hidden;">
            <h3 style="margin-top:0px;margin-bottom:30px;">{{object.spot.title}}</h3>
            <div class="col-5" id="map" style="float:left;"> </div>
            
            <script>
                // Initialize and add the map
                function initMap() {
                  var spot = {lat: {{object.spot.lat}}, lng: {{object.spot.long}}};
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 17, center: spot});
                  var marker = new google.maps.Marker({position: spot, map: map});
                }
            </script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkB8V0wOMLikUsZilD_5LEz49Isbqr-0k&callback=initMap">
            </script>
            
            <div class="col-5" style="float:right;">
                <p style="text-align:center; margin-bottom:20px;">{{object.spot.description}}</p>
                <p style="text-align:center; padding-right: 25%;padding-left: 25%;">
                    <a class="sign_up button_padding" target="_blank" href="https://www.google.de/maps/dir//{{object.spot.lat}},{{object.spot.long}}/@{{object.spot.lat}},{{object.spot.long}},17z">Route</a>
                </p>
            </div>
        </div>
    </div>
        {% if perms.members.change_session %}
            <a class="float_right more_info_button button_padding" href="{% url 'session_update' object.id  %}">Bearbeiten</a>
        {% endif %}
        {% if perms.members.delete_session %}
            <a class="float_right more_info_button button_padding" href="{% url 'session_delete' object.id  %}">Löschen</a>
        {% endif %}
    <div style="background-color:#333333;padding:20px;clear:both;">
        <div style="overflow:hidden;">
            <h2 style="margin-bottom:30px;">ANSPRECHPARTNER</h2>
            {% for trainer in object.trainer.all %}
                <div class="session_divs col-5" style="overflow:hidden;">
                    <div class="first_row">
                        <div class="session_weekday">
                            <img class="round_profile_pic" src="{{trainer.image.url}}">
                        </div>
                        <div class="trainer_info">
                            <h3> {{trainer.user.first_name |upper}}</h3>
                            <p> {{trainer.trainer_telnr}} </p>
                            <p> {{trainer.trainer_email}} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

    