{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar_blue">
    <div>
        <a class="float_left" href="{% url 'index' %}#training">
            <i class="fas fa-chevron-left" style="font-size:32px;"></i>
        </a>
    </div>
</div>
{% endblock %}

{% block content %}
<section style="text-align:center; padding-top:5%;">
    {% if object.group %}
        <h2>SESSION {{object.website_title | upper }}</h2>
        <h3>Gruppe {{object.group.group_id}}</h3>
    {% else %}
        <h2>NEUE SESSION</h2>
    {% endif %}
    {% include "members/form_snippet.html" %}
</section>
{% endblock %}
