{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> {{object.title}} </a>
</div>

{% endblock %}
{%block content %}
<section>
    <h1>{{object.title|upper}}</h1>
    <div style="display:flex; flex-wrap:wrap; justify-content:space-between;">
        <div class="padding_all_big tertiary_bg chair_col-20">
            <h3>{{object.spot.title}}</h3>
            <h4>{{object.weekday}}</h4>
            <h4>{{object.agegroup}}</h4>
            <p>{{object.start_time}} bis {{object.end_time}} Uhr</p>
        </div>
        <div class="padding_all_big tertiary_bg chair_col-80" id="container">
            <div class="trainer_ui">
                {% if perms.members.change_session %}
                <a href="{% url 'session_update' object.id  %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:17px;"></i></a>
                {% endif %}
                {% if perms.members.delete_session %}
                <a href="{% url 'session_delete' object.id  %}" title="Löschen"><i class="far fa-minus-square" style="font-size:17px;"></i></a>
                {% endif %}
            </div>
            <div class="markdown">
            {{object.spot.description_rendered|safe}}
            </div>
        </div>
    </div>
    <br>
    <div style="display:flex; flex-wrap:wrap; justify-content:space-between">
        <div class="chair_col-80">
            <iframe frameborder="0" style="border:0; height:400px; width:100%"
                src="https://www.google.com/maps/embed/v1/place?key={{api_key}}
                &q={{object.spot.lat}},{{object.spot.long}}&zoom=15" allowfullscreen>
            </iframe>
        </div>
        <div class="chair_col-20">
            <p class="padding_rl_big"></p>
            <p class="flex_center padding_all_big">
                <a class="form_button" target="_blank" href="https://www.google.de/maps/dir//{{object.spot.lat}},{{object.spot.long}}/@{{object.spot.lat}},{{object.spot.long}},17z"><i class="fas fa-external-link-alt"></i> Route</a>
            </p>
        </div>
    </div>



    <h1 class="padding_tb_big">Deine TrainerInnen</h1>
    <div class="padding_all_big" style="clear:both;">
        <div class="flex_left">
        {% for trainer in object.trainer.all %}
            <div class="col-4 padding_all_small">
                <div style="height:100%;">
                    <div class="flex_left">
                        <div class="chair_col-5 flex_center_vertical">
                            <div class="flex_center">
                                <img class="padding_all_small round_profile_pic_chairman" src="{{trainer.image.url}}">
                            </div>
                        </div>
                        <div class="chair_col-5 flex_center">
                            <div class="flex_center_vertical_even padding_all_small">
                                <h3> {{trainer.user.first_name |upper}} {{trainer.user.last_name |upper}}</h3>
                                <div>
                                    <p> {{trainer.trainer_telnr}} </p>
                                    <p> {{trainer.trainer_email}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

