{% extends "members/base.html" %}
{% block navbar2 %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#nav">
        Mitgliederbereich </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Webshop </a>
</div>
{% endblock %}


{% block content %}
<h1> Vereinskleidung </h1>

<div class="padding_all_big flex_left" style="gap:30px;position: relative;">
    <div style="position: absolute; top: 0; right: 0;">
        {% if perms.auth.add_user %}
                <a href="{% url 'shopitem_create' %}" title="Shop Item hinzufügen"><i class="far fa-plus-square" style="font-size:27px;"></i></a>
        {% endif %}
    </div>
    {% for obj in object_list %}
    <div style="width: 100%;">
        <h3>{{obj.title}}</h3>
        <div class="padding_all_small chair tertiary_bg" style="width:100%; display: flex; flex-wrap: wrap; position:relative">
            <div class="trainer_ui">
                {% if perms.members.change_shop_item %}
                <a href="{% url 'shopitem_update' obj.id  %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:17px;"></i></a>
                {% endif %}
            </div>
            <div class="chair_col-4 flex_left" {%if obj.n_images_modulo == 1 %} style="justify-content:space-between;"{% else%} style="justify-content:left;" {% endif %}> 
                {% for img in obj.get_images %}
                    {% if forloop.counter == 1 %}
                        <img style="width:100%;" src="{{img.image.url}}">
                    {% else %}
                        <img style="width:33%;" src="{{img.image.url}}">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="chair_col-60"> 
                <div class="padding_all_big flex_center_vertical_even" style="justify-content:space-between; height: 100%;">
                    <div>
                        {{obj.description_rendered|safe}} 
                    </div>
                    <div> 
                        <p style="font-size:30px;" >Preis: {{obj.price}} € </p>
                        <p style="font-size:20px;color:grey"> Bitte schreibt uns eine Email! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}