{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'spot_list' %}#nav">
        Spotliste </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> {{object.title}} </a>
</div>
{% endblock %}
{%block content %}
<section>
    <h1>{{object.title|upper}}</h1>
    <div class="tertiary_bg padding_all_big">
        <div id="container">
            <h3 class="padding_tb_small">{{spot.lat}},{{spot.long}}</h3>
            <div class="trainer_ui">
                {% if perms.members.change_spot %}
                <a href="{% url 'spot_update' object.id  %}#nav"><i class="fas fa-pen-square" style="font-size:17px;"></i></a>
                {% endif %}
                {% if perms.members.delete_spot %}
                <a href="{% url 'spot_delete' object.id  %}"><i class="far fa-minus-square" style="font-size:17px;"></i></a>
                {% endif %}
            </div>
        </div>
        <div>
            <div class="col-5" id="map" style="float:left;"> </div>
            <script>
                // Initialize and add the map
                function initMap() {
                  var spot = {lat: {{object.lat}}, lng: {{object.long}}};
                  var map = new google.maps.Map(
                      document.getElementById('map'), {zoom: 17, center: spot});
                  var marker = new google.maps.Marker({position: spot, map: map});
                }
            </script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkB8V0wOMLikUsZilD_5LEz49Isbqr-0k&callback=initMap">
            </script>
            
            <div class="col-5 float_right">
                <p class="padding_all_big" align="justify">{{object.description}}</p>
                <p class="flex_center padding_all_big">
                    <a class="form_button" target="_blank" href="https://www.google.de/maps/dir//{{object.lat}},{{object.long}}/@{{object.lat}},{{object.long}},17z"><i class="fas fa-external-link-alt"> Route</i></a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

    