{% extends "members/base.html" %}
{% block navbar2 %}
{% if object.title %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'spot_list' %}#nav">
        Spotliste </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'spot_detail' object.id%}#nav">
        {{object.title}}</a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Bearbeiten </a>
</div>
{% else %}
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#training">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'spot_list' %}#nav">
        Spotliste </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;"> Neu </a>
</div>
{% endif %}
{% endblock %}

{%block content %}
<section>
    <div style="text-align:center;">
    {% if object.title %}
    <h1>{{object.title}}</h1>
    {% else %}
    <h1>Neuer Spot</h1>
    {% endif %}
    </div>
    {% include "members/form_snippet.html" %}
</section>
{% endblock %}