{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}#events">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Dein Profil</a>
</div>
{% endblock %}
{%block content %}
    <section>
        <h1>{{object.first_name}} {{object.last_name}}</h1>
        <div class="tertiary_bg padding_all_big">
            <p> Platzhalter </p>
            <ol>
                <li>See your information (Mitgliedsnummer, Gruppe, Name, Email, Telefon für Trainer)</li>
                <li>Change your information (Name? Email, Passwort, Telefon)</li>
                <li>Formular - Änderung der Daten für den Vorstand </li>
                <li>Account Löschen</li>
                <li>Wichtige Formulare? (SEPA?, Kündigungsvorlage?, Satzung?)</li>
            </ol>
        </div>
    </section>
{% endblock %}