{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar primary_bg padding_all_small" style="margin-top:2px;">
    <a class="more_info_button float_left" style="font-size: 1.1rem;" href="{% url 'index' %}">
        Mitglieder </a>
    <a class="float_left"> > </a>
    <a class="float_left strong" style="font-size: 1.1rem; color:white;">Dein Profil</a>
</div>
{% endblock %}
{%block content %}
    <section>
        <h1>Dein Profil</h1>
        <div class="flex_center" style="flex-wrap:wrap;justify-content:space-between;">
            <div class="chair_col-49 padding_all_small tertiary_bg">
                <div class="padding_all_big">
                    <h3 class="padding_tb_small"> Deine Daten </h3>
                    <p align="justify"> Hier kannst du deine Daten sehen und bearbeiten</p>
                    <h4 class="padding_tb_small"></h4>
                    <div class="side_scroll">
                        <table class="padding_tb_small side_scroll">
                            <tr> <td><h4>Persönliche Daten</h4></td>
                                <td></td><td><a class="more_info_button" href="{% url 'profile_update_address' object.profile.id %}">Ändern</a></td></tr>
                            <tr> <td>Name:</td><td>{{object.first_name}} {{object.last_name}}</td> </tr>
                            <tr> <td>Nutzername:</td><td>{{object.username}}</td> </tr>
                            <tr> <td>Adresse:</td><td>{{object.profile.address}}</td> </tr>
                            <tr> <td>Geburtsdatum:</td><td>{{object.profile.birthday|date:"d.m.Y"}}</td> </tr>
                            <tr> <td>Geschlecht:</td><td>{{object.profile.sex}}</td> </tr>
                            <tr> <td>Telefon:</td><td>{{object.profile.telephone}}</td> </tr>
                            <tr> <td>Ansprechpartner (U18):</td><td>{% if object.profile.parent %} {{object.profile.parent}} {%else%} - {% endif %}</td></tr>
                            <tr> <td>Notfallnummer (U18):</td><td>{% if object.profile.parent_telnr %} {{object.profile.parent_telnr}} {%else%} -  {% endif %}</td> </tr>
                            <tr> <td>Email:</td><td>{{object.email}}</td> <td><a class="more_info_button" href="{% url 'profile_update_email' object.id %}">Ändern</a></td> </tr>
                            <tr> <td>Passwort:</td><td>*************</td> <td><a class="more_info_button" href="{% url 'profile_update_pw' object.id %}">Ändern</a></td> </tr>
                            <tr> <td><h4 class="padding_tb_small">Vereinsdaten</h4></td> </tr>
                            <tr> <td>Mitgliedsstatus:</td><td>{{object.profile.status}}</td> </tr>
                            <tr> <td>Mitglied seit:</td><td>{{object.profile.membership_start|date:"m/Y"}}</td> </tr>
                            <tr> <td>Mitgliedsnummer:</td><td>{{object.profile.member_num}}</td> </tr>
                            <tr> <td>Trainingsgruppe: </td><td>{{object.profile.group}}</td> </tr>
                        </table>
                    </div>
                </div> 
            </div>
            <div class="chair_col-49 padding_all_small tertiary_bg">
                <div class="padding_all_big">
                    <h3 class="padding_tb_small"> Änderungen mitteilen </h3>
                    <p align="justify"> Wenn sich statische Daten von dir ändern (Name, Geschlecht) oder nicht korrekt dargestellt sind, teile es uns über das Feld unten mit und
                    wir ändern deine Daten in unserer Datenbank. Für eine Änderung der Bankverbindung ist 
                    <strong>immer ein neues SEPA Mandat</strong> notwendig, dieses kann direkt mit angehängt werden.
                    </p>
                    <form class="form_wrapper" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class ="inner_form padding_all_big flex_center">
                            <h5>Deine Nachricht an uns</h5>
                            <label class="mdc-text-field mdc-text-field--textarea mdc-text-field--no-label">
                              <textarea class="mdc-text-field__input" rows="8" cols="80" aria-label="comment" id="id_comment" name="comment"></textarea>
                              <span class="mdc-notched-outline">
                                <span class="mdc-notched-outline__leading"></span>
                                <span class="mdc-notched-outline__trailing"></span>
                              </span>
                            </label>
                            <div style="display:flex;">
                                <label class="upload">
                                    <span style="display:flex;justify-content:center;"><i class="fas fa-file-upload"></i></span>
                                    <input type="file" id="inputFile" style="display: none" name="attachment" >
                                </label>
                                <p class="padding_rl_small" id="fileText">Anhang hochladen</p>
                            </div>
                            <script>
                                $(document).on('change','#inputFile' , function(e){
                                var fileName = e.target.files[0].name
                                $("#fileText").html(fileName).show();
                                var fileSize = e.target.files[0].size
                                if(fileSize > 5000000){
                                    $("#fileText").html("Die Datei ist zu groß (> 5mb)").show();
                                    $("#inputFile").value = ""
                                    }
                                    });
                            </script>
                            <button class="form_button padding_all_small" style="margin:20px auto;" type="submit">
                                <span >OK</span>
                            </button>
                        </div>
                    </form>
                    <script>
                        const fields = document.querySelectorAll('.mdc-text-field');
                        fields.forEach(field => mdc.textField.MDCTextField.attachTo(field));
                    </script>
                </div>
            </div>
        </div>
        <h3 class="padding_tb_small"> Dokumente </h3>
        <div class="padding_all_small tertiary_bg chair_col-49">
            <div class="padding_all_big">
                <div class="padding_all_big">
                    <ul>
                        <li style="padding:5px; width:100%;"><a class="download padding_rl_big" href="{{ STATIC_URL }}/static/docs/Satzung_TwioX.pdf"><p>Satzung</p><i class="fas fa-file-download"></i></a></li>
                        <li style="padding:5px; width:100%;"><a class="download padding_rl_big" href="{{ STATIC_URL }}/static/docs/Beitragsordnung_TwioX.pdf"><p>Beitragsordnung</p><i class="fas fa-file-download"></i></a></li>
                        <li style="padding:5px; width:100%;"><a class="download padding_rl_big" href="{{ STATIC_URL }}/static/docs/SEPA_Mandat_TwioX.pdf"><p>SEPA Mandat</p><i class="fas fa-file-download"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}