{% load compress %}
{% load static %}
{% compress css %}
    <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    <link type="text/x-scss" rel="stylesheet" media="only screen and (min-width: 600px)" href="{% static 'tablet_style.scss' %}">
    <link type="text/x-scss" rel="stylesheet" media="only screen and (min-width: 1000px)" href="{% static 'desktop_style.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'material.css' %}">
{% endcompress %}

<!doctype html>
<html lang="en", style="padding-bottom:0px;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/55165a9737.js" crossorigin="anonymous"></script>

        <title>Twio X e.V. - Parkour Leipzig</title>
        <meta name="description" content="Der Internetauftritt vom Parkour Verein Twio X e.V. aus Leipzig">
        <link rel="icon" href="{{ STATIC_URL }}/static/media/favicon.ico">


        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700">
        <link href="https://fonts.googleapis.com/css?family=Catamaran:200,600" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    </head>
    <body>
        <div class="content_wrapper">
            <!-- header -->
            <header>
                <a href="{% url 'landing' %}">
                    <img src="{{ STATIC_URL }}/static/media/twiox_logo.svg">
                </a>
            </header>
            <nav class="sticky" id="nav">
                <div class="three_grid">
                    <a href="{% url 'index' %}">MITGLIEDER</a>
                    <a href="{% url 'interested_index' %}">INTERESSIERTE</a>
                    <a href="{% url 'organizers_index' %}">VERANSTALTER</a>
                </div>
            </nav>

            <div class="frame padding_tb_big">
                <section>
                    <h1>Datenschutzerkl&auml;rung</h1>
                    <h2 class="padding_tb_big">1. Allgemeine Hinweise und Pflichtinformationen</h2>
                    <p align="justify">Wir informieren mit dieser Datenschutzerkl&auml;rung die Nutzer unserer Webseite &uuml;ber die Art,
                        den Umfang und den Zweck der Erhebung und der Verarbeitung von personenbezogenen Daten durch den Twio X e.V.
                        Der Datenschutz ist f&uuml;r uns von hoher Bedeutung. Beim Umgang mit personenbezogenen Daten
                        verfahren wir stets mit gr&ouml;&szlig;ter Sorgfalt, vertraulich und im Einklang mit den gesetzlichen Vorschriften.
                        Betreffend die Definitionen von Begriffen wie z.B. &quot;personenbezogene Daten&quot; oder &quot;Verarbeitung&quot;
                        verweisen wir auf Art. 4 DSGVO.
                    </p>
                    <br>
                    <strong>Hinweis zur verantwortlichen Stelle</strong><br>
                    <p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europ&auml;ischen Union geltenden Datenschutzgesetze ist der:
                        <br>
                        <br>
                        Twio X e.V.<br>
                        Ranst&auml;dter Steinweg 9<br>
                        04109 Leipzig<br>
                        Telefon: +49 177 211 93 22<br>
                        E-Mail: parkou[at]twio-x.de, datenschutz[at]twio-x.de<br>
                        Webseite: www.twio-x.de<br>
                        <br>
                        <strong>Vertreten durch den Vorstand nach &sect; 26 BGB:</strong><br>
                        <br>
                        Jewgeni Eisenberg<br>
                        Merlin Szymanski<br>
                        Oliver Grehl
                    </p>
                    <br>
                    <p>Verantwortliche Stelle ist die nat&uuml;rliche oder juristische Person, die allein oder gemeinsam mit anderen &uuml;ber die Zwecke und
                        Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. &Auml;.) entscheidet.</p>
                    <br>
                    <p><strong>Widerruf Ihrer Einwilligung zur Datenverarbeitung</strong><br>
                        Viele Datenverarbeitungsvorg&auml;nge sind nur mit Ihrer ausdr&uuml;cklichen Einwilligung m&ouml;glich.
                        Sie haben jederzeit die M&ouml;glichkeit, eine bereits erteilte Einwilligung zu widerrufen. Eine formlose Mitteilung per E-Mail an uns
                        gen&uuml;gt. Die Rechtm&auml;&szlig;igkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unber&uuml;hrt.</p>
                    <br>
                    <p><strong>Beschwerderecht bei der zust&auml;ndigen Aufsichtsbeh&ouml;rde</strong><br>
                        Im Falle datenschutzrechtlicher Verst&ouml;&szlig;e steht dem Betroffenen ein Beschwerderecht bei der zust&auml;ndigen
                        Aufsichtsbeh&ouml;rde zu. Zust&auml;ndige Aufsichtsbeh&ouml;rde in datenschutzrechtlichen Fragen ist der
                        Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Sitz hat.</p>
                    <br>
                    <p><strong>Recht auf Daten&uuml;bertragbarkeit</strong>
                        <br>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erf&uuml;llung eines Vertrags
                        automatisiert verarbeiten, an sich oder an einen Dritten in einem g&auml;ngigen, maschinenlesbaren Format aush&auml;ndigen zu
                        lassen. Sofern Sie die direkte &Uuml;bertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es
                        technisch machbar ist.</p>
                    <br>
                    <p><strong>Auskunft, Sperrung, L&ouml;schung</strong><br>
                        Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft &uuml;ber
                        Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empf&auml;nger und den Zweck der Datenverarbeitung und
                        ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene
                        Daten k&ouml;nnen Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
                    <br>
                    <h2 class="padding_tb_big">2. Datenerfassung auf unserer Webseite</h2>
                    <p>Im Zusammenhang mit dem Besuch unserer Webseite verarbeiten wir folgende Daten unserer Nutzer:</p>
                    <br>
                    <ol>
                        <li>1. Bestandsdaten (z.B., Namen, Adressen)</li>
                        <li>2. Kontaktdaten (z.B., E-Mail, Telefonnummern)</li>
                        <li>3. Inhaltsdaten (z.B., Texteingaben, Fotografien, Videos)</li>
                        <li>4. Nutzungsdaten (z.B., besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten)</li>
                        <li>5. Meta-/Kommunikationsdaten (z.B., Ger&auml;te-Informationen, IP-Adressen)</li>
                    </ol>
                    <br>
                    <p align="justify"><strong>Cookies</strong><br>
                        Auf unserer Webseite verwenden wir sogenannte Cookies. Hierbei handelt es sich um kleine Dateien, welche auf Ihrem Endger&auml;t
                        gespeichert werden. Ihr Browser greift auf diese Dateien zu. Durch den Einsatz von Cookies erh&ouml;ht sich die
                        Benutzerfreundlichkeit und Sicherheit dieser Website. Die meisten der von uns verwendeten Cookies sind so genannte &ldquo;
                        Session-Cookies&rdquo;. Sie werden nach Ende Ihres Besuchs automatisch gel&ouml;scht. Andere Cookies bleiben auf Ihrem
                        Endger&auml;t gespeichert bis Sie diese l&ouml;schen. Diese Cookies erm&ouml;glichen es uns, Ihren Browser
                        beim n&auml;chsten Besuch wiederzuerkennen.<br><br>

                        Nutzer unserer Webseite k&ouml;nnen den Browser so einstellen, dass Sie &uuml;ber das Setzen von Cookies informiert werden und
                        Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r bestimmte F&auml;lle oder generell
                        ausschlie&szlig;en sowie das automatische L&ouml;schen der Cookies beim Schlie&szlig;en des Browser aktivieren.
                        Die Deaktivierung von Cookies kann die Funktionalit&auml;t dieser Seite einschr&auml;nken.</p>
                    <br>
                    <p align="justify"><strong>Server-Log-Dateien</strong><br>
                        Mit jedem Aufruf der Internetseite des Twio X e.V. durch eine betroffene Person, werden durch ein automatisiertes
                        System eine Reihe von allgemeinen Daten und Informationen in so genannten Server-Log-Dateien erfasst, gespeichert und an uns &uuml;bermittelt.</p>
                    <br>
                    <ol>
                        <li>1. Browsertyp und Browserversion</li>
                        <li>2. Verwendetes Betriebssystem</li>
                        <li>3. Die Internetseite, von welcher ein zugreifendes System auf unsere Internetseite gelangt (Referrer URL)</li>
                        <li>4. Hostname des zugreifenden Rechners</li>
                        <li>5. Uhrzeit der Serveranfrage</li>
                        <li>6. IP-Adresse</li>
                    </ol>
                    <br>
                    <p align="justify">Eine Zusammenf&uuml;hrung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Bei der Nutzung
                        dieser allgemeinen Daten und Informationen werden durch den Twio X e.V. keine R&uuml;ckschl&uuml;sse auf die betroffene Person gezogen.</p>
                    <br>
                    <p align="justify"><strong>Kontaktformulare</strong><br>
                        Auf unserer Seite bieten wir den Nutzern die M&ouml;glichkeit, sich mit uns &uuml;ber Kontaktformulare in Verbindung zu setzten.
                        Die Angaben aus der Anmeldemaske, wie z.B. Name, die E-Mail-Adresse oder Telefonnummer, werden automatisch gespeichert und von uns
                        genutzt, um die jeweilige Anfrage zu bearbeiten und ggf. den Nutzer bez&uuml;glich weiterer Anschlussfragen
                        zu kontaktieren. Grundlage hierf&uuml;r ist Ihr Einwilligung gem&auml;&szlig; Art. 6 Abs. 1 lit. a DSGVO. Eine Weitergabe der
                        Daten an Dritte erfolgt nicht. Diese Einwilligung kann jederzeit widerrufen werden. Dazu reicht eine formlose Mitteilung per
                        E-Mail an uns.<br><br>Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur L&ouml;schung auffordern,
                        Ihre Einwilligung zur Speicherung widerrufen oder der Zweck f&uuml;r die Datenspeicherung entf&auml;llt, bspw. im Fall einer
                        abschlie&szlig;enden Bearbeitung Ihrer Anfrage. Zwingende gesetzliche Bestimmungen &ndash;
                        insbesondere Aufbewahrungsfristen &ndash; bleiben unber&uuml;hrt.</p>
                    <br>
                    <h2 class="padding_tb_big">3. Kategorien der betroffenen Personen</h2>
                    <p align="justify">Betroffene Personen sind alle Besucher und Nutzer von uns bereitgestellten Onlineangebotes.
                        Diese werden zusammenfassend als &bdquo;Nutzer&ldquo; bezeichnet.</p>
                    <br>
                    <h2 class="padding_tb_big">4. Plugins und Tools</h2>
                    <p align="justify"><strong>Google Web Fonts</strong><br>
                        Diese Seite nutzt zur einheitlichen Darstellung von Schriftarten so genannte Web Fonts, die von Google bereitgestellt werden.
                        Beim Aufruf einer Seite l&auml;dt Ihr Browser die ben&ouml;tigten Web Fonts in ihren Browsercache, um Texte und
                        Schriftarten korrekt anzuzeigen. Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von
                        Google aufnehmen. Hierdurch erlangt Google Kenntnis dar&uuml;ber, dass &uuml;ber Ihre IP-Adresse unsere Website aufgerufen wurde.
                        Die Nutzung von Google Web Fonts erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote.
                        Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Wenn Ihr Browser Web Fonts nicht unterst&uuml;tzt,
                        wird eine Standardschrift von Ihrem Computer genutzt.<br><br>Weitere Informationen zu Google Web Fonts finden Sie
                        unter <a class="default" href="https://developers.google.com/fonts/faq" target="_blank">https://developers.google.com/fonts/faq</a>
                        und in der Datenschutzerkl&auml;rung von Google: <a class="default" href="https://www.google.com/policies/privacy/" target="_blank">
                        https://www.google.com/policies/privacy/</a>.</p>
                    <br>
                    <p align="justify"><strong>Google Maps</strong><br>
                        Diese Seite nutzt &uuml;ber eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600
                        Amphitheatre Parkway Mountain View, CA 94043, USA. Zur Nutzung der Funktionen von Google Maps ist es notwendig,
                        Ihre IP Adresse zu speichern. Diese Informationen werden in der Regel an einen Server von Google in den USA &uuml;bertragen
                        und dort gespeichert. Der Anbieter dieser Seite hat keinen Einfluss auf diese Daten&uuml;bertragung.<br><br>
                        Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und an einer leichten
                        Auffindbarkeit der von uns auf der Webseite angegebenen Orte. Dies stellt ein berechtigtes Interesse im Sinne von Art.
                        6 Abs. 1 lit. f DSGVO dar.<br><br>
                        Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerkl&auml;rung von Google:
                        <a class="default" href="https://www.google.de/intl/de/policies/privacy/" target="_blank">https://www.google.de/intl/de/policies/privacy/
                        </a>
                    </p>
                    <br>
                    <h2 class="padding_tb_big">5. Soziale Medien</h2>
                    <p align="justify">Wir unterhalten Onlinepr&auml;senzen innerhalb sozialer Netzwerke und Plattformen, um mit den dort aktiven Kunden,
                        Interessenten und Nutzern kommunizieren und sie dort &uuml;ber unsere Leistungen informieren zu k&ouml;nnen. Beim Aufruf der
                        jeweiligen Netzwerke und Plattformen gelten die Gesch&auml;ftsbedingungen und die Datenverarbeitungsrichtlinien deren jeweiligen Betreiber.
                        Soweit nicht anders im Rahmen unserer Datenschutzerkl&auml;rung angegeben, verarbeiten wir die Daten der Nutzer
                        sofern diese mit uns innerhalb der sozialen Netzwerke und Plattformen kommunizieren, z.B. Beitr&auml;ge auf unseren Onlinepr&auml;senzen
                        verfassen oder uns Nachrichten zusenden.</p>
                    <br>
                    <h2 class="padding_tb_big">6. Zweck der Verarbeitung</h2>
                    <p>Mir der Erhebung und Speicherung der Daten werden durch uns folgende Zwecke verfolgt:</p>
                    <br>
                    <ol>
                        <li>1. Zurverf&uuml;gungstellung des Onlineangebotes, seiner Inhalte und Funktionen</li>
                        <li>2. Erbringung vertraglicher Leistungen und Service</li>
                        <li>3. Beantwortung von Kontaktanfragen und Kommunikation mit Nutzern</li>
                        <li>4. Reichweitenmessung/Marketing</li>
                        <li>5. Sicherheitsma&szlig;nahmen</li>
                    </ol>
                    <br>
                    <h2 class="padding_tb_big" >7. Rechtsgrundlagen der Datenverarbeitungen</h2>
                    <p align="justify">Nach Ma&szlig;gabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen unserer Datenverarbeitungen mit.
                        Sofern die Rechtsgrundlage in der Datenschutzerkl&auml;rung nicht genannt wird, gilt Folgendes: Die Rechtsgrundlage
                        f&uuml;r die Einholung von Einwilligungen ist Art. 6 Abs. 1 S. 1 lit. a) und Art. 7 DSGVO,
                        die Rechtsgrundlage f&uuml;r die Verarbeitung zur Erf&uuml;llung unserer Leistungen und
                        Durchf&uuml;hrung vertraglicher Ma&szlig;nahmen sowie Beantwortung von Anfragen ist Art. 6 Abs. 1 S. 1 lit. b)
                        DSGVO, die Rechtsgrundlage f&uuml;r die Verarbeitung zur Erf&uuml;llung unserer rechtlichen
                        Verpflichtungen ist Art. 6 Abs. 1 S. 1 lit. c) DSGVO, und die Rechtsgrundlage f&uuml;r die
                        Verarbeitung zur Wahrung unserer berechtigten Interessen ist Art. 6 Abs. 1 S. 1 lit. f) DSGVO.
                        F&uuml;r den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen
                        nat&uuml;rlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs.
                        1 S. 1 lit. d) DSGVO als Rechtsgrundlage.</p>
                    <br>
                    <h2 class="padding_tb_big">Dauer der Speicherung von personenbezogenen Daten</h2>
                    <p>Grunds&auml;tzlich erfolgt eine L&ouml;schung der Daten, sobald der Zweck ihrer Erhebung erf&uuml;llt wurde. Das Kriterium f&uuml;r die Dauer der Speicherung von personenbezogenen Daten ist die jeweilige gesetzliche Aufbewahrungsfrist. Nach Ablauf der Frist werden die entsprechenden Daten routinem&auml;&szlig;ig gel&ouml;scht, sofern sie nicht mehr zur Vertragserf&uuml;llung oder Vertragsanbahnung erforderlich sind.</p>
                    <h2 class="padding_tb_big">Bestehen einer automatisierten Entscheidungsfindung</h2>
                    <p>Als verantwortungsbewusster Verein verzichten wir auf eine automatische Entscheidungsfindung oder ein Profiling.</p>
                </section>
            </div>
            <div class="mdc-snackbar mdc-snackbar">
              <div class="mdc-snackbar__surface">
                <div class="mdc-snackbar__label" role="status" aria-live="polite">
                </div>
              </div>
            </div>
            <script>
            const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
            </script>

            {% for message in messages %}
                <script>
                    snackbar.labelText = "{{message}}";
                    snackbar.open()
                </script>
            {% endfor %}

        </div>
        <footer class="padding_tb_big">
                <div class="social_test">
                    <div class="element">
                        <a href="https://www.facebook.com/twioxev/" target="_blank">
                            <i class="fab fa-facebook" style='font-size:27px'></i>
                            <span>facebook.com/twioxev</span>
                        </a>
                    </div>
                    <div class="element">
                        <a href="https://www.instagram.com/twio_x/" target="_blank">
                            <i class="fab fa-instagram" style='font-size:27px'></i>
                            <span>instagram.com/twio_x</span>
                        </a>
                    </div>
                    <div class="element">
                        <a href="https://www.youtube.com/channel/UCvvzqAyNrdy79eBQzdCwFUw/videos" target="_blank">
                            <i class='fab fa-youtube' style='font-size:27px'></i>
                            <span>youtube.com/twio-x</span>
                        </a>
                    </div>
                    <div class="element">
                        <a href="tel:+491772119322" target="_blank">
                            <i class="fas fa-phone-alt" style='font-size:27px'></i>
                            <span>+49 177 211 93 22</span>
                        </a>
                    </div>
                    <div class="element">
                        <a href="mailto:parkour@twio-x" target="_blank">
                            <i class="far fa-envelope" style='font-size:27px'></i>
                            <span>parkour@twio-x.de</span>
                        </a>
                    </div>
                </div>
            <hr style="border:0px;height:1px;background-color:#262626;margin-top:30px;">
            <div class="padding_tb_small" style="text-align:center;">
                <a class="more_info_button button_padding" href="{% url 'impressum'%}">Impressum</a> ⋅ <a href="{%url 'dataprotection' %}" class="more_info_button button_padding">Datenschutz</a>
            </div>
        </footer>
    </body>
</html>
