{% autoescape off %}
Hallo {{first_name}} {{last_name}}

Vielen Dank für Ihre Anfrage,
wir melden uns so bald wie möglich bei Ihnen um Einzelheiten
der Veranstaltung und unserer Partizipation zu besprechen.

Bis bald!

Mit sportlichen Grüßen

Twio X e.V.

---

Vorstand gem. § 26 BGB:
Jewgeni Eisenberg | Merlin Szymanski | Oliver Grehl
Vereinsregisternummer: VR 4359
Steuernummer: 231/141/11554
Telefon: +49 177 211 93 22 | E.Mail: parkour@twio-x.de | Internet: www.twio-x.de
{% endautoescape %}