{% load custom_filters %}

{% if request.user.profile.permission_level > 2 %}
<div id="event_questions" class="relative">
    <h3 class="m-0 p-0">Veranstaltungsfragen</h3>
    <div class="mdl-grid">
        <div class="mdl-cell--col-6 m-2 mdl-cell--col-12--phone">
            <!--See entries-->
            {% if event.question_dict %}
            <h6 class="m-0 p-0">Fragen</h6>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Frage</th>
                        <th class="mdl-data-table__cell--non-numeric">Typ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for key,content in event.question_dict %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{content.0}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{content.1}}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{event.pk}}">
                                <input type="hidden" name="removekey" value="{{key}}">
                                <span
                                    hx-post="{% url 'event_remove_question' %}"
                                    hx-target="#event_questions"
                                    class="mdl-button mdl-js-button mdl-button--icon mdl-button--mini-fab mdl-button--colored s-7">
                                    <i class="material-icons">delete</i>
                                </span>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <!--New entry-->
        <div class="mdl-cell--col-6 m-2 mdl-cell--col-12--phone">
            <h6 class="m-0 p-0">Neue Frage</h6>
            <form type="post">
                {% csrf_token %}
                <input name="id" type="hidden" value="{{event.pk}}"/>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text"name="question">
                    <label class="mdl-textfield__label" for="question">Frage...</label>
                </div><br>
                <!-- Simple Select with arrow and floating label-->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                    <input type="text" value="" class="mdl-textfield__input" id="question_type" readonly>
                    <input type="hidden" value="" name="question_type">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="question_type" class="mdl-textfield__label">Typ</label>
                    <ul for="question_type" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-selected="true" data-val="text">Text</li>
                        <li class="mdl-menu__item" data-val="number">Nummer</li>
                        <li class="mdl-menu__item" data-val="checkbox">Checkbox</li>
                    </ul>
                </div><br>
                <span class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    hx-post="{% url 'event_add_question' %}"
                    hx-target="#event_questions"
                >
                    Hinzufügen
                </span>
            </form>
        </div>
    </div>
 </div>
{% endif %}
