{% load custom_filters %}

<style>
    .date_format{
        color: #f3f3f3;
        font-size:200%;
    }
    .date_small{
        color: #f3f3f3;
        font-size:14px;
        text-transform: uppercase;
    }
    .event-header{
        width: 100%;
    }
</style>

{% with participation=request.user.pk|isin:event.participant_users %}
<div class="event-header p-1 relative {% if event.deleted %} deleted {% endif %} {% if participation %} secondary-bg {% else %} primary-bg {% endif %}">
    <h3 class="m-0 p-0">Eckdaten</h3>
    <div class="p-2">
        <table>
            <tr><td><i class="material-icons">location_on</i></td>
                <td>{{event.place}}</td></tr>
            <tr><td><i class="material-icons">event</i></td><td>
                <div>
                    {% if not event.multiple_days %}
                    <span>{{event.start_date|date:'d.m.Y' }}</span>
                    {% else %}
                    <span>{{event.start_date|date:'d' }}. - {{event.end_date|date:'d.m.Y' }}</span>
                    {% endif %}
                </div>
            </td></tr>
            <tr><td><i class="material-icons">sell</i></td><td>
                <span>
                    {% if request.user.is_authenticated %}
                        {% if event.costs == 0 %}Keine{% else %}{{event.costs}} €{% endif %}
                    {% else %}
                        {% if event.external_costs == 0 %}Keine{% else %}{{event.external_costs}} €{% endif %}
                    {% endif%}
                </span>
            </td></tr>
            <tr><td><i class="material-icons">face</i></td><td>
                {% if event.min_age == 0 and event.max_age == 99 %}Alle Altersgruppen{% else %}
                    {% if event.min_age > 0 and event.max_age < 99 %}Von {{event.min_age}}
                    {% elif event.min_age > 0 and event.max_age == 99 %}Ab {{event.min_age}} {% endif %}
                    {% if event.max_age < 99 and event.min_age == 0 %}Bis {{event.max_age}}
                    {% elif event.max_age < 99 and event.min_age > 0 %}bis {{event.max_age}}
                    {% endif %}
                    Jahre
                {% endif %}
            </td></tr>
        </table>
    </div>
</div>
{% if event.info_only %}
<p>Aktuell noch keine Anmeldung möglich</p>
{% else %}

<div class="my-2">
    {% if not event.deadline_reached %}
        {% if participation %}
            <a href="{% url 'event_deregister' event.pk %}">
                <span class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent primary-bg">
                Abmelden
                </span>
            </a>
        {% else %}
            {% if request.user.is_authenticated %}
                {% if request.user.profile.age > event.max_age or request.user.profile.age < event.min_age %}
                <button class="mdl-button mdl-js-button mdl-button--raised" disabled>
                    Anmeldung nicht möglich
                </button>
                {% else %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'event_register' event.pk %}">Anmelden</a>
                {%endif %}
            {% else %}
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'event_register' event.pk %}">Anmelden</a>
                {% endif %}
            {% endif %}
            <p> {% if not participation or request.user.is_authenticated == False %}Anmeldung{% else %}Abmeldung{% endif %} bis {{event.deadline|date:'d.m.Y' }} möglich
            </p>
    {% else %}
    <p>Der An- und Abmeldezeitraum ist vorbei</p>
    {% endif %}
</div>

{% endif %}
{% endwith %}