{% load custom_filters %}

{% with participation=request.user.pk|isin:event.participant_users %}
<div class="p-1 relative {% if event.deleted %} deleted {% endif %} {% if participation %} secondary-bg {% else %} primary-bg {% endif %}">
    <h3 class="m-0 p-0">Eckdaten</h3>
    <div class="p-2">
        <table>
            <tr><td><i class="material-icons">location_on</i></td>
                <td>{{event.place}}</td></tr>
            <tr><td><i class="material-icons">event</i></td><td>
                <div>
                    {% if not event.multiple_days %}
                    <span>{{event.start_date|date:'d.m.Y' }}</span>
                    {% else %}
                    <span>{{event.start_date|date:'d' }}. - {{event.end_date|date:'d.m.Y' }}</span>
                    {% endif %}
                </div>
            </td></tr>
            <tr><td><i class="material-icons">sell</i></td><td>
                <span>
                    {% if request.user.is_authenticated %}
                        {% if event.costs == 0 %}Kostenlos{% else %}{{event.costs}} €{% endif %}
                    {% else %}
                        {% if event.external_costs == 0 %}Kostenlos{% else %}{{event.external_costs}} €{% endif %}
                    {% endif%}
                </span>
            </td></tr>
            <tr><td><i class="material-icons">face</i></td><td>
                {% if event.min_age == 0 and event.max_age == 99 %}Alle Altersgruppen{% else %}
                    {% if event.min_age > 0 and event.max_age < 99 %}Von {{event.min_age}}
                    {% elif event.min_age > 0 and event.max_age == 99 %}Ab {{event.min_age}} {% endif %}
                    {% if event.max_age < 99 and event.min_age == 0 %}Bis {{event.max_age}}
                    {% elif event.max_age < 99 and event.min_age > 0 %}bis {{event.max_age}}
                    {% endif %}
                    Jahre
                {% endif %}
            </td></tr>
        </table>
    </div>
</div>
{% endwith %}