{% extends "members/base.html" %}
{% block navbar2 %} 
<div class="navbar_blue">
    <div>
        <a class="float_left" href="{% url 'index' %}">
            <i class="fas fa-chevron-left" style="font-size:32px;"></i>
        </a>
    </div>
</div>
{% endblock %}
{% block content %}
<section>
        <h1>WEBSHOP</h1>
        <div>
            {% for item in item_list %}
            <div style="margin-bottom:30px; background-color:#333333; overflow:hidden;">
                <div style="padding:15px;width:100%;background-color:#088eaa;text-align:center;border-top-right-radius: 5px; border-top-left-radius: 5px;">
                    <p><strong> {{item.title}} </strong></p>
                </div>
                <div class="item_wrapper col-6">
                    <div class="col-5" id="container">
			{% for gallery in item.itemimage_set.all %}
                        <img style="max-width:100%;" src="{{gallery.img1.url}}">
			<a class="item_button">
				<span>
					<i class="fas fa-chevron-right" style="font-size:15px;"></i>
				</span>
			</a>
   			{%endfor%}
                    </div>
                    <div class="col-5" style="float:left;padding:15px;" align="justify">
                        <div style="min-height:50%;display:flex;">
                        	<p>{% lorem 50 w random %}</p>
                        </div>
                        <div  style="height:auto; text-align:center; padding:5%;">
                            <a href="#" class="form_button"> Mehr Infos </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p> Leider gibt es im Moment keine Artikel im Webshop </p>
            {% endfor %}
        </div>
</section>
{% endblock %}
