{% extends "members/base.html" %}
{% block content %}
<section>
        <h1>WEBSHOP</h1>
        <div>
            {% for item in item_list %}
            <div style="margin-bottom:30px; padding:10px; overflow:hidden;">
                <div style="padding:30px;width:100%;background-color:blue;text-align:center;">
                    <p><strong> {{item.title}} </strong></p>
                </div>
                <div style="overflow:hidden; display:flex;" class="col-6">
                    <div class="col-5" >
                        <img style="max-width:100%;" src="{{item.image.url}}"></img>
                    </div>
                    <div class="col-5" style="float:left;" align="justify">
                        <div style="height:50%;">
                        <p>{% lorem 50 w random %}</p>
                        </div>
                        <div  style="height:50%;">
                            <span> Mehr Infos </span>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p> Leider gibt es im Moment keine Artikel im Webshop </p>
            {% endfor %}
        </div>
</section>
{% endblock %}