{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- basic information -->
    <title>Twio X e.V. - Parkour Leipzig</title>
    <meta name="description" content="Der Internetauftritt vom Parkour Verein Twio X e.V. Leipzig">
    <meta name="keywords" content="Parkour, Leipzig, Verein">
    <link rel="icon" href="{% static 'media/favicon.ico' %}">

    <!-- load font -->
    <!-- #TODO: self-host google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="{% static 'custom_style.css' %}" type="text/css">

    <!-- load jquery and htmx -->
    <script src="{% static 'packages/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'packages/htmx.min.js' %}">
    </script>

    <!--load materials component web light-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'packages/material.blue_grey-pink.min.css' %}" />
    <script src="{% static 'packages/material.min.js' %}"></script>

</head>
<body>
        <!-- Snackbars -->
        <div id="toast-example" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <script>
            var snackbarContainer = document.querySelector('#toast-example');
        </script>

        {% for message in messages %}
            <script>
                var data = {message: "{{message}}"};
                snackbarContainer.MaterialSnackbar.showSnackbar(data);
            </script>
        {% endfor %}
    {% block content %}{% endblock %}
</body>
</html>
