{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- basic information -->
    <title>Twio X e.V. - Parkour Leipzig</title>
    <meta name="description" content="Der Internetauftritt vom Parkour Verein Twio X e.V. Leipzig">
    <meta name="keywords" content="Parkour, Leipzig, Verein">
    <link rel="icon" href="{% static 'media/favicon.ico' %}">

    <!-- load font -->
    <!-- #TODO: self-host google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/members.css' %}" type="text/css">


    <!-- load jquery and htmx -->
    <script src="{% static 'packages/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'packages/htmx.min.js' %}"></script>
    <script src="{% static 'js/uni-form.jquery.min.js' %}"></script>

    <!--load materials component web light-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'packages/material.blue_grey-pink.min.css' %}" />
    <script src="{% static 'packages/material.min.js' %}"></script>

    <!--getmdl-select-->
    <link rel="stylesheet" href="{% static 'css/mdl/getmdl-select.min.css' %}">
    <script defer src="{% static 'js/mdl/getmdl-select.min.js' %}"></script>

    <!--Load Crispy Forms related static files-->
    <link href="{% static 'css/uniform/uni-form.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'css/uniform/default.uni-form.css' %}" media="all" rel="stylesheet"/>

    <!--Tables -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

    {% block head %}{% endblock %}

</head>
<body>

<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar success">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>

{% if messages %}
{% for message in messages %}
<script>
$(document).ready(function(){
    var notification = $('.mdl-js-snackbar');
    notification[0].MaterialSnackbar.showSnackbar(
    {
        message: '{{message}}'
    }
    );
})
</script>
{% endfor %}
{% endif %}

{% block body %}{% endblock %}

<script src="{% static 'js/custom_functions.js' %}"></script>
</body>
</html>
