{% load static %}

<style>
/*
Style for the main page
*/
/* this is the first section of the page */
#main_section {
    z-index: 5;
}
#main_section .parallax__layer--base {
    filter: contrast(100%) brightness(100%);
    background:
        /*needs opacity otherwise the noise is not visible*/
        linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 214 214' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2.48' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
#main_section .parallax__layer--base-background {
    background: #D4D8F0;
/* resulting css */
}

/*
The main image
*/
@media (orientation: portrait){
    #main_image {
        background-image: url("{% static 'media/interested_portrait.jpg'%}");
        background-position: top right;
    }
}

@media (orientation: landscape){
    #main_image {
        background-image: url("{% static 'media/interested.jpg'%}");
        background-position: top;
    }
}
</style>
<div class="parallax">
    <div id="main_section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base-background">
        </div>

        <div class="parallax__layer parallax__layer--base">
            <div class="bottom_right m-2">
                <a href="#training_section" id="to_training_button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="material-icons">south</i>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
            <div id="main_image" class="image_wrapper"></div>
        </div>
    </div>

    <style>
    /* this is the News section of the page */
    #news_section {
        z-index: 5;
        background: #D4D8F0;
        position: relative;
    }
    </style>
    <section id="news-section-wrapper"
        hx-get="{% url 'get_news_section' %}"
        hx-trigger="load once">
    </section>
    <!-- The container for the Sessions -->
    <style>
    #training_section {
        z-index: 5;
        background-color: #044755;
        position: relative;
    }
    #training_section > .content > h1,h3 {
        color: white;
    }
    #event_section{
        background: #D4D8F0;
    }
    </style>
    <section id="training-section-wrapper"
        hx-get="{% url 'get_training_section' %}"
        hx-trigger="load once">
    </section>
    <!-- Here the Container for the Events -->
    <section id="event-section-wrapper"
        hx-get="{% url 'get_event_section' %}"
        hx-trigger="load once">
    </section>
    <!--Now include contacts-->
    <div class="mdl-grid footer p-2">
        <div class="mdl-cell mdl-cell--12-col">
            <a href="{%url 'impressum' %}">Impressum</a> ⋅ <a href="{%url 'dataprotection' %}">Datenschutz</a>
        </div>
    </div>

</div>
