{% load static %}

<style>
/* this is the first section of the page */
#main_section {
    z-index: 5;
}
#main_section .parallax__layer--base {
    background: #607d8b;
}

@media (orientation: portrait){
    #main_image {
        background-image: url("{% static 'media/interested_portrait.jpg'%}");
        background-position: top right;
    }
}

@media (orientation: landscape){
    #main_image {
        background-image: url("{% static 'media/interested.jpg'%}");
        background-position: top;
    }
}
</style>
<div class="parallax">
    <div id="main_section" class="parallax__group">
        <div class="parallax__layer parallax__layer--base">
            <div class="bottom_right m-2">
                <a href="#training_section" id="to_training_button" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <i class="material-icons">south</i>
                </a>
            </div>
        </div>
    </div>
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
            <div id="main_image" class="image_wrapper"></div>
        </div>
    </div>

    <style>
    /* this is the News section of the page */
    #news_section {
        z-index: 5;
        background: white;
        position: relative;
    }
    </style>
    <section id="news-section-wrapper"
        hx-get="{% url 'get_news_section' %}"
        hx-trigger="load once">
    </section>
    <!-- The container for the Sessions -->
    <style>
    #training_section {
        z-index: 5;
        background-color: #607d8b;
        position: relative;
    }
    #training_section > .content > h1 {
        color: white;
    }
    </style>
    <section id="training-section-wrapper"
        hx-get="{% url 'get_training_section' %}"
        hx-trigger="load once">
    </section>
    <!-- Here the Container for the Events -->
    <section id="training-section-wrapper"
        hx-get="{% url 'get_event_section' %}"
        hx-trigger="load once">
    </section>
    <!--Now include contacts-->
</div>