{% load static %}

<style>
/*
Style for the main page
*/
/* this is the first section of the page */
#main_section {
    z-index: 5;
}

/*
The main image
*/
@media (orientation: portrait){
    #main_image {
        background-image: url("{% static 'media/interested_portrait.jpg'%}");
        background-position: top right;
    }
}

@media (orientation: landscape){
    #main_image {
        background-image: url("{% static 'media/interested.jpg'%}");
        background-position: top;
    }
}
</style>
<div class="parallax">
    <div class="parallax__group">
        <div class="parallax__layer parallax__layer--back">
            <div id="main_image" class="image_wrapper"></div>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div style="text-align: center;">
                <p class="light" style="font-size: 10vw; margin-top: 40vh ;">Parkour in Leipzig</p>
            </div>
        </div>
    </div>

    <style>
    /* this is the News section of the page */
    #news_section {
        z-index: 5;
        background: #D4D8F0;
        position: relative;
    }
    </style>
    <section id="news-section-wrapper"
        hx-get="{% url 'get_news_section' %}"
        hx-trigger="load once">
    </section>
    <!-- The container for the Sessions -->
    <style>
    #training_section {
        z-index: 5;
        background-color: #044755;
        position: relative;
    }
    #training_section > .content > h1,h3 {
        color: white;
    }
    #event_section{
        background: #D4D8F0;
    }
    </style>
    <section id="training-section-wrapper"
        hx-get="{% url 'get_training_section' %}"
        hx-trigger="load once">
    </section>
    <!-- Here the Container for the Events -->
    <section id="event-section-wrapper"
        hx-get="{% url 'get_event_section' %}"
        hx-trigger="load once">
    </section>
    <!--Now include contacts-->
    <div class="mdl-grid footer p-2">
        <div class="mdl-cell mdl-cell--12-col">
            <a href="{%url 'impressum' %}">Impressum</a> ⋅ <a href="{%url 'dataprotection' %}">Datenschutz</a>
        </div>
    </div>

</div>
