{% extends 'main/base.html' %}

{% block head %}
    {% block extra_head %}
    {% endblock %}
{% endblock %}

{% block body %}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{% block title %}{% endblock %}</span>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="javascript:history.back()">ZURÜCK</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content" >
        <div class="page-content" style="min-height: 100vh;">
            <div class="content {% block pre_content_class %}{% endblock %}">{% block pre_content %}{% endblock %}</div>
            <div class="light-bg content" style="min-height: 100vh;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</div>

<script type="text/javascript">
    //This is for Crispy Forms
    $(function(){
      $('form.uniForm').uniform();
    });
    //This is for MDL Forms
    //see https://github.com/google/material-design-lite/issues/1502#issuecomment-211702642
    $(window).on('load', function(){
            $('input[data-required]').each(function(){
                $(this).attr('required',true)
            });
    })
</script>

{% endblock %}
