<style>
    .polygon{
        width: 60px;
        height: 60px;
        color: white;
        background-color: #088eaa;
        clip-path:polygon(0 0,100% 0%,100% 78%,0% 100%);
    }
</style>

<section class="section" id="event_section">
    <div class="content">
        <h1 class="mdl-typography--display-4">Veranstaltungen</h1>
        {% if event_messags %}
        <section>
            <div class="secondary padding_all_med"><h4 class="strong">Wichtige Hinweise</h4></div>
            <div class="tertiary_bg padding_tb_small">
            {% for msg in event_messags %}
                <div class="padding_all_med" >
                    <div id="container">
                        <span style="color:grey; font-size:0.9rem;padding:0px;">Von {{msg.author.first_name}} ({{msg.date |date:'d.m.Y'}})</span>
                        <h5>{{msg.title}}</h5>
                        <p>{{msg.message}}</p>
                        <div class="trainer_ui">
                            {% if perms.members.delete_message %}
                            <a href="{% url 'message_delete' msg.id %}#nav" title="Löschen"><i class="far fa-minus-square" style="font-size:15px;"></i></a>
                            {% endif %}
                            {% if perms.members.change_message %}
                            <a href="{% url 'message_update' msg.id %}#nav" title="Bearbeiten"><i class="fas fa-pen-square" style="font-size:15px;"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </section>
        {% endif %}
        <div class="mdl-grid p-0 m-0" >
            {% for event in events %}
            {% if not event.is_past_due %}
            <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
                <div class="mdl-card mdl-shadow--2dp my-2 relative">
                    <div class="polygon top_left">
                        <h4 class="m-1">{{event.start_date|date:'M' }}</h4>
                    </div>
                    <h4 class="m-0 p-1" style="padding-left: 70px">{{event.title}}</h4>
                    <div class="mdl-card__supporting-text">
                        <p class="p-0">{% if event.multiple_days %}{{event.start_date|date:'d.m' }} - {% endif %} {{event.end_date|date:'d.m.Y' }}</p>
                        <p class="m-0"> {{event.place}}</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button">Details</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <p> Leider gibt es im Moment keine Events für dich </p>
            {% endfor %}
        </div>
    </div>
</section>