{% autoescape off %}
Hallo {{participant.get_first_name}} {{participant.get_last_name}}

Du hast dich für eine Veranstaltung auf unserer Website angemeldet:

Veranstaltung: {{event.title}}
Beginn: {{event.start_date|date:'d.m.Y (H:i)'}}
Ende: {{event.end_date|date:'d.m.Y (H:i)'}}

Wir haben von Dir die folgenden Daten übermittelt bekommen:
Name: {{participant.get_first_name}} {{participant.get_last_name}}
Geburtsdatum: {{participant.get_birthday|date:'d.m.Y'}}
E-Mail: {{participant.email}}
Telefon: {{participant.telephone}}

{% if participant.user %}
Gesamtkosten: {{event.costs|floatformat:2}} €
{% else %}
Gesamtkosten: {{event.external_costs|floatformat:2}} €
{% endif %}

Bitte überweise das Geld innerhalb der nächsten 14 Tage auf unser Vereinskonto bei:

Deutsche Skatbank
IBAN: DE67 8306 5408 0004 9710 60
BIC: GENODEF1SLR
Verwendungszweck: {{event.title}}/{{participant.get_first_name}} {{participant.get_last_name}}


Sollte etwas nicht stimmen oder Fragen/Probleme auftreten,
dann melde dich gerne bei uns

Liebe Grüße

Dein Twio X e.V.

{% include 'emails/signature.html' %}

{% endautoescape %}